{% extends "lab/lab_base.html" %}

{% block content %}

    <div class="page-message-panel container" id="lab-head-empty">
        <div class="page-message-heading">
            <h2 class="page-message-title text-center">提示信息</h2>
        </div>
        <div class="page-message-body">
            <p>
                恭喜你! 你已经完成了所有的学习任务!
            </p>

            {% include 'lab/widget_show_progress.html' %}

            <br>
            <p> 你可以在其它知识点中: <a href="{{ url_for('lab.index') }}"> 学习别的知识</a>
            </p>
        </div>
    </div>

{% endblock %}
