{% extends "base.html" %}

{% block header_ext %}
    <link href="{{ url_for('static', filename='css/lab.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="content-container" class="container">
        <ol class="breadcrumb breadcrumb-o" style="margin-top:-18px">
            <li><a href="/">{{ _('Index') }}</a></li>
            <li class="active"><a href="{{ url_for('lab.index') }}">所有实验</a></li>
        </ol>

        <div class="row">
            {% if knowledges %}
                {% for knowledge in knowledges %}
                <div class="col-lg-4 col-md-4 col-xs-6">
                    <div id="labs">
                        <div class="lab-item">
                            <div class="lab-content">
                                <div class="lab-img">
                                    <img src="/static/images/icon_lock.png" alt="{{ knowledge.title }}" class="img-responsive">
                                </div>
                                <div class="lab-title">
                                    <strong>{{ knowledge.title }}</strong>
                                </div>
                                <!-- 对简洁内容进行截断, 防止内容过长 -->
                                <p> {{ knowledge.content | truncate(140, True) }} </p>
                                <div class="progress">
                                    <div class="progress-bar"
                                         style="width: {{ knowledge.percentage }}; background: #92c26a;">
                                        <span class="progress-icon fa fa-check"
                                              style="border-color:#92c26a; color:#92c26a;"></span>
                                        <br>
                                    </div>
                                </div>
{#                                <div class="progress-value">#}
{#                                    {{ knowledge.cur_level }} / {{ knowledge.all_levels }}</div>#}
                                <div class="pull-right">
                                    <a href="{{ url_for('lab.detail', kid=knowledge.id) }}" class="btn">开始实验</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="text-center">暂未发布实验</div>
            {% endif %}
        </div>
    </div>
    <div class="tutorial">
        <a class="tutorial-text" href="{{ url_for("lab.vnc") }}">新手入门</a>
    </div>
{% endblock %}

{# knowledges #}