{% extends "lab/lab_base.html" %}

{% block header_ext %}
    <link href="{{ url_for('static', filename='css/paper.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/problem.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/simplemde.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="modal markdown-body" id="loading-gif" style="display: none">
        <p class="text-center">正在判题...</p>
        <img src="{{ url_for('static', filename='images/loading.gif') }}">
    </div>

    <div id="pass" class="modal" style="display: none">
        <p class="es-icon es-icon-iccheckcircleblack24px text-primary text-center" style="font-size: 150px;"></p>
        <p class="text-center text-xlarge"> 恭喜! 你又过关了! </p>
    </div>
    <div id="fail" class="modal" style="display: none">
        <p class="es-icon es-icon-icon_close_circle text-danger text-center" style="font-size: 150px;"></p>
        <p class="text-center text-xlarge"> 抱歉! 你没能通过! </p>
    </div>

    <div id="challenge-left">
        <!--Challenge的内容展示-->
        <div class="markdown-body">
            <p class="text-center text-xlarge"> {{ title }}</p>
            <hr>
            <div id="c_content">{{ c_content }}</div>
        </div>
        <br>
        <!-- 如果 challenge 没有 material, 则不显示 material 的区域。-->
        {% if cur_material %}
            <hr>
            <div id="player-content" class="col-md-12 material-container"></div>
        {% endif %}
    </div>

    <div id="challenge-right">
        <!--Challenge的题目展示-->
        <div data-name="question" data-id="{{ practice.id }}" data-type="{{ practice.id }}">
            <!--题干-->
            <div class="markdown-body">
                <p class="text-center text-xlarge">小测试</p>
                <hr>
                {% if question_type == 'choice' %}
                    <span id="question_content">{{ practice | get_question_content }}</span>
                {% elif question_type == 'fill' %}
                    <span data-id="fill-id">
                            {{ practice.content | split_fill | safe }}
                            <span data-id="fill-solution-len-id"
                                  style="display: none">{{ practice.solution | get_fill_solution_len }}</span>
                        </span>
                {% elif question_type == 'judge' or question_type == 'essay' %}
                    <span id="question_content">{{ practice.content }}</span>
                {% endif %}
            </div>

            <div class="markdown-body">
                {% if question_type != 'program' %}
                    {% with question=practice %}
                        {% include 'course/widget_paper_question_detail.html' %}
                    {% endwith %}
                {% endif %}
            </div>

            <button class="btn btn-primary pull-right" data-id="confirm">确认</button>
        </div>
    </div>

{% endblock %}

{% block footer_ext %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/markdown_latex_support.js') }}"></script>
    <script>
        $(document).ready(function () {
            var c_content = $("#c_content");
            c_content.html(latex_support(c_content.html()));

            var q_content = $("#question_content");
            q_content.html(latex_support(q_content.html()));
        });
    </script>


    <script>
        var address = "{{ url_for('lab.knowledge', kid=kid) }}";
        var next_challenge_uri = "{{ url_for('lab.knowledge', kid=kid, progress=next_progress) }}";
        {% if question_type != 'program' %}
            var question_type = {{ practice.type }};
        {% else %}
            var question_type = 6;
        {% endif %}
    </script>

    <script>
        var js_material_type = "{{ cur_material.m_type if cur_material else "None" }}";
        var js_pdf_src = "{{ url_for('static', filename='js/pdfjs/web/viewer.html') }}?file={{ url_for('static', filename='resource') }}/" + "{{cur_material.uri}}";
        var js_material_src = "{{ url_for('static', filename='resource') }}/" + "{{cur_material.uri}}";

        $(function () {
            var video_player = '<div id="player" style="height:90%"></div>';
            var pdf_player = '<iframe id="player" class="course-player" frameborder="0" style="overflow:hidden;height:90%;width:100%" allowfullscreen></iframe>';
            var clappr = null;

            if (js_material_type == "None") {
                return;
            }
            else if (js_material_type == "pdf") {
                $("#player-content").empty().append(pdf_player);
                $("#player").attr("src", js_pdf_src);
            }
            else {
                $("#player-content").empty().append(video_player);
                clappr = new Clappr.Player({
                    source: js_material_src,
                    baseUrl: 'http://cdn.clappr.io/latest',
                    parentId: "#player",
                    height: "100%",
                    width: "100%",
                    mediacontrol: {
                        seekbar: "#46c37b",
                        buttons: "#ffffff"
                    }
                });
            }
        });

    </script>

    <script src="{{ url_for('static', filename='js/lab/practice.js') }}"></script>
    <script src="{{ url_for('static', filename='js/clappr.min.js') }}"></script>
{% endblock %}

{#title#}
{#c_content#}
{#cur_material: 可能为空, 也就是说当前 challenge 并没有引用 material #}
{#practice#}
{#question_type#}
{#kid#}
{#next_progress#}