<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>
        {% block title %}{% if title %}{{ title }}{% endif %}-{{ _('Challenges') }}{% endblock %}
    </title>

    <script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link href="{{ url_for('static', filename='css/ehpc-icon.css') }}" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery-modal/0.8.0/jquery.modal.js"></script>
    <link href="//cdn.bootcss.com/jquery-modal/0.8.0/jquery.modal.min.css" rel="stylesheet">

    {% block header_ext %}
    {% endblock %}

<body>
<!-- 导航栏目开始 -->
<nav class="content-header navbar" id="challenge-head">

    <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav clearfix hidden-xs" id="nav">
            <li>
                <a href="{{ url_for('lab.index') }}">{{ _('Virutal Lab') }}</a>
            </li>
        </ul>
    </nav>

    <nav class="collapse navbar-collapse">
        <div class="navbar-user left">
            <ul class="nav navbar-nav clearfix hidden-xs">
                <li>
                    <a href="{{ url_for('lab.my_progress', kid=kid) }}" rel="modal:open">学习进度</a>
                </li>
                <li>
                    <a href="{{ url_for('group.index') }}">社区讨论</a>
                </li>
            </ul>
            <ul class="nav user-nav">
                <li class="user-avatar-li nav-hover">
                    <a href="javascript:;" class="dropdown-toggle">
                        <img class="avatar-xs" src="{{ current_user.avatar_url | get_avatar_path }}">
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation" class="dropdown-header">{{ current_user.username }}</li>
                        <li><a href="{{ url_for('user.view', uid=current_user.id) }}"><i
                                class="es-icon es-icon-person"></i>{{ _('Personal Page') }}</a>
                        </li>
                        <li><a href=""><i class="es-icon es-icon-homework"></i>{{ _("Job's List") }}</a>
                        </li>
                        <li><a href=""><i class="es-icon es-icon-homework"></i>学习进度</a></li>
                        <li><a href="{{ url_for('user.setting') }}"><i
                                class="es-icon es-icon-setting"></i>{{ _('Setting') }}</a></li>
                        <li><a href="{{ url_for('user.signout') }}"><i
                                class="es-icon es-icon-power"></i>{{ _('Logout') }}</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </nav>
</nav>
<!-- 导航栏目结束 -->

<div class="lab-content-wrap" id="challenge-body">
    <!-- 页面元素 -->
    {% block content %}
    {% endblock %}
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<!-- 防止 CSRF 攻击: https://github.com/xuelangZF/ehpc/issues/249 -->
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
    $(function () {
        $('form[method=post]').append('<input type="hidden" name="csrf_token" value="' + csrf_token + '"/>');
    });
</script>

{% block footer_ext %}{% endblock %}

</body>
</html>

