<!-- 学习进度的模态窗口 -->
<p class="text-center text-xlarge"> {{ title }}</p>
<hr>
<ul class="period-list" id="course-item-list">
    {% for c in challenges %}
        <li class="period lesson-item">
            <a href="{{ url_for('lab.knowledge', kid=kid, progress=c.knowledgeNum) }}">
                {% if loop.index <= cur_level %}
                    <i class="es-icon es-icon-studydone status-icon color-primary"></i>
                {% else %}
                    <i class="es-icon es-icon-study status-icon"></i>
                {% endif %}
                <span class="title"> {{ c.title }}</span>
            </a>
        </li>
    {% endfor %}
</ul>
