{% extends "lab/vnc_base.html" %}

{% block header_ext %}
    <link href="//cdn.bootcss.com/bootstrap-select/1.12.1/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/simplemde.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="vnc-left">
        <nav class="navbar vnc-left-nav">
            <div class="container-fluid">
                <a href="{{ url_for('lab.tasks_list', vnc_knowledge_id=vnc_knowledge_id) }}" class="btn btn-green"><span class="glyphicon glyphicon-chevron-left"></span>返回虚拟实验室</a>
            </div>
        </nav>

        <div style="padding: 10px">
            <div class="progress">
                <div id="progress-bar" style="width:{{ response_vnc_task.vnc_task_num / vnc_tasks_count * 100 }}%" class="progress-bar progress-bar-success"></div>
            </div>
            <div class="progress-nums"><span id="cur-task-number">{{ response_vnc_task.vnc_task_num | string }}</span>/{{ vnc_tasks_count | string }}</div>

            <div class="markdown-body" style="border-top: solid 1px #eee">
                <p id="document-title" class="text-center text-xlarge"> {{ response_vnc_task.title }}</p>
                <div id="document-content" data-to-render="{{ response_vnc_task.content }}"></div>
            </div>
            <button id="continue" class="btn btn-green btn-block" style="margin-bottom: 10px">继续学习<span class="glyphicon glyphicon-forward"></span></button>
        </div>
    </div>
    <div class="vnc-right">
        <div id="display" style="display: none"></div>
        <img id="loading-svg" src="{{ url_for('static', filename='images/radio.svg') }}" style="position: absolute;top: 50%;left: 50%;transform: translateX(-50%) translateY(-50%);width: 10%;height: 10%">
    </div>

    <div class="vnc-sidebar-trigger vnc-sidebar-trigger-show" id="toolbar-trigger">隐藏工具栏</div>
    <div class="vnc-sidebar vnc-sidebar-show" id="sidebar">
        <div data-toggle="modal" data-target="#clipboard" class="vnc-nav"><i class="fa fa-clipboard" aria-hidden="true"></i>&nbsp;&nbsp;剪切板</div>
        <div id="btn-fullscreen" class="vnc-nav"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;&nbsp;<span id="btn-hide-document-text">隐藏文档</span></div>
        <div id="btn-browser-fullscreen" class="vnc-nav"><i class="fa fa-arrows-alt" aria-hidden="true"></i>&nbsp;&nbsp;<span id="btn-fullscreen-text">全屏</span></div>
        <div class="vnc-nav" id="change-resolution"><i class="fa fa-desktop" aria-hidden="true"></i>&nbsp;&nbsp;更改分辨率</div>
        <div class="vnc-nav" id="get-vnc-lab-progress"><i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;&nbsp;实验进度</div>
    </div>

    <div class="modal fade" id="clipboard" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">剪切板</h4>
                </div>
                <div class="modal-body" style="height: 250px;font-size: medium">
                    <textarea id="clipboard-content" class="form-control" style="height: 100%"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="select-resolution" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">更改分辨率</h4>
                </div>
                <div class="modal-body" style="height: 250px;font-size: medium;text-align:center">
                    <div class="resolution-input-center">
                        <div class="selector-center" id="select">
                            <label for="resolution-selector">选择分辨率</label>
                            <select class="selectpicker" data-live-search="true" name="resolution" id="resolution-selector">
                                <option value="2560x1440">2560x1440 (16:9) (2K)</option>
                                <option value="1920x1080">1920x1080 (16:9)</option>
                                <option value="1600x900">1600x900 (16:9)</option>
                                <option value="1280x800">1280x800 (8:5)</option>
                                <option value="1280x768">1280x768 (5:3)</option>
                                <option value="1280x720">1280x720 (16:9)</option>
                                <option value="1024x768">1024x768 (4:3)</option>
                                <option value="800x600">800x600 (4:3)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="pull-right btn btn-primary" style="margin-left: 10px" id="cancel-change">取消</button>
                    <button class="pull-right btn btn-primary" style="margin-left: 10px" id="confirm-change">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="height: 250px;">
                    <img src="{{ url_for('static', filename='images/loading.svg') }}" class="loading-center">
                </div>
            </div>
        </div>
    </div>

    {% include "widget/alert_modal.html" %}

    <textarea id="clipboard-data" style="display: none"></textarea>
{% endblock %}

{% block footer_ext %}
    <script src="//cdn.bootcss.com/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/markdown_latex_support.js') }}"></script>
    <script>
        $(function () {
            var document_content = $("#document-content"), document_title = $("#document-title");
            document_content.html(latex_support(document_content.data('to-render')));
            document_content.attr('data-to-render', null);
            var cur_task_num = {{ response_vnc_task.vnc_task_num }};

            $("#continue").click(function () {//继续学习
                 $.ajax({
                     url: location.href,
                     type: "post",
                     data: {
                         op: "next task",
                         vnc_task_num: cur_task_num.toString()
                     },
                     success: function (data) {
                         if(data["status"] === "success"){
                             document_title.text(data["title"]);
                             document_content.html(latex_support(data["content"]));
                             cur_task_num++;
                             $("#progress-bar").css("width", (cur_task_num / {{ vnc_tasks_count }} * 100).toString() + "%");
                             $("#cur-task-number").text(cur_task_num);
                             history.replaceState({}, 'test', location.href.split("?")[0]+"?request_vnc_task_number=" + cur_task_num.toString());
                         }
                         else if(data["status"] === "fail"){
                             alert_modal("失败，请重试");
                         }
                         else if(data["status"] === "finish"){
                             location.href = data["next"];
                         }
                     }
                 })
            });
        });
    </script>
    <script>
        var header = $(".vnc-navbar").eq(0), //导航栏
            footer = $(".content-footer").eq(0), //底部栏
            content = $(".content-holder").eq(0), //中间内容容器
            content_left = $(".vnc-left").eq(0), //左侧文档内容容器
            content_right = $(".vnc-right").eq(0), //右侧文档内容容器
            clipboard = $("#clipboard"), //剪切板模态框
            pick_resolution = $("#select-resolution"), //分辨率调节模态框
            guac, //Guacamole类
            hide_document = false, //左侧文档隐藏标识
            browser_fullscreen = false, //浏览器全屏标识
            hide_sidebar = false; //隐藏工具栏标识
        $(function () {
            $("#toolbar-trigger").click(function () {
                if(hide_sidebar){
                    hide_sidebar = false;
                    $(this).text("隐藏工具栏");
                    $(this).removeClass("vnc-sidebar-trigger-hide");
                    $(this).addClass("vnc-sidebar-trigger-show");
                    $("#sidebar").removeClass("vnc-sidebar-hide");
                    $("#sidebar").addClass("vnc-sidebar-show");
                }
                else{
                    hide_sidebar = true;
                    $(this).text("显示工具栏");
                    $(this).addClass("vnc-sidebar-trigger-hide");
                    $(this).removeClass("vnc-sidebar-trigger-show");
                    $("#sidebar").addClass("vnc-sidebar-hide");
                    $("#sidebar").removeClass("vnc-sidebar-show");
                }

            });

            $("#btn-fullscreen").click(function () {//文档隐藏选项按钮
                if(!hide_document){
                    hide_document = true;
                    $("#btn-hide-document-text").text("显示文档");
                    content_left.hide("blind", {direction: "left"}, "normal", function () {
                        content_right.removeClass("vnc-right");
                        content_right.addClass("vnc-whole");
                        content.removeClass("content-holder");
                        content.addClass("content-holder-full");
                        $("#display").css("position", "absolute");
                        $(window).trigger("resize");
                    });
                }
                else{
                    hide_document = false;
                    $("#btn-hide-document-text").text("隐藏文档");
                    content_left.show("blind", {direction: "left"}, "normal");
                    content_right.removeClass("vnc-whole");
                    content_right.addClass("vnc-right");
                    content.removeClass("content-holder-full");
                    content.addClass("content-holder");
                    $("#display").css("position", "absolute");
                    $(window).trigger("resize");
                }
            });

            $("#btn-browser-fullscreen").click(function () {//浏览器全屏按钮
                if(!browser_fullscreen){
                    var element = document.documentElement;
                    if(element.requestFullscreen) {
                        element.requestFullscreen();
                        browser_fullscreen = true;
                        $("#btn-fullscreen-text").text("退出全屏")
                    } else if(element.mozRequestFullScreen) {
                        element.mozRequestFullScreen();
                        browser_fullscreen = true;
                        $("#btn-fullscreen-text").text("退出全屏")
                    } else if(element.webkitRequestFullscreen) {
                        element.webkitRequestFullscreen();
                        browser_fullscreen = true;
                        $("#btn-fullscreen-text").text("退出全屏")
                    } else if(element.msRequestFullscreen) {
                        element.msRequestFullscreen();
                        browser_fullscreen = true;
                        $("#btn-fullscreen-text").text("退出全屏")
                    }
                }else{
                    if(document.exitFullscreen) {
                        document.exitFullscreen();
                        browser_fullscreen = false;
                        $("#btn-fullscreen-text").text("全屏")
                    } else if(document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                        browser_fullscreen = false;
                        $("#btn-fullscreen-text").text("全屏")
                    } else if(document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                        browser_fullscreen = false;
                        $("#btn-fullscreen-text").text("全屏")
                    }
                }
            });
        });

        $(function () {//请求连接远程桌面
            $.ajax({
                url: location.href,
                type: "post",
                data: {
                    op: "connect"
                },
                success: function (data) {
                    if(data['status'] === "success"){
                        $("#loading-svg").hide("drop", {direction: "right"}, 1000, function () {
                            $("#display").show();
                            do_event_bind(data["token"]);
                            do_connect_vnc_server(data["token"]);
                        });
                    }
                    else if(data['status'] === 'fail'){
                        alert_modal(data['msg']);
                    }
                }
            });
        });

        function do_event_bind(token) {
            $("#change-resolution").click(function () {
                $("#select-resolution").modal({backdrop: 'static', keyboard: false});
            });

            $("#cancel-change").click(function () {
                $("#select-resolution").modal("hide");
            });

            $("#confirm-change").click(function () {
                var resolution_height, resolution_width;
                var resolution_selector = $("#resolution-selector");
                if(resolution_selector.val().length !== 0){
                    resolution_width = resolution_selector.val().split("x")[0];
                    resolution_height = resolution_selector.val().split("x")[1];
                }
                else{
                    alert("请选择分辨率");
                    return;
                }

                if(resolution_width<640){
                    alert("最小宽度不能小于640");
                    return;
                }
                if(resolution_height<360){
                    alert("最小高度不能小于360");
                    return;
                }
                $("#select-resolution").modal("hide");
                $("#loading").modal({backdrop: 'static', keyboard: false});
                console.log(resolution_width, resolution_height);
                $.ajax({
                    url: "http://a002.nscc-gz.cn:10231/server/vncsetter",
                    type: "post",
                    data: {
                        "width": Math.floor(resolution_width),
                        "height": Math.floor(resolution_height),
                        "token": token
                    },
                    success: function (data) {
                        data = JSON.parse(data);
                        $("#loading").modal("hide");
                        if(data["status"] === "success"){
                            guac.disconnect();
                            $.ajax({
                                url: location.href,
                                type: "post",
                                data: {
                                    op: "connect"
                                },
                                success: function (data) {
                                    if(data['status'] === "success"){
                                        $("#display").empty();
                                        do_event_unbind();
                                        do_event_bind(data["token"]);
                                        do_connect_vnc_server(data["token"]);
                                    }
                                    else if(data['status'] === 'fail'){
                                        alert_modal(data['msg']);
                                    }
                                }
                            });
                        }
                        else if(data["status"] === "fail"){
                            alert("修改分辨率失败，请重试");
                        }
                    }
                });
            });
        }

        function do_connect_vnc_server(token){
            var display = document.getElementById("display");
            guac = new Guacamole.Client(
                new Guacamole.HTTPTunnel("http://a002.nscc-gz.cn:10231/server/tunnel")
            );
            display.appendChild(guac.getDisplay().getElement());
            guac.onerror = function (error) {
                //alert_modal("远程桌面连接错误");
            };
            guac.connect("token="+token);
            window.onunload = function () {
                guac.disconnect();
            };
            var sendScaledMouseState = function sendScaledMouseState(mouseState) {
                var scaledState = new Guacamole.Mouse.State(
                    mouseState.x / guac.getDisplay().getScale(),
                    mouseState.y / guac.getDisplay().getScale(),
                    mouseState.left,
                    mouseState.middle,
                    mouseState.right,
                    mouseState.up,
                    mouseState.down);
                guac.sendMouseState(scaledState);
            };
            var mouse = new Guacamole.Mouse(guac.getDisplay().getElement());
            mouse.onmousedown =
                mouse.onmouseup =
                    mouse.onmousemove = function (mouseState) {
                        if (!guac || !guac.getDisplay())
                            return;
                        guac.getDisplay().showCursor(true);
                        sendScaledMouseState(mouseState);
                    };
            var keyboard = new Guacamole.Keyboard(document);
            keyboard.onkeydown = function (keysym) {
                guac.sendKeyEvent(1, keysym);
            };
            keyboard.onkeyup = function (keysym) {
                guac.sendKeyEvent(0, keysym);
            };
            guac.getDisplay().onresize = function (width, height) {
                if(!guac || !guac.getDisplay()) return;
                var height_to_set = Math.floor(content_right.eq(0).height()),
                    width_to_set = Math.floor(content_right.eq(0).width()),
                    cur_height = Math.floor(height),
                    cur_width = Math.floor(width);

                var scale_height = height_to_set/cur_height;
                var scale_width = width_to_set/cur_width;
                guac.getDisplay().scale(scale_height > scale_width?scale_width:scale_height);
                $("#display").css("position", "absolute");
                $("#display").css("top", 0.5 * (Math.floor(content_right.height()) - Math.floor($("#display").height())));
            };
            guac.onclipboard = function (stream, mimetype) {
                var reader = new Guacamole.StringReader(stream);
                reader.ontext = function (text) {
                    $("#clipboard-content").val(text);
                }
            };

            $(window).resize(function () {
                if(!guac || !guac.getDisplay()) return;
                var height_to_set = Math.floor(content_right.eq(0).height());
                var width_to_set = Math.floor(content_right.eq(0).width());
                var cur_height = Math.floor(guac.getDisplay().getHeight());
                var cur_width = Math.floor(guac.getDisplay().getWidth());

                var scale_height = height_to_set/cur_height;
                var scale_width = width_to_set/cur_width;
                guac.getDisplay().scale(scale_height > scale_width?scale_width:scale_height);

                guac.getDisplay().getDefaultLayer().resize(Math.floor(guac.getDisplay().getDefaultLayer().height * cur_width / cur_height), Math.floor(guac.getDisplay().getDefaultLayer().height));
                if(hide_document) {
                    $("#display").css("left", 0.5 * (Math.floor(content_right.width() - $("#display").width())));
                    $("#display").css("top", 0);
                }
                else {
                    $("#display").css("left", 0);
                    $("#display").css("top", 0.5 * (Math.floor(content_right.height() - $("#display").height())));
                }
            });

            $("#clipboard-content").change(function () {
                if(!guac || !guac.getDisplay()) return;
                guac.setClipboard($(this).val());
            });

            clipboard.on('shown.bs.modal', function () {
                keyboard.onkeydown = null;
                keyboard.onkeyup = null;
            });

            clipboard.on('hidden.bs.modal', function () {
                keyboard.onkeydown = function (keysym) {
                    guac.sendKeyEvent(1, keysym);
                };
                keyboard.onkeyup = function (keysym) {
                    guac.sendKeyEvent(0, keysym);
                };
            });

            pick_resolution.on('shown.bs.modal', function () {
                keyboard.onkeydown = null;
                keyboard.onkeyup = null;
            });

            pick_resolution.on('hidden.bs.modal', function () {
                keyboard.onkeydown = function (keysym) {
                    guac.sendKeyEvent(1, keysym);
                };
                keyboard.onkeyup = function (keysym) {
                    guac.sendKeyEvent(0, keysym);
                };
            });
        }

        function do_event_unbind() {
            $("#change-resolution").unbind();
            $("#custom-resolution").unbind();
            $("#cancel-change").unbind();
            $("#input-resolution-width").unbind();
            $("#input-resolution-height").unbind();
            $("#confirm-change").unbind();
            $("#auto-resolution").unbind();
            $(window).unbind();
            $("#clipboard-content").unbind();
        }
    </script>
{% endblock %}
