{% extends "lab/vnc_base.html" %}

{% block header_ext %}

{% endblock %}

{% block content %}
    <div class="vnc-left" style="text-align: center">
        <img src="{{ url_for("static", filename="images/ehpc.png") }}">
    </div>
    <div class="vnc-right">
        <div id="display"></div>
    </div>

    <div class="modal fade center" id="clipboard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">剪切板</h4>
                </div>
                <div class="modal-body" style="height: 300px;font-size: medium">
                    <textarea id="clipboard-content" class="form-control" style="height: 100%"></textarea>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_ext %}
    <script>
        {% if status == 'success' %}
            var header = $(".vnc-navbar").eq(0), footer = $(".content-footer").eq(0), content = $(".content-holder"),
                content_left = $(".vnc-left"), content_right = $(".vnc-right");
            var guac, clipboard = $("#clipboard");
            var is_full = false;
            $(function () {
                $("#btn-fullscreen").click(function () {
                    if(!is_full){
                        is_full = true;
                        $("#btn-fullscreen").text("返回");
                        header.removeClass("vnc-navbar");
                        header.addClass("fullscreen-vnc-navbar");
                        footer.hide("blind", {direction: "down"}, "normal");
                        content_left.hide("blind", {direction: "left"}, "normal", function () {
                            content_right.removeClass("vnc-right");
                            content_right.addClass("vnc-whole");
                            content.removeClass("content-holder");
                            content.addClass("content-holder-full");
                            $("#display").css("position", "absolute");
                            $(window).trigger("resize");
                        });
                    }
                    else{
                        is_full = false;
                        $("#btn-fullscreen").text("全屏");
                        header.removeClass("fullscreen-vnc-navbar");
                        header.addClass("vnc-navbar");
                        footer.show("blind", {direction: "down"}, "normal");
                        content_left.show("blind", {direction: "left"}, "normal");
                        content_right.removeClass("vnc-whole");
                        content_right.addClass("vnc-right");
                        content.removeClass("content-holder-full");
                        content.addClass("content-holder");
                        $("#display").css("position", "absolute");
                        $(window).trigger("resize");

                    }
                });
            });

            $(function () {
                var display = document.getElementById("display");
                guac = new Guacamole.Client(
                    new Guacamole.HTTPTunnel("http://a002.nscc-gz.cn:10231/server/tunnel")
                );
                display.appendChild(guac.getDisplay().getElement());
                guac.onerror = function (error) {
                    console.log(error);
                };
                guac.connect("token={{ token }}");
                window.onunload = function () {
                    guac.disconnect();
                };
                var sendScaledMouseState = function sendScaledMouseState(mouseState) {
                    var scaledState = new Guacamole.Mouse.State(
                        mouseState.x / guac.getDisplay().getScale(),
                        mouseState.y / guac.getDisplay().getScale(),
                        mouseState.left,
                        mouseState.middle,
                        mouseState.right,
                        mouseState.up,
                        mouseState.down);
                    guac.sendMouseState(scaledState);
                };
                var mouse = new Guacamole.Mouse(guac.getDisplay().getElement());
                mouse.onmousedown =
                    mouse.onmouseup =
                        mouse.onmousemove = function (mouseState) {
                            if (!guac || !guac.getDisplay())
                                return;
                            guac.getDisplay().showCursor(true);
                            sendScaledMouseState(mouseState);
                        };
                var keyboard = new Guacamole.Keyboard(document);
                keyboard.onkeydown = function (keysym) {
                    guac.sendKeyEvent(1, keysym);
                };
                keyboard.onkeyup = function (keysym) {
                    guac.sendKeyEvent(0, keysym);
                };

                guac.getDisplay().onresize = function (width, height) {
                    if(!guac || !guac.getDisplay()) return;
                    var height_to_set = content_right.eq(0).height();
                    var width_to_set = content_right.eq(0).width();
                    var cur_height = height;
                    var cur_width = width;

                    var scale_height = height_to_set/cur_height;
                    var scale_width = width_to_set/cur_width;
                    guac.getDisplay().scale(scale_height > scale_width?scale_width:scale_height);
                    $("#display").css("position", "absolute");
                };

                guac.onclipboard = function (stream, mimetype) {
                    var reader = new Guacamole.StringReader(stream);
                    reader.ontext = function (text) {
                        $("#clipboard-content").val(text);
                    }
                };
                $(window).resize(function () {
                    if(!guac || !guac.getDisplay()) return;
                    var height_to_set = content_right.eq(0).height();
                    var width_to_set = content_right.eq(0).width();
                    var cur_height = guac.getDisplay().getHeight();
                    var cur_width = guac.getDisplay().getWidth();

                    var scale_height = height_to_set/cur_height;
                    var scale_width = width_to_set/cur_width;
                    guac.getDisplay().scale(scale_height > scale_width?scale_width:scale_height);

                    guac.getDisplay().getDefaultLayer().resize(guac.getDisplay().getDefaultLayer().height * 4 / 3, guac.getDisplay().getDefaultLayer().height);
                    if(is_full) $("#display").css("left", 0.5 * (content_right.width() - $("#display").width()));
                    else $("#display").css("left", 0);
                });

                $("#clipboard-content").change(function () {
                    if(!guac || !guac.getDisplay()) return;
                    console.log($(this).val());
                    guac.setClipboard($(this).val());
                });

                clipboard.on('shown.bs.modal', function () {
                    keyboard.onkeydown = null;
                    keyboard.onkeyup = null;
                });

                clipboard.on('hidden.bs.modal', function () {
                    keyboard.onkeydown = function (keysym) {
                        guac.sendKeyEvent(1, keysym);
                    };
                    keyboard.onkeyup = function (keysym) {
                        guac.sendKeyEvent(0, keysym);
                    };
                });
            });
        {% elif status == 'no machine available' %}
            display.text("设备已满，请稍后重试");
        {% elif status == 'error' %}
            display.text("无法连接vnc服务器");
        {% endif %}
    </script>
{% endblock %}
