{% extends "lab/vnc_base.html" %}

{% block nav %}
    <nav class="vnc-navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for("lab.index") }}">虚拟实验室</a>
            </div>
            <div>
                <ul class="navbar-nav nav">
                    <li><a class="vnc-lab-progress" id="get-vnc-lab-progress">实验进度</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="page-message-panel container" id="lab-head-empty">
        <div class="page-message-heading">
            <h2 class="page-message-title text-center">提示信息</h2>
        </div>
        <div class="page-message-body">
            <p>
                前面还有任务没有完成, 请先完成前面的任务。
            </p>
            <p> 你可以从第
                <a href="{{ url_for('lab.vnc_task', vnc_knowledge_id=vnc_knowledge_id, request_vnc_task_number=next_vnc_task_num) }}">{{ next_vnc_task_num }}小节</a>开始。
            </p>
        </div>
    </div>

    {% include "widget/alert_modal.html" %}
{% endblock %}

{% block footer %}
    <footer class="content-footer">
        <div class="copyright">
            Powered by <a href="http://sdcs.sysu.edu.cn/" target="_blank">{{ _('SYSU SDCS') }}</a>
        </div>
    </footer>
{% endblock %}