<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>
        {% block title %}{% if title %}{{ title }}{% endif %}-{{ _('eHPC') }}{% endblock %}
    </title>

    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/ehpc-icon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/vnc.css') }}" rel="stylesheet">
    <link href="http://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">

    {% block header_ext %}
    {% endblock %}
</head>

<body>

<div class="content-total">

    {% block nav %}
    {% endblock %}

    <div class="content-holder">
        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
    {% endblock %}
</div>

<script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/parsley.js') }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="js/vnc/guacamole.min.js") }}"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!-- 防止 CSRF 攻击: https://github.com/xuelangZF/ehpc/issues/249 -->
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
    $(function () {
        $('form[method=post]').append('<input type="hidden" name="csrf_token" value="' + csrf_token + '"/>');
    });
</script>

<script>
    function alert_modal(content, isHtml) {
        var obj = $("#modal-alert");
        if (isHtml) {
            obj.find(".modal-body").html(content);
        }
        else {
            obj.find(".modal-body").text(content);
        }
        obj.modal('show');
    }
    $(function () {
        $("#get-vnc-lab-progress").click(function () {
            $.ajax({
                url: "{{ url_for("lab.vnc_task", vnc_knowledge_id=vnc_knowledge_id) }}",
                type: "post",
                data: {
                    op: "get vnc lab progress"
                },
                success: function (data) {
                    if(data["status"] === "success"){
                        alert_modal(data["html"], true);
                    }
                    else{
                        alert_modal("请重试");
                    }
                }
            })
        });
    });
</script>

{% block footer_ext %}{% endblock %}

</body>
</html>