{% extends "base.html" %}

{% block header_ext %}

{% endblock %}

{% block content %}
    <div id="content-container" class="container">
        <div class="panel">
            <div class="panel-heading">
                <div class="markdown-body">
                    <p class="text-center text-xlarge"> {{ vnc_knowledge.title }}</p>
                </div>
            </div>
            <div class="panel-body">
                <div class="markdown-body">
                    <div id="c_content" data-to-render="{{ vnc_knowledge.content }}"></div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block footer_ext %}
    <script src="//cdn.bootcss.com/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/markdown_latex_support.js') }}"></script>
    <script>
        $(function () {
            var c_content = $("#c_content");
            c_content.html(latex_support(c_content.data('to-render')));
            c_content.attr('data-to-render', null);
        });
    </script>
{% endblock %}
