<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>
        {% block title %}{% if title %}{{ title }}{% endif %}-{{ _('eHPC') }}{% endblock %}
    </title>

    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/ehpc-icon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/vnc.css') }}" rel="stylesheet">
    <link href="http://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">

    {% block header_ext %}
    {% endblock %}
</head>

<body>

<div class="content-total">
    <nav class="vnc-navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand">虚拟实验室</span>
            </div>
            <div>
                <ul class="navbar-nav nav">
                    <li><a data-toggle="modal" data-target="#clipboard" class="vnc-nav">剪切板</a></li>
                    <li><a id="btn-fullscreen" class="vnc-nav">桌面全屏</a></li>
                    <li><a id="btn-browser-fullscreen" class="vnc-nav">浏览器全屏</a></li>
                    <li><a class="vnc-nav" href="{{ url_for("lab.index") }}">返回虚拟实验室</a></li>
                    <li><a class="vnc-nav" id="change-resolution">更改分辨率</a></li>
                    <li><a class="vnc-nav" id="auto-resolution">最佳分辨率</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="content-holder">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="content-footer">
        <div class="copyright">
            Powered by <a href="http://sdcs.sysu.edu.cn/" target="_blank">{{ _('SYSU SDCS') }}</a>
        </div>
    </footer>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/parsley.js') }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="js/vnc/guacamole.min.js") }}"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!-- 防止 CSRF 攻击: https://github.com/xuelangZF/ehpc/issues/249 -->
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
    $(function () {
        $('form[method=post]').append('<input type="hidden" name="csrf_token" value="' + csrf_token + '"/>');
    });
</script>

{% block footer_ext %}{% endblock %}

</body>
</html>