{% extends 'admin/base.html' %}

{% block header_ext %}
    <script src="//cdn.bootcss.com/datatables/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.bootcss.com/semantic-ui/2.2.7/semantic.min.js"></script>
    <script src="//cdn.bootcss.com/datatables/1.10.13/js/dataTables.semanticui.min.js"></script>
    <link type="text/css" rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.2.7/semantic.min.css">
    <link type="text/css" rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.13/css/dataTables.semanticui.min.css">
{% endblock %}

{% block content %}
    <div class="container" id="content-container">
        <div class="panel panel-default panel-col">
            <div class="panel-heading">
                用户管理
            </div>
            <div class="panel-body" style="padding: 10px">

                <table class="table" id="user-table" style="word-break:break-all;">
                    <thead>
                    <tr>
                        <th>用户名</th>
                        <th>邮箱地址</th>
                        <th>用户角色</th>
                        <th>上次登录时间</th>
                        <th>权限管理</th>
                    </tr>
                    </thead>
                    <tbody id="tb">
                    {% for u in users %}
                        <tr uid="{{ u.id }}">
                            <td>{{ u.username }}</td>
                            <td>{{ u.email }}</td>
                            <td>{{ u | show_role }}</td>
                            <td>{{ u.last_login }}</td>
                            <td>
                                <a href="{{ url_for('admin.user_edit', uid=u.id) }}">修改权限</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}

{% block footer_ext %}
    <script>
        $(document).ready(
                function () {
                    $('#user-table').DataTable({
                        language: {
                            url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Chinese.json"
                        },
                    });
                });
    </script>
{% endblock %}