{% extends 'base.html' %}
{% block title %}{{ _("Password reset email sent") }}{% endblock %}

{% block content %}
<div class="container">
    {% if 'Successful' == message %}
    <h2 class="text-center" style="margin-bottom:1em"> {{ _('Successful!') }} </h2>
    <p>
        {{ _("Password reset successfully. ") }} 
        </br>
        </br>
        </br>
    </p>
    {% else %}
    <h2 class="text-center" style="margin-bottom:1em"> {{ _('Failed!') }} </h2>
    <p>
        {{ _('Password reset failed somehow.  Please make sure your reset link is legal and not used already!') }}
        </br>
        </br>
        </br>
    </p>
    {% endif %}

</div>
{% endblock %}

