/* 虚拟实验室页面用到的 css */

/* 页面总体布局 */
#challenge-head {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}

#challenge-body {
    height: 100%;
    overflow: hidden;
    position: relative;
}

#challenge-left, #challenge-right {
    margin-top: 80px;
    padding-top: 20px;
    margin-left: 4%;
    float: left;
    width: 44%;
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    overflow-y: auto;
}

#challenge-right {
    left: 48%;
}

/* 虚拟实验室中的提示信息*/
.page-message-panel {
    background: #fff;
    border: 1px solid #ccc;
    padding: 50px 50px;
}

.page-message-heading {
    margin-bottom: 25px;
}

.page-message-title {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 24px;
}

.page-message-body {
    font-size: 16px;
}

/* 虚拟实验室 */
#lab-head-empty {
    margin-top: 100px;
    min-height: 200px;
}

.modal {
    overflow: visible;
}

.actions {
    z-index: 1000;
    position: absolute;
    right: 0;
    top: 20px;
    line-height: 46px;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    background-color: #e5e5e5;
    border-left: 1px solid #d4d4d4;
    font-family: Consolas,Monaco,'Lucida Console','Courier New',monospace;
}

/*代码框样式*/
.editor-header {
    background-color: #3D3D3D;
    height: 45px;
    color: white;
    padding: 6px 0 0 45px;
    margin: 0;
}

#run{
    float: right;
    margin-right: 12px;
}

#laboratory {
    overflow: hidden;
    height: 60%;
    padding: 0;
    margin-top: 0;
}

#editor{
    border-color: #3D3D3D;
}

.editor {
    position: relative;
    height: 100%;
    transition: transform .5s;
    transform: translateX(0);
}

#terminal {
    position: absolute; 
    height: 40%;
    bottom: 10px;
    border: 0;
    border-top: 1px solid #3D3D3D;
    border-left: 42px solid #3D3D3D;
    color: #E6E1DC;
    width: 100%;
    font-weight: bolder;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: #303030;
    padding: 5px;
    box-shadow: inset 0 0 10px black;
}

.terminal{
    font-family: 'Courier New';
    font-size: 14px;
    outline: none;
    max-width: 100%;
    overflow: hidden;
}

#terminal .terminal {
    font-size: 14px;
    background-color: transparent;
    border-color: transparent;
}

#continue{
    margin-bottom: 50px;
}