/* 虚拟实验室页面用到的 css */

/* 虚拟实验室首页CSS */
.lab-item img {
    max-width: 100%
}

.lab-item a {
    margin: 0 10px 10px 0;
}

.lab-item p {
    margin: 10px;
    height: 100px;
    overflow: hidden;
}

.lab-item h1, h2, h3, h4 {
    margin-top: 0;
}

#labs {
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#labs .lab-item {
    margin-bottom: 20px;
    position: relative;
}

#labs .lab-item .lab-content {
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#labs .lab-item .lab-content h2 {
    font-size: 150%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 15px;
    background: #cccccc;
    color: black;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

#labs .btn {
    padding: 5px 15px;
    text-decoration: none;
    background: transparent;
    border: 2px solid #46c37b;
    color: #46c37b;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    transition: background 0.3s ease;
    -webkit-box-shadow: 2px 2px 0 #46c37b;
    -moz-box-shadow: 2px 2px 0 #46c37b;
    -ms-box-shadow: 2px 2px 0 #46c37b;
    box-shadow: 2px 2px 0 #46c37b;
}

#labs .btn:hover {
    box-shadow: none;
    top: 2px;
    left: 2px;
    -webkit-box-shadow: 2px 2px 0 transparent;
    -moz-box-shadow: 2px 2px 0 transparent;
    -ms-box-shadow: 2px 2px 0 transparent;
    box-shadow: 2px 2px 0 transparent;
}

@media screen and (max-width: 768px) {
    #labs {
        margin: 30px;
        padding: 0;
    }

    #labs .lab-item .lab-content {
        width: 90%;
        float: right;
    }

}

/* 学习进度条 */
.progress {
    height: 5px;
    overflow: visible;
    background: #f0f0f0;
    margin-bottom: 20px;
}

.progress-bar {
    padding-left: 30px;
}

.progress .progress-bar {
    position: relative;
    animation: animate-positive 2s;
}

.progress .progress-icon {
    width: 30px;
    height: 30px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 13px;
    position: absolute;
    top: -14px;
    right: 0;
    background: #fff;
    border-width: 3px;
    border-style: solid;
    text-align: center;
}

.progress-value {
    font-size: 13px;
    padding-left: 10px;
    color: black;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0%;
    }
}

@keyframes animate-positive {
    0% {
        width: 0%;
    }
}

/* 知识点中心页面总体布局 */
#challenge-head {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}

#challenge-body {
    height: 100%;
    overflow: hidden;
    position: relative;
}

#challenge-left, #challenge-right {
    margin-top: 80px;
    padding-top: 20px;
    margin-left: 4%;
    float: left;
    width: 44%;
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    overflow-y: auto;
}

#challenge-right {
    left: 48%;
    overflow: hidden;
}

/* 虚拟实验室中的提示信息*/
.page-message-panel {
    background: #fff;
    border: 1px solid #ccc;
    padding: 50px 50px;
}

.page-message-heading {
    margin-bottom: 25px;
}

.page-message-title {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 24px;
}

.page-message-body {
    font-size: 16px;
}

/* 虚拟实验室 */
#lab-head-empty {
    margin-top: 100px;
    min-height: 200px;
}

.modal {
    overflow: visible;
}

.actions {
    z-index: 1000;
    position: absolute;
    right: 0;
    top: 20px;
    line-height: 46px;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    background-color: #e5e5e5;
    border-left: 1px solid #d4d4d4;
    font-family: Consolas, Monaco, 'Lucida Console', 'Courier New', monospace;
}

/*代码框样式*/
.editor-header {
    background-color: #3D3D3D;
    height: 45px;
    color: white;
    padding: 6px 0 0 45px;
    margin: 0;
}

#run {
    float: right;
    margin-right: 12px;
}

#laboratory {
    overflow: hidden;
    height: 60%;
    padding: 0;
    margin-top: 0;
}

#editor {
    border-color: #3D3D3D;
}

.editor {
    position: relative;
    height: 100%;
    transition: transform .5s;
    transform: translateX(0);
}

#terminal {
    position: absolute;
    height: 40%;
    bottom: 10px;
    border: 0;
    border-top: 1px solid #3D3D3D;
    border-left: 42px solid #3D3D3D;
    color: #E6E1DC;
    width: 100%;
    font-weight: bolder;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: #303030;
    padding: 5px;
    box-shadow: inset 0 0 10px black;
    overflow: auto;
}

.terminal {
    font-family: 'Courier New';
    font-size: 14px;
    outline: none;
    max-width: 100%;
}

#terminal .terminal {
    font-size: 14px;
    background-color: transparent;
    border-color: transparent;
}

#continue {
    margin-bottom: 50px;
}

/* 学习进度 */
.lab-time-line .period-list > li {
    margin-bottom: 0;
}

.lab-time-line .period-list{
    margin-top: 0;
}

/* 返回虚拟实验室的样式 */
.content-header .nav.navbar-nav > li > a.btn-primary {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 15px 0;
    border-color: #34a263;
    background-color: #46c37b;
    color: #fff;
}

/* 试验进度部分 */
.challenge-progress {
    margin-bottom: 20px;
}

.challenge-progress .progress {
    margin: 0;
    width: 95%;
    margin-right: 10px;
    display: inline-block;
    overflow: hidden;
    background: #ebedef;
    border-radius: 32px;
    height: 14px;
}

.progress-nums {
    color: #000;
    font-size: 18px;
}

/*图标*/
.circle-icon {
    background: rgba(161, 171, 255, 0.86);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
    padding: 0;
}

.circle-icon:hover {
    background: rgba(119, 147, 255, 0.86);
    cursor: pointer;
}

.lab-title {
    margin-top: 10px;
    padding: 0 10px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.lab-img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.img-responsive {
    width: 100%;
    padding: 10px;
}