@media (min-width: 768px) {
    .paper-nav.affix {
        width: 720px;
    }
}
@media (min-width: 992px) {
    .paper-nav.affix {
        width: 940px;
    }
}
@media (min-width: 1200px) {
    .paper-nav.affix {
        width: 1140px;
    }
}

.paper-nav{
    top: 0;
    background: #fff;
    padding: 5px;
    border-radius: 4px;
    z-index: 99999;
    border: solid 1px #e4ecf3;
}

.fill-input{
    background-color: #fff;
    border-bottom: solid 1px #000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.paper-card{
    top: 70px;
    z-index: 99999;
    position: fixed;
    width: 17%;
}