html, body {
    margin:0;
    height:100%;
}

/* 文章区域(课程简介、资讯信息、话题内容) markdown 渲染后内容的 css 样式
 * 参考 Github 样式
 */

.markdown-body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #333;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
}

.markdown-body a {
    background: transparent;
}

.markdown-body a:active,
.markdown-body a:hover {
    outline: 0;
}

.markdown-body strong {
    font-weight: bold;
}

.markdown-body pre {
    overflow: auto;
}

.markdown-body code,
.markdown-body kbd,
.markdown-body pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

.markdown-body input {
    color: inherit;
    font: inherit;
    margin: 0;
}

.markdown-body html input[disabled] {
    cursor: default;
}

.markdown-body input {
    line-height: normal;
}

.markdown-body input[type="checkbox"] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.markdown-body table {
    border-collapse: collapse;
    border-spacing: 0;
}

.markdown-body td,
.markdown-body th {
    padding: 0;
}

.markdown-body * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.markdown-body input {
    font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.markdown-body a {
    color: #4183c4;
    text-decoration: none;
}

.markdown-body a:hover,
.markdown-body a:focus,
.markdown-body a:active {
    text-decoration: underline;
}

.markdown-body blockquote {
    margin: 0;
}

.markdown-body ul,
.markdown-body ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-body ol ol,
.markdown-body ul ol {
    list-style-type: lower-roman;
}

.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
    list-style-type: lower-alpha;
}

.markdown-body dd {
    margin-left: 0;
}

.markdown-body code {
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.markdown-body pre {
    margin-top: 0;
    margin-bottom: 0;
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.markdown-body kbd {
    background-color: #e7e7e7;
    background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
    background-image: linear-gradient(#fefefe, #e7e7e7);
    background-repeat: repeat-x;
    border-radius: 2px;
    border: 1px solid #cfcfcf;
    color: #000;
    padding: 3px 5px;
    line-height: 10px;
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    display: inline-block;
}

.markdown-body > *:first-child {
    margin-top: 0 !important;
}

.markdown-body > *:last-child {
    margin-bottom: 0 !important;
}

.markdown-body .anchor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    padding-right: 6px;
    padding-left: 30px;
    margin-left: -30px;
}

.markdown-body .anchor:focus {
    outline: none;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4;
}

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
    display: none;
    color: #000;
    vertical-align: middle;
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
    height: 1em;
    padding-left: 8px;
    margin-left: -30px;
    line-height: 1;
    text-decoration: none;
}

.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
    display: inline-block;
}

.markdown-body h1 {
    padding-bottom: 0.3em;
    font-size: 1em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}

.markdown-body h2 {
    padding-bottom: 0.3em;
    font-size: 1em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}

.markdown-body h3 {
    font-size: 1em;
    line-height: 1.43;
}

.markdown-body h4 {
    font-size: 1em;
}

.markdown-body h5 {
    font-size: 1em;
}

.markdown-body h6 {
    font-size: 1em;
    color: #777;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
    margin-top: 0;
    margin-bottom: 16px;
}

.markdown-body ul,
.markdown-body ol {
    padding-left: 2em;
}

.markdown-body ul.period-list,
.markdown-body ol.period-list {
    padding-left: 0;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-body li > p {
    margin-top: 16px;
}

.markdown-body dl {
    padding: 0;
}

.markdown-body dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}

.markdown-body dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.markdown-body blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
}

.markdown-body blockquote > :first-child {
    margin-top: 0;
}

.markdown-body blockquote > :last-child {
    margin-bottom: 0;
}

.markdown-body table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}

.markdown-body table th {
    font-weight: bold;
}

.markdown-body table th,
.markdown-body table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

.markdown-body table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.markdown-body table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.markdown-body img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    display: block;
    margin: 0 auto;
}

.markdown-body code {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
}

.markdown-body code:before,
.markdown-body code:after {
    letter-spacing: -0.2em;
    content: "\00a0";
}

.markdown-body pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.markdown-body .highlight {
    margin-bottom: 16px;
}

.markdown-body .highlight pre,
.markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}

.markdown-body .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.markdown-body pre {
    word-wrap: normal;
}

.markdown-body pre code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.markdown-body pre code:before,
.markdown-body pre code:after {
    content: normal;
}

.markdown-body .highlight {
    background: #fff;
}

.markdown-body .highlight .mf,
.markdown-body .highlight .mh,
.markdown-body .highlight .mi,
.markdown-body .highlight .mo,
.markdown-body .highlight .il,
.markdown-body .highlight .m {
    color: #945277;
}

.markdown-body .highlight .s,
.markdown-body .highlight .sb,
.markdown-body .highlight .sc,
.markdown-body .highlight .sd,
.markdown-body .highlight .s2,
.markdown-body .highlight .se,
.markdown-body .highlight .sh,
.markdown-body .highlight .si,
.markdown-body .highlight .sx,
.markdown-body .highlight .s1 {
    color: #df5000;
}

.markdown-body .highlight .kc,
.markdown-body .highlight .kd,
.markdown-body .highlight .kn,
.markdown-body .highlight .kp,
.markdown-body .highlight .kr,
.markdown-body .highlight .kt,
.markdown-body .highlight .k,
.markdown-body .highlight .o {
    font-weight: bold;
}

.markdown-body .highlight .kt {
    color: #458;
}

.markdown-body .highlight .c,
.markdown-body .highlight .cm,
.markdown-body .highlight .c1 {
    color: #998;
    font-style: italic;
}

.markdown-body .highlight .cp,
.markdown-body .highlight .cs {
    color: #999;
    font-weight: bold;
}

.markdown-body .highlight .cs {
    font-style: italic;
}

.markdown-body .highlight .n {
    color: #333;
}

.markdown-body .highlight .na,
.markdown-body .highlight .nv,
.markdown-body .highlight .vc,
.markdown-body .highlight .vg,
.markdown-body .highlight .vi {
    color: #008080;
}

.markdown-body .highlight .nb {
    color: #0086B3;
}

.markdown-body .highlight .nc {
    color: #458;
    font-weight: bold;
}

.markdown-body .highlight .no {
    color: #094e99;
}

.markdown-body .highlight .ni {
    color: #800080;
}

.markdown-body .highlight .ne {
    color: #990000;
    font-weight: bold;
}

.markdown-body .highlight .nf {
    color: #945277;
    font-weight: bold;
}

.markdown-body .highlight .nn {
    color: #555;
}

.markdown-body .highlight .nt {
    color: #000080;
}

.markdown-body .highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
}

.markdown-body .highlight .gd {
    color: #000;
    background-color: #fdd;
}

.markdown-body .highlight .gd .x {
    color: #000;
    background-color: #faa;
}

.markdown-body .highlight .ge {
    font-style: italic;
}

.markdown-body .highlight .gr {
    color: #aa0000;
}

.markdown-body .highlight .gh {
    color: #999;
}

.markdown-body .highlight .gi {
    color: #000;
    background-color: #dfd;
}

.markdown-body .highlight .gi .x {
    color: #000;
    background-color: #afa;
}

.markdown-body .highlight .go {
    color: #888;
}

.markdown-body .highlight .gp {
    color: #555;
}

.markdown-body .highlight .gs {
    font-weight: bold;
}

.markdown-body .highlight .gu {
    color: #800080;
    font-weight: bold;
}

.markdown-body .highlight .gt {
    color: #aa0000;
}

.markdown-body .highlight .ow {
    font-weight: bold;
}

.markdown-body .highlight .w {
    color: #bbb;
}

.markdown-body .highlight .sr {
    color: #017936;
}

.markdown-body .highlight .ss {
    color: #8b467f;
}

.markdown-body .highlight .bp {
    color: #999;
}

.markdown-body .highlight .gc {
    color: #999;
    background-color: #EAF2F5;
}

.markdown-body .octicon {
    font: normal normal 16px octicons-anchor;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.markdown-body .octicon-link:before {
    content: '\f05c';
}

.markdown-body .task-list-item {
    list-style-type: none;
}

.markdown-body .task-list-item + .task-list-item {
    margin-top: 3px;
}

.markdown-body .task-list-item input {
    float: left;
    margin: 0.3em 0 0.25em -1.6em;
    vertical-align: middle;
}
/*********************************************************/

.content-total {
    min-height:100%;
    position: relative;
}

.vnc-nav{
    padding: 10px;
    width: 100%;
    font-size: 15px;
    color: #c1c1c1;
    line-height: 40px;
    text-align: left;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
}

.vnc-nav:hover{
    color: #212121;
    cursor: pointer;
    background: #EEEEEE;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
}

.vnc-navbar {
    background: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    z-index: 1;
}

.vnc-lab-progress{
    font-size: 17px;
    color: #c1c1c1;
}

.vnc-lab-progress:hover{
    cursor: pointer;
}

/*.fullscreen-vnc-navbar {*/
    /*background: #212121;*/
    /*position: relative;*/
    /*top: -45px;*/
    /*-webkit-border-radius: 0;*/
    /*-moz-border-radius: 0;*/
    /*border-radius: 0;*/
    /*z-index: 1;*/
    /*transition: all 0.5s ease-in-out 0s;*/
    /*-webkit-transition: all 0.5s ease-in-out 0s;*/
    /*-moz-transition: all 0.5s ease-in-out 0s;*/
/*}*/

/*.fullscreen-vnc-navbar:hover {*/
    /*position: relative;*/
    /*top: 0;*/
    /*transition: all 0.5s ease-in-out 0s;*/
    /*-webkit-transition: all 0.5s ease-in-out 0s;*/
    /*-moz-transition: all 0.5s ease-in-out 0s;*/
/*}*/


.navbar-brand{
    font-size: 25px;
    color: #c1c1c1;
}
.navbar-brand:hover{
    color: #c1c1c1;
    text-decoration: none;
}
.navbar-brand:visited{
    color: #c1c1c1;
    text-decoration: none;
}

.content-holder {
    background: #ffffff;
    padding-top: 50px;
    padding-bottom:71px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.content-holder-full{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.content-footer {
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.content-footer .copyright {
    background: #212121;
    border-top: 1px solid #444;
    text-align: center;
    padding: 20px 0;
    line-height: 30px;
    color: #c1c1c1;
}

.content-footer .copyright a {
    color: #c1c1c1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.content-footer .copyright a:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
}

.vnc-sidebar-trigger{
    top: 20%;
    padding: 5px 0;
    position: absolute;
    background: rgba(33, 33, 33, 0.8);
    width: 30px;
    height: 100px;
    color: #c1c1c1;
    text-align: center;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    font-size: 16px;
    z-index: 2;
    line-height: 18px;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
}

.vnc-sidebar-trigger:hover{
    cursor: pointer;
    color: #212121;
    background: #EEEEEE;
}

.vnc-sidebar-trigger-show{
    right: 120px;
}

.vnc-sidebar-trigger-hide{
    right: 0;
}

.vnc-sidebar{
    padding: 20px 0;
    background: rgba(33, 33, 33, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 120px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    z-index: 2;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
}

.vnc-sidebar-hide{
    right: -120px;
}

.vnc-sidebar-show{
    right: 0;
}

.vnc-left-nav{
    padding: 5px 0;
    background: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.vnc-right{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 65%;
    left: 35%;
    overflow: hidden;
    background: #000000;
}

.vnc-left{
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 35%;
    left: 0;
    background: #f5f8fa;
}

.vnc-whole{
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000000;
}

.circle-icon {
    background: rgba(161, 171, 255, 0.86);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
    padding: 0;
}

.circle-icon:hover {
    background: rgba(119, 147, 255, 0.86);
    cursor: pointer;
}

.selector-center{
    margin: 0 auto 20px auto;
}

.resolution-input-center{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.resolution-input{
    display: inline-block;
    width: 150px;
}

.loading-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.modal.center {
    top: 50%;
    transform: translateY(-50%);
}

.btn-green {
    border-color: #34a263;
    background-color: #46c37b;
    color: #ffffff;
}

.btn-green:hover {
    background-color: #37a967;
    color: #ffffff;
}

.btn-green:focus,
.btn-green.focus,
.btn-green.active {
    background-color: #2e7138;
    color: #ffffff;
}

/*进度条相关*/
.progress {
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    height: 14px;
    background: #f0f0f0;
    margin-bottom: 5px;
}

.progress-nums {
    text-align: center;
    color: #000;
    font-size: 18px;
    margin-bottom: 10px;
}
/********************************/

/*信息提示*/
.page-message-panel {
    margin-top: 50px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 50px 50px;
}

.page-message-heading {
    margin-bottom: 25px;
}

.page-message-title {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 24px;
}

.page-message-body {
    font-size: 16px;
}
/*****************************/

/*实验进度*/
.lab-time-line .period-list > li {
    margin-bottom: 0;
}

.lab-time-line .period-list{
    margin-top: 0;
}

.period-list {
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.period-list > li {
    margin-bottom: 10px;
    padding: 10px 15px;
}

.period-list .section {
    background-color: #f5f5f5;
    color: #919191;
}

.period-list .section {
    padding-left: 45px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.period-list .period {
    position: relative;
    padding: 10px 100px 10px 45px;
    font-size: 16px;
}

.period-list .period:hover,
.period-list .period.item-active {
    background-color: #f2fae3;
}

.period-list .period.disable {
    background: none;
}

.period-list .period > a {
    color: #919191;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.period-list .period .es-icon-undone,
.period-list .period .es-icon-doing,
.period-list .period .es-icon-done1 {
    position: absolute;
    top: 11px;
    left: 15px;
}

.period-list .period .title {
    color: #616161;
}

.period-list .period .date {
    position: absolute;
    top: 11px;
    right: 50px;
}

.period-list .period .course-type {
    position: absolute;
    top: 11px;
    right: 15px;
    line-height: 20px;
}

.period-list .period .course-type i {
    font-size: 20px;
}

.period-list .period .course-type small {
    margin-top: -3px;
}

.period-list .period .period-state {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #919191;
}

.color-primary {
    color: #46c37b !important;
}
/****************************************/
