{% extends 'base.html' %}

{% block header_ext %}
    <link href="{{ url_for('static', filename='css/player.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/case.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container ">
        <div class="col-md-3">
            <ul id="accordion" class="accordion">
                <li data-case_id="{{ case.id }}">
                    <div class="link">
                        <i data-id='case-icon2' class="glyphicon glyphicon-tags"></i>
                        <span data-id="case-name">{{ case.name }}</span>
                        <i data-id='case-icon' class="glyphicon glyphicon-chevron-down temp-down"></i>
                    </div>
                    <ul class="submenu" style="display: block;">
                        <li>
                            <a data-type="case-description" href="javascript:void(0)">案例描述</a>
                        </li>
                        {% for version in case.versions %}
                            <li data-auto_increment="{{ version.id }}">
                                <div class="link">
                                    <span>{{ version.name }}</span>
                                    <i class="glyphicon glyphicon-chevron-down"></i>
                                </div>
                                <ul class="submenu" style="display: block">
                                    <li>
                                        <a data-type="version-description" href="javascript:void(0)">优化描述</a>
                                    </li>
                                    {% for file in version.materials | get_files_list %}
                                        <li>
                                            <a data-type="code" href="javascript:void(0)">{{ file }}</a>
                                        </li>
                                    {% endfor %}

                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-md-9">
            <div id="case-text" class="panel">
                <div class="panel-heading case-text-panel-heading">
                    <span data-id="title" class="case-text-title"></span>
                </div>
                <div class="panel-body">
                    <p class="markdown-body" id="show-description"></p>
                </div>
            </div>
            <div id="editor"></div>
        </div>
    </div>

{% endblock %}

{% block footer_ext %}
    <script src="{{ url_for('static', filename='js/ace.js') }}" charset="utf-8"></script>
    <script>
        var post_to = "{{ url_for('case.show_case', case_id=case.id) }}";
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/tomorrow");
        editor.getSession().setMode("ace/mode/c_cpp");
        editor.setReadOnly(true);
    </script>
    <script src="{{ url_for('static', filename='js/case/case_detail.js') }}"></script>

{% endblock %}

