{% extends 'base.html' %}

{% block header_ext %}
    <link href="{{ url_for('static', filename='css/player.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="col-md-2">
        <div style="position: fixed;height: 83%;width: 16%">
            <div style="overflow: auto;height: 100%">
                <ul id="accordion" class="accordion">
                    {% for case in cases %}
                        <li data-case_id="{{ case.id }}">
                            <div class="link">
                                <i class="glyphicon glyphicon-tags"></i>
                                <span>{{ case.name }}</span>
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            </div>
                            <ul class="submenu" style="display: block;">
                                <li><a data-type="case-description" href="javascript:void(0)">案例描述</a></li>
                                {% for code in case.codes %}
                                    <li data-version_id="{{ code.version_id }}"><a data-type="code" href="javascript:void(0)">{{ code.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-10">
        <div style="height: 80%;position: fixed;width: 82%">
            <div  class="col-md-4" style="padding: 0;margin: 5px 0">
                <select class="form-control" id="files-name">

                </select>
            </div>
            <div id="case-text" class="panel" style="height: 84%;overflow: auto;width: 100%;display: none">
                <p id="show-description"></p>
            </div>
            <div id="editor" style="height: 80%;overflow: auto;width: 100%;margin-bottom: 5px"></div>
            <div class="panel" style="height: 15%;overflow: auto;width: 100%">
                TODO
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_ext %}
    <script src="{{ url_for('static', filename='js/ace.js') }}" charset="utf-8"></script>
    <script>
        var post_to = "{{ url_for('case.index') }}";
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/tomorrow");
        editor.getSession().setMode("ace/mode/c_cpp");
        editor.setReadOnly(true);
    </script>
    <script src="{{ url_for('static', filename='js/case/index.js') }}"></script>

{% endblock %}

