{% extends 'admin/base.html' %}

{% block header_ext %}
    <link href="{{ url_for('static', filename='css/simplemde.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="content-container" class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="{{ url_for('admin.group_edit', gid=group.id) }}" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
                    <div class="form-group">
                        <label>群组名称</label>
                        <input type="text" class="form-control" name='title' value="{{ group.title }}" required>
                        <br>
                    </div>

                    <div class="form-group">
                        <label>群组Logo</label>
                        <br>
                        <img id="group-picture" src="{{ group.logo }}">
                        <input name="logo" accept="image/bmp,image/jpeg,image/png" type="file">
                        <p class="help-block">你可以上传jpg, bmp, png格式的文件</p>
                        <br>
                    </div>

                    <div class="form-group">
                        <label>群组介绍</label>
                        <textarea name="about" data-provide="markdown" id="target-editor" rows="30"
                                  data-img-upload-url="{{ url_for("markdown_files.images") }}">{{ group.about }}</textarea>
                    </div>

                    <div class="form-submit text-right">
                        <input class='btn btn-success' id='submit' type='submit'>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_ext %}
    <script language=javascript src='{{ url_for("static", filename="js/markdown_upload_img.js") }}'></script>
    <script>
        var simplemde = drop_img_simplemde();

        function validateForm() {
            var x = simplemde.value();
            if (x == null || x == "") {
                alert("请输入群组介绍");
                return false;
            }
        }
    </script>
{% endblock %}

{# group #}