<div id="upload-status" class="upload-status">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="dialog-close-btn"><i class="fa fa-times-circle"></i></button>
                <button type="button" class="close" id="dialog-mini-btn" style="margin-right: 5px;"><i class="fa fa-minus-circle"></i></button>
                <h4 class="modal-title" id="myModalLabel"><i class="glyphicon glyphicon-upload"></i><span>上传文件状态</span></h4>
            </div>
            <div class="modal-body">
                <div class="table table-striped files" id="previews">
                    <div class="table table-striped files" id="previews">
                        <div id="template" class="file-row">
                            <div class="col-md-4 col-sm-4 overflow-ellipsis" style="overflow: hidden">
                                <span class="name" data-dz-name></span>
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <span class="size" data-dz-size style="margin-left: 10px"></span>
                                <button class="btn btn-xs btn-default pull-right file-remove" data-dz-remove>移除</button>
                            </div>
                            <div>
                                <strong class="error text-danger" data-dz-errormessage></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>