<!DOCTYPE html>
<html>
<head>
    {% include 'header.html' %}

    {% block header_ext %}
    {% endblock %}

<body>

{% include 'navbar.html' %}

<div class="content-wrap">
    <!-- content in this page -->
    {% block content %}
    {% endblock %}
</div>

{% include 'widget/alert_modal.html' %}

{% include 'footer.html' %}

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<!-- 防止 CSRF 攻击: https://github.com/xuelangZF/ehpc/issues/249 -->
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
    $(function () {
        $('form[method=post]').append('<input type="hidden" name="csrf_token" value="' + csrf_token + '"/>');
    });
</script>

{% block footer_ext %}{% endblock %}

</body>
</html>
