<!-- 小屏幕下导航栏 -->
<ul class="navbar-mobile visible-xs nav">
    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="navbar-more dropdown-toggle">
            <i class="es-icon es-icon-menu"></i></a>
        <ul class="dropdown-menu">
            <li><a href="{{ url_for('course.index') }}">{{ _('Online Courses') }}</a></li>
            <li><a href="{{ url_for('problem.index') }}">{{ _('Examination Center') }}</a></li>
            <li><a href="{{ url_for('group.index') }}">{{ _('Community') }}</a></li>
            <li><a href="{{ url_for('lab.index') }}">{{ _('Virutal Lab') }}</a></li>
            <li><a href="{{ url_for('case.index') }}">{{ _('Case Display') }}</a></li>
        </ul>
    </li>
</ul>

<!-- 大屏幕下导航栏 -->
<header class="content-header navbar">

    <div class="navbar-header">
        <a href="{{ url_for('main.index') }}" class="navbar-brand">
            <img src="{{ url_for('static', filename='images/logo.png') }}">
        </a>
    </div>

    <ul class="navbar-user nav user-nav">
        {% if current_user.is_authenticated %}
            <li class="user-avatar-li nav-hover">
                <a href="javascript:;" class="dropdown-toggle">
                    <img class="avatar-xs" src="{{ current_user.avatar_url | get_avatar_path }}">
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation" class="dropdown-header">{{ current_user.username }}</li>
                    <li><a href="{{ url_for('user.view', uid=current_user.id) }}"><i
                            class="es-icon es-icon-person"></i>{{ _('Personal Page') }}</a>
                    </li>
                    <li><a href=""><i class="es-icon es-icon-assignment"></i>{{ _("Job's List") }}</a>
                    </li>
                    <li><a href="{{ url_for('lab.index') }}"><i class="es-icon es-icon-homework"></i>学习进度</a>
                    </li>
                    <li><a href="{{ url_for('user.setting') }}"><i
                            class="es-icon es-icon-setting"></i>{{ _('Setting') }}</a></li>
                    <li><a href="{{ url_for('user.signout') }}"><i
                            class="es-icon es-icon-power"></i>{{ _('Logout') }}</a></li>
                </ul>
            </li>
            {% if current_user.permissions == 2 %}
                <li><a href="{{ url_for('admin.teacher') }}">
                    <i class="es-icon es-icon-administrator"></i>切换为老师</a></li>
            {% endif %}
        {% else %}
            <li class="hidden-xs">
                <a href="{{ url_for('user.signin', next=request.path) }}">{{ _('Sign In') }}</a>
            </li>
            <li class="hidden-xs">
                <a href="{{ url_for('user.reg', next=request.path) }}">{{ _('Registration') }}</a>
            </li>
        {% endif %}
    </ul>

    <nav class="collapse navbar-collapse">
        <!-- 大屏幕下导航栏 -->
        <ul class="nav navbar-nav clearfix visible-lg">
            <li><a href="{{ url_for('course.index') }}">{{ _('Online Courses') }}</a></li>
            <li><a href="{{ url_for('problem.index') }}">{{ _('Examination Center') }}</a></li>
            <li><a href="{{ url_for('group.index') }}">{{ _('Community') }}</a></li>
            <li><a href="{{ url_for('lab.index') }}">{{ _('Virutal Lab') }}</a></li>
            <li><a href="{{ url_for('case.index') }}">{{ _('Case Display') }}</a></li>
        </ul>

        <!-- 中屏幕下导航栏 -->
        <ul class="nav navbar-nav clearfix visible-md visible-sm">
            <li><a href="{{ url_for('course.index') }}">{{ _('Online Courses') }}</a></li>
            <li><a href="{{ url_for('problem.index') }}">{{ _('Examination Center') }}</a></li>

            <li class="nav-hover">
                <a> <i class="es-icon es-icon-morehoriz"></i> </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('group.index') }}">{{ _('Community') }}</a></li>
                    <li><a href="{{ url_for('lab.index') }}">{{ _('Virutal Lab') }}</a></li>
                    <li><a href="{{ url_for('case.index') }}">{{ _('Case Display') }}</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
