{% extends 'admin/base.html' %}

{% block header_ext %}
    <link href="{{ url_for('static', filename='css/simplemde.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container" id="content-container">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group-panel">
                    <div class="list-group">
                        <a class="list-group-item active" href="{{ url_for('admin.problem') }}">选择题</a>
                        <a class="list-group-item" href="{{ url_for('admin.judge') }}">判断题</a>
                        <a class="list-group-item" href="{{ url_for('admin.fill') }}">填空题</a>
                        <a class="list-group-item" href="{{ url_for('admin.essay') }}">问答题</a>
                        <a class="list-group-item" href="{{ url_for('admin.program') }}">编程题</a>
                    </div>
                    <div class="list-group">
                    </div>
                </div>
            </div><!--左侧导航栏-->

            <div class="col-md-9">
                <div class="panel panel-default panel-col">
                    <div class="panel-heading">
                        题目编辑
                    </div>

                    <div class="panel-body">
                        <form action="{{ url_for('admin.process_practice') }}" method="post" id="form">
                            <div class="form-group" id="classify">
                                <label>知识点&nbsp&nbsp</label>
                                {% for classify in classifies %}
                                    <input type="checkbox" name="classify" id="classify{{ classify.id }}"
                                           value="{{ classify.id }}">{{ classify.name }}
                                {% endfor %}
                            </div>
                            <input type="hidden" name="content">
                            <input type="hidden" name="solution">
                            <input type="hidden" name="analysis">
                            <input type="hidden" name="type">
                            <input type="hidden" name="op" value="{{ op }}">
                            {% if op == 'edit' %}<input type="hidden" name="id" value="{{ choice.id }}">{% endif %}
                        </form>

                        <div class="form-group">
                            <label>题干</label>
                            <textarea name="content" id="target-editor">{% if op == 'edit' %}{{ choice | get_question_content }}{% endif %}</textarea>
                        </div>

                        <div style="margin-bottom: 15px">
                            <span style="margin-bottom: 0;font-weight: bold">选项(选中的为本题<span style="color: #1fc231">正确答案</span>)</span>
                            <input type="checkbox" name="if-undef"><span>是否为不定项选择</span>
                        </div>

                        <div id="options">
                            {% if op == 'edit' %}<!--编辑选择题-->
                                {% for i in range(choice.content | get_json_value('len')) %}
                                    <div class="input-group" style="margin-top: 5px">
                                        <span class="input-group-addon" style="width: 8%">
                                            <input value="{{ i }}" name="option_index"
                                                   type="checkbox">&nbsp;&nbsp;{{ loop.index0 | get_char }}</span>
                                        <input class="form-control" name="options" placeholder="请输入选项内容" type="text"
                                               value="{{ choice.content | get_json_value(i | string) }}">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" title="删除">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </span>
                                    </div>
                                {% endfor %}
                                {% else %}<!--创建选择题-->
                                {% for i in range(4) %}
                                    <div class="input-group" style="margin-top: 5px">
                                        <span class="input-group-addon" style="width: 8%"><input value="{{ i }}"
                                                                                                 name="option_index"
                                                                                                 type="checkbox">&nbsp;&nbsp;{{ i | get_char }}</span>
                                        <input class="form-control" name="options" placeholder="请输入选项内容"
                                               type="text">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" title="删除">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </span>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <button id="add-options" class="btn btn-primary btn-block" style="margin-top: 15px">
                            添加选项
                        </button>
                        <div class="form-group" style="margin-top:20px">
                            <label>答案解析</label>
                            <textarea name="analysis" id="analysis-editor">{% if op == 'edit' %}{{ choice.analysis }}{% endif %}</textarea>
                        </div>

                        <button id="save-problem" class="btn btn-primary btn-block" style="margin-top: 15px">保存提交
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_ext %}
    <script>
        $(document).ready(function () {
            {% if op == 'edit' %}
                {% for c in choice.classifies %}
                    $("#classify{{ c.id }}").eq(0).attr('checked', 'true');
                {% endfor %}

                //需编辑题目的答案
                var oldAnswer = "{{ choice.solution }}";
                oldAnswer = oldAnswer.split(';');
                for (i = 0; i < oldAnswer.length; i++) {
                    $("#options").find("input[value=" + (oldAnswer[i].charCodeAt(0)-'A'.charCodeAt(0)).toString() + "]").attr('checked', true);
                }
                //需编辑题目,是否为不定项
                var type = {{ choice.type }};
                if (type == 2) {
                    $("input[name=if-undef]").attr('checked', true);
                }
            {% endif %}

            var simplemde = new SimpleMDE({
                element: document.getElementById("target-editor"),
                autosave: true,
                showIcons: ["code", "table"],
                tabSize: 4,
                spellChecker: false
            });

            var edt = new SimpleMDE({
                element: document.getElementById("analysis-editor"),
                autosave: true,
                showIcons: ["code", "table"],
                tabSize: 4,
                spellChecker: false
            });

            var c_type = 0;
            {% if op == 'edit' %}
                c_type = {{ choice.type }};
            {% endif %}

            //删除选项
            $("#options").find(".btn.btn-default").each(function () {
                $(this).click(function () {
                    $(this).parent().parent().remove();//移除当前项
                    //修改选项序号
                    var number = 0;
                    $("#options").find(".input-group-addon").each(function () {
                        var str = $(this).html();
                        str = str.substr(0, str.length - 1) + String.fromCharCode("A".charCodeAt(0) + number);
                        $(this).html(str);
                        number++;
                    });
                    number = 0;
                    $("#options").find("input[name=option_index]").each(function () {
                        $(this).val(number++);
                    });
                });
            });

            //添加选项
            $("#add-options").click(function () {
                var temp = $("#options").find(".input-group").last();
                var t = temp.clone(true);
                temp.after(t);

                //新选项内容为空
                t.find("input[name=options]").val("");
                var v = t.find('input[name=option_index]');
                v.val((Number(v.val())+1).toString());
                //修改新选项序号为原来最后一个序号加1
                t.find(".input-group-addon").each(function () {
                    var str = $(this).html();
                    str = str.substr(0, str.length - 1) + String.fromCharCode(str.charCodeAt(str.length - 1) + 1);
                    $(this).html(str);
                });
            });

            //保存提交
            $("#save-problem").click(function () {
                var count = 0;
                $("input[name=classify]").each(function () {
                    if (this.checked == true) {
                        count++;
                    }
                });
                if (count == 0) {
                    alert("请至少选则一个知识点");
                    return;
                }

                var choiceDetail = simplemde.value();
                if (choiceDetail.length == 0) {
                    alert("题干不能为空");
                    return;
                }

                var solution = [];

                count = 0;
                $("#options").find("input[name=option_index]").each(function () {
                    if (this.checked == true) {
                        count++;
                        solution.push(String.fromCharCode((Number($(this).val()) + 'A'.charCodeAt(0))));
                    }
                });
                if (count == 0) {
                    alert("请选择正确答案");
                    return;
                }

                if (count == 1) c_type = 0;//单选
                else c_type = 1;//多选
                if ($("input[name=if-undef]")[0].checked) c_type = 2;

                solution = solution.join(';'); //答案

                var content = {};   //题干+选项
                content['title'] = choiceDetail;
                content['len'] = $("#options").find("input[name=option_index]").length;

                var hasEmptyChoice = false;
                $("input[name=options]").each(function () {
                    if ($(this).val() == "") {
                        alert("请填写所有选项");
                        hasEmptyChoice = true;
                    }
                    content[$(this).parent().find('input[name=option_index]').eq(0).val().toString()] = $(this).val();
                });
                if (hasEmptyChoice) return;

                var form = $("#form");
                form.find("input[name=content]").val(JSON.stringify(content));
                form.find("input[name=solution]").val(solution);
                form.find("input[name=analysis]").val(edt.value());
                form.find("input[name=type]").val(c_type);
                form.submit();
            });

            {% if mode == 'paper' %}
                {% if op == 'create' %}
                    var doc = '<div class="form-group"><label>分值&nbsp&nbsp</label><input class="form-control" ' +
                            'id="point" name="point" style="width:50px;height:30px;display:inline;margin-top:10px;"></div>';
                {% else %}
                    var doc = '<div class="form-group"><label>分值&nbsp&nbsp</label><input class="form-control" value="{{ point }}" ' +
                            'id="point" name="point" style="width:50px;height:30px;display:inline;margin-top:10px;"></div>';
                {% endif %}
                $("#classify").append(doc);
                $("#save-problem").unbind('click').click(function (evt) {
                    evt.preventDefault();

                    var count = 0;
                    $("input[name=classify]").each(function () {
                        if (this.checked == true) {
                            count++;
                        }
                    });
                    if (count == 0) {
                        alert("请至少选则一个知识点");
                        return;
                    }

                    var choiceDetail = simplemde.value();
                    if (choiceDetail.length == 0) {
                        alert("题干不能为空");
                        return;
                    }

                    var solution = [];

                    count = 0;
                    $("#options").find("input[name=option_index]").each(function () {
                        if (this.checked == true) {
                            count++;
                            solution.push(String.fromCharCode((Number($(this).val()) + 'A'.charCodeAt(0))));
                        }
                    });
                    if (count == 0) {
                        alert("请选择正确答案");
                        return;
                    }

                    if (count == 1) c_type = 0;//单选
                    else c_type = 1;//多选
                    if ($("input[name=if-undef]")[0].checked) c_type = 2;

                    solution = solution.join(';'); //答案

                    var content = {};   //题干+选项
                    content['title'] = choiceDetail;
                    content['len'] = $("#options").find("input[name=option_index]").length;

                    var hasEmptyChoice = false;
                    $("input[name=options]").each(function () {
                        if ($(this).val() == "") {
                            alert("请填写所有选项");
                            hasEmptyChoice = true;
                        }
                        content[$(this).parent().find('input[name=option_index]').eq(0).val().toString()] = $(this).val();
                    });
                    if (hasEmptyChoice) return;

                    var classify = [];
                    $("input[name=classify]").each(function () {
                        if ($(this).get(0).checked)
                            classify.push($(this).val());
                    });

                    $.ajax({
                        type: "post",
                        url: "{{ url_for('admin.process_question') }}",
                        data: {
                            pid: "{{ curr_paper.id }}",
                            classify: classify,
                            type: c_type,
                            content: JSON.stringify(content),
                            solution: solution,
                            analysis: edt.value(),
                            point: $("#point").val(),
                            op: "{{ op }}"
                            {% if op == 'edit' %}
                                ,id: "{{ choice.id }}"
                            {% endif %}
                        },
                        success: function (data) {
                            if (data["status"] == "success") {
                                alert("保存成功");
                                location.href = document.referrer;
                            }
                            else {
                                alert("保存失败");
                            }
                        }
                    });
                });
            {% endif %}
        });
    </script>
{% endblock %}