{% extends 'admin/base.html' %}

{% block header_ext %}
    <link href="{{ url_for('static', filename='css/bootstrap-markdown.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap-markdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/markdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/to-markdown.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container" id="content-container">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group-panel">
                    <div class="list-group">
                        <a class="list-group-item active" href="{{ url_for('admin.problem') }}">选择题目</a>
                        <a class="list-group-item" href="{{ url_for('admin.problem') }}">编程题目</a>
                    </div>
                    <div class="list-group">
                    </div>
                </div>
            </div><!--左侧导航栏-->

            <div class="col-md-9">
                <div class="panel panel-default panel-col">
                    <div class="panel-heading">
                        题目编辑
                    </div>

                    <div class="panel-body" style="padding-bottom: 0px">
                        <span class="pull-left"
                              style="line-height: 40px;font-size: 15px;margin-right: 10px">知识点: </span>
                        <span class="pull-left">
                            {% for classify in classifies %}
                                <span>
                                    <input type="checkbox" name="choice-classify"
                                           data-id="{{ classify["id"] }}">{{ classify["name"] }}</span>
                            {% endfor %}
                        </span>
                    </div>

                    <div class="panel-body">

                        <div class="form-group">
                            <label>题干</label>
                            <textarea name="content" data-provide="markdown" id="choice-title"
                                      rows="10">{{ choice.title }}</textarea>
                        </div>

                        <div style="margin-bottom: 15px">
                            <span style="margin-bottom: 0px;font-weight: bold">选项(选中的为本题<span style="color: #1fc231">正确答案</span>)</span>
                        </div>

                        <div id="options">
                            {% for option in options %}
                                <div class="input-group">
                                        <span class="input-group-addon" style="width: 8%">
                                            <input value="{{ loop.index0 | get_char }}" name="option_group"
                                                   type="checkbox">&nbsp;&nbsp;{{ loop.index0 | get_char }}</span>
                                    <input class="form-control" name="options" placeholder="请输入选项内容" type="text"
                                           value="{{ option }}">
                                    <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" title="删除">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </span>
                                </div>
                            {% endfor %}
                        </div>

                        <button id="add-options" class="btn btn-primary btn-block" style="margin-top: 15px">
                            添加选项
                        </button>
                        <button id="save-problem" class="btn btn-primary btn-block" style="margin-top: 15px">保存提交
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_ext %}
    <script>
        $(document).ready(function () {
            //需编辑题目的知识点id
            var oldClassifies = "{{ classify_selected }}";
            oldClassifies = oldClassifies.split(';');
            for (var i = 0; i < oldClassifies.length; i++) {
                $("input[data-id=" + oldClassifies[i] + "]").attr('checked', true);
            }
            //需编辑题目的答案
            var oldAnswer = "{{ choice.answer }}";
            oldAnswer = oldAnswer.split(',');
            for (i = 0; i < oldAnswer.length; i++) {
                $("#options").find("input[value=" + oldAnswer[i] + "]").attr('checked', true);
            }

            $("#options").find(".btn.btn-default").each(function () {
                $(this).click(function () {
                    $(this).parent().parent().remove();//移除当前项
                    //修改选项序号
                    var number = 0;
                    $("#options").find(".input-group-addon").each(function () {
                        var str = $(this).html();
                        str = str.substr(0, str.length - 1) + String.fromCharCode("A".charCodeAt(0) + number);
                        $(this).html(str);
                        number++;
                    });
                    number = 0;
                    $("#options").find("input[name=option_group]").each(function () {
                        $(this).val(String.fromCharCode("A".charCodeAt(0) + number));
                        number++;
                    });
                });
            });
            {% if choice.c_type %}
                var c_type = '1';
            {% else %}
                var c_type = '0';
            {% endif %}

            //添加选项
            $("#add-options").click(function () {
                var temp = $("#options").find(".input-group").last();
                var t = temp.clone(true);
                temp.after(t);

                //新选项内容为空
                t.find("input[name=options]").val("");
                //修改新选项序号为原来最后一个序号加1
                t.find(".input-group-addon").each(function () {
                    var str = $(this).html();
                    str = str.substr(0, str.length - 1) + String.fromCharCode(str.charCodeAt(str.length - 1) + 1);
                    $(this).html(str);
                });
            });

            //保存提交
            $("#save-problem").click(function () {
                if ($("#choice-title").val().length == 0) {
                    alert("题干不能为空");
                    return;
                }

                var choiceDetail = $("#choice-title").val();//题干

                var hasChoiceCorrectAnswer = false;
                var correctAnswer = [];
                $("#options").find("input[name=option_group]").each(function () {
                    if (this.checked == true) {
                        correctAnswer.push($(this).val());
                        hasChoiceCorrectAnswer = true;
                    }
                });
                if (!hasChoiceCorrectAnswer) {
                    alert("请选择正确答案");
                    return;
                }
                correctAnswer = correctAnswer.join(",");//正确答案

                var hasEmptyChoice = false;
                var choices = [];

                $("input[name=options]").each(function () {
                    if ($(this).val() == "") {
                        if (!hasEmptyChoice) alert("请填写所有选项");
                        hasEmptyChoice = true;
                    }
                    else {
                        choices.push($(this).val());
                    }
                });
                if (hasEmptyChoice) return;
                choices = choices.join(";\n");//选项内容

                var classifyId = [];
                $("input[name=choice-classify]").each(function () {
                    if (this.checked == true) {
                        classifyId.push($(this).data('id'));//选择题知识点
                    }
                });

                var answerCount=0;
                $("#options").find("input[name=option_group]").each(function () {
                    if(this.checked==true) answerCount++;
                });

                if(answerCount==1) c_type='0';//单选
                else c_type="1";//多选


                $.ajax({
                    type: "post",
                    url: "{{ url_for('admin.process_choice') }}",
                    data: {
                        op: "edit",
                        id: "{{ choice.id }}",
                        title: choiceDetail,
                        detail: choices,
                        c_type: c_type,
                        answer: correctAnswer,
                        classify: classifyId
                    },
                    success: function () {
                        window.location.href="{{ url_for('admin.problem') }}"
                    }
                });
            });
        });
    </script>

    <script>
        (function ($) {
            $.fn.markdown.messages['cn'] = {
                'Heading': "输入标题",
                'Insert Hyperlink': "插入链接",
                'enter image description here': "输入图片描述",
                'Insert Image Hyperlink': "插入图片链接",
                'enter image title here': "插入图片标题"
            };
        }(jQuery));
        $("#target-editor").markdown({language: 'cn'})
    </script>
{% endblock %}