{% extends 'admin/base.html' %}

{% block header_ext %}
    <link href="{{ url_for('static', filename='css/simplemde.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container" id="content-container">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group-panel">
                    <div class="list-group">
                        <a class="list-group-item" href="{{ url_for('admin.problem') }}">选择题</a>
                        <a class="list-group-item" href="{{ url_for('admin.judge') }}">判断题</a>
                        <a class="list-group-item active" href="{{ url_for('admin.fill') }}">填空题</a>
                        <a class="list-group-item" href="{{ url_for('admin.essay') }}">问答题</a>
                        <a class="list-group-item" href="{{ url_for('admin.program') }}">编程题</a>
                    </div>
                    <div class="list-group">
                    </div>
                </div>
            </div><!--左侧导航栏-->

            <div class="col-md-9">
                <div class="panel panel-default panel-col">
                    <div class="panel-heading">
                        题目编辑
                    </div>

                    <div class="panel-body">
                        <form action="{{ url_for('admin.process_practice') }}" method="post" id="form">
                            <div class="form-group" id="classify">
                                <label>知识点&nbsp&nbsp</label>
                                {% for classify in classifies %}
                                    <input type="checkbox" name="classify" id="classify{{ classify.id }}"
                                           value="{{ classify.id }}">{{ classify.name }}
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label>题干</label>
                                <div>需要填空的地方请使用斜体表示</div>
                                <textarea name="content" id="content-editor">{% if op == 'edit' %}{{ curr_fill.content }}{% endif %}</textarea>
                            </div>

                            <div class="form-group">
                                <label>答案解析</label>
                                <textarea name="analysis" id="analysis-editor">{% if op == 'edit' %}{{ curr_fill.analysis }}{% endif %}</textarea>
                            </div>
                            <input id="solution-editor" type="hidden" name="solution" value="">
                            <input type="hidden" name="type" value="3">
                            <input type="hidden" name="op" value="{{ op }}">
                            {% if op == 'edit' %}<input type="hidden" name="id" value="{{ curr_fill.id }}">{% endif %}
                            <input id="save" type="submit" class="btn btn-primary btn-block" style="margin-top: 15px" value="保存提交">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_ext %}
    <script>
        $(function () {
            {% if op == 'edit' %}
                {% for c in curr_fill.classifies %}
                    $("#classify{{ c.id }}").eq(0).attr('checked', 'true');
                {% endfor %}
            {% endif %}

            var edt1 = new SimpleMDE({
                element: document.getElementById("content-editor"),
                autosave: true,
                showIcons: ["code", "table"],
                tabSize: 4,
                spellChecker: false
            });

            var edt2 = new SimpleMDE({
                element: document.getElementById("analysis-editor"),
                autosave: true,
                showIcons: ["code", "table"],
                tabSize: 4,
                spellChecker: false
            });

            $("#form").submit(function (evt) {
                var array = edt1.value().split('*');
                var solution = {};
                solution["len"] = array.length / 2;
                for (var i = 1; i < array.length; i += 2)
                    solution[i.toString()] = array[i];

                $("#solution-editor").val(JSON.stringify(solution));
            });

            {% if mode == 'paper' %}
                {% if op == 'create' %}
                    var doc = '<div class="form-group"><label>分值&nbsp&nbsp</label><input class="form-control" ' +
                            'id="point" name="point" style="width:50px;height:30px;display:inline;margin-top:10px;"></div>';
                {% else %}
                    var doc = '<div class="form-group"><label>分值&nbsp&nbsp</label><input class="form-control" value={{ point }}' +
                            'id="point" name="point" style="width:50px;height:30px;display:inline;margin-top:10px;"></div>';
                {% endif %}
                $("#classify").append(doc);
                $("#save").click(function (evt) {
                    evt.preventDefault();
                    var classify = [];
                    $("input[name=classify]").each(function () {
                        if ($(this).get(0).checked)
                            classify.push($(this).val());
                    });

                var array = edt1.value().split('*');
                var solution = {};
                solution["len"] = 0;
                for (var i = 1; i < array.length; i += 2)
                {
                    solution[i.toString()] = array[i];
                    solution["len"]++;
                }


                    $.ajax({
                        type: "post",
                        url: "{{ url_for('admin.process_question') }}",
                        data: {
                            pid: "{{ curr_paper.id }}",
                            classify: classify,
                            type: "3",
                            content: edt1.value(),
                            solution: JSON.stringify(solution),
                            analysis:edt2.value(),
                            point: $("#point").val(),
                            op: "{{ op }}"
                            {% if op == 'edit' %}
                                ,id: "{{ curr_fill.id }}"
                            {% endif %}
                        },
                        success: function (data) {
                            if (data["status"] == "success")
                            {
                                alert("保存成功");
                                location.href = document.referrer;
                            }
                            else
                            {
                                alert("保存失败");
                            }
                        }
                    });
                });
            {% endif %}
        });
    </script>
{% endblock %}