{% extends 'admin/base.html' %}

{% block header_ext %}
    <link href="{{ url_for('static', filename='css/simplemde.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container" id="content-container">
        <div class="row">
            <div class="col-md-3">
                {% with type='program' %}
                    {% include 'admin/problem/widget_nav_left.html' %}
                {% endwith %}
            </div><!--左侧导航栏-->

            <div class="col-md-9">
                <div class="panel panel-default panel-col">
                    <div class="panel-heading">
                        题目编辑
                    </div>

                    <div class="panel-body">
                        <form action="{{ url_for('admin.program_create') if op == 'create' else url_for('admin.program_edit')}}" method="post">
                            <div class="form-group">
                                <div style="margin-bottom: 5px">
                                    <label>标题</label>
                                    <div><input required type="text" class="form-control" name="title" placeholder="请输入题目标题"
                                        {% if op == 'edit' %}value="{{ program_problem.title }}"{% endif %}>
                                    </div>
                                </div>

                                <label>题干</label>
                                <textarea name="content" id="target-editor">{% if op == 'edit' %}{{ program_problem.detail }}{% endif %}</textarea>
                            </div>
                            <input type="hidden" name="op" value="{{ op }}">
                            {% if op == 'edit' %}<input type="hidden" name="id" value="{{ program_problem.id }}">{% endif %}
                            <input type="submit" class="btn btn-primary btn-block" style="margin-top: 15px" value="保存提交">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_ext %}
    <script>
        new SimpleMDE({
            element: document.getElementById("target-editor"),
            autosave: true,
            showIcons: ["code", "table"],
            tabSize: 4,
            spellChecker: false
        });
    </script>
{% endblock %}