{% extends 'admin/base.html' %}

{% block header_ext %}
    <link href="{{ url_for('static', filename='css/simplemde.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/parsley.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container" id="content-container">
        <div class="row">
            <div class="col-md-3">
                {% with type='program' %}
                    {% include 'admin/problem/widget_nav_left.html' %}
                {% endwith %}
            </div><!--左侧导航栏-->

            <div class="col-md-9">
                <div class="panel panel-default panel-col">
                    <div class="panel-heading">
                        题目编辑
                    </div>

                    <div class="panel-body">
                        <form action="{{ url_for('admin.program_create') if op == 'create' else url_for('admin.program_edit')}}"
                               data-parsley-validate="" method="post">
                            <div class="form-group">
                                <div style="margin-bottom: 5px">
                                    <label>标题</label>
                                    <div><input required type="text" class="form-control" name="title" placeholder="请输入题目标题"
                                        {% if op == 'edit' %}value="{{ program_problem.title }}"{% endif %} data-parsley-maxlength="128">
                                    </div>
                                </div>

                                <label>题干</label>
                                <textarea name="content" id="target-editor"
                                          data-img-upload-url="{{ url_for("markdown_files.images") }}" required
                                >{% if op == 'edit' %}{{ program_problem.detail }}{% endif %}</textarea>
                                {% include 'widget/load_img_progress.html' %}
                            </div>
                            <input type="hidden" name="op" value="{{ op }}">
                            {% if op == 'edit' %}<input type="hidden" name="id" value="{{ program_problem.id }}">{% endif %}


                            <div class="form-submit text-right">
                                <input type="submit" class="btn btn-primary" value="保存提交">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_ext %}
    <script language=javascript src='{{ url_for("static", filename="js/custom_simplemde.js") }}'></script>
    <script>
        var simplemde = custom_simplemde();
    </script>
{% endblock %}