{% extends 'admin/base.html' %}

{% block content %}
    <div class="container" id="content-container">
        <div class="row">
            <div class="col-md-3">
                {% with type='program' %}
                    {% include 'admin/problem/widget_nav_left.html' %}
                {% endwith %}
            </div>

            <div class="col-md-9">
                <div class="panel panel-default panel-col">
                    <div class="panel-heading">
                    <span class="pull-right">
                        <a id="create-program" href="{{ url_for('admin.program_create') }}"
                           class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-plus"></span>
                            创建题目
                        </a>
                    </span>
                        题目列表
                    </div>

                    <div class="panel-body">
                        <table class="table fixed-table">
                            <thead>
                            <tr>
                                <th width="10%" style="text-align: center">序号</th>
                                <th width="40%">名称</th>
                                <th width="10%" style="text-align: center">难度</th>
                                <th width="20%">创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead><!--表格头-->
                            <tbody id="tb">
                            {% for program in programs %}
                                <tr data-id="{{ program.id }}">
                                    <td style="text-align: center">{{ loop.index }}</td>
                                    <td class="overflow-ellipsis" data-toggle="tooltip" title="{{ program.title }}">{{ program.title }}</td>
                                    <td style="text-align: center">{{ program.difficulty }}</td>
                                    <td>{{ program.createdTime }}</td>
                                    <td>
                                        <a href="{{ url_for('admin.program_edit', id=program.id) }}">编辑</a>
                                        <span class="divider"> | </span>
                                        <a href="javascript:void(0)" name="del-btn">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody><!--表格主体-->
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "admin/widget-del-warning.html" %}

{% endblock %}

{% block footer_ext %}
    <script>
        $(document).ready(function () {
            var obj = null;
            $("#tb").find("a[name=del-btn]").click(function () {
                obj = this;
                $("#del-warning").modal("show");
            });
            $("#del-confirm").click(function () {
                $.ajax({
                    type: "post",
                    url: "{{ url_for('admin.program') }}",
                    data: {op: 'del', id: $(obj).parent().parent().data('id')},
                    success: function (data) {
                        $(obj).parent().parent().remove();
                        $("#del-warning").modal("hide");
                    }
                });
            });
        });
    </script>
{% endblock %}