{% extends 'admin/base.html' %}

{% block header_ext %}
    <script src="{{ url_for('static', filename='js/admin/problem/questions_show.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container" id="content-container">
        <div class="row">
            <div class="col-md-3">
                {% with type=type %}
                    {% include 'admin/problem/widget_nav_left.html' %}
                {% endwith %}
            </div>
            <div class="col-md-9">
                <div class="panel panel-default panel-col">
                    {% with create=url_for('admin.question_create', q_type=type), questions=questions, q_type=type %}
                        {% include 'admin/problem/widget_question_table.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}