<form   {% if mode == 'practice' and op == 'create' %} action="{{ url_for('admin.question_create', question_type='essay') }}" {% endif %}
        {% if mode == 'practice' and op == 'edit' %} action="{{ url_for('admin.question_edit', question_type='essay', question_id=essay.id) }}" {% endif %}
        {% if mode == 'paper' and op == 'create' %} action="{{ url_for('admin.paper_question_create', question_type='essay', paper_id=paper.id) }}" {% endif %}
        {% if mode == 'paper' and op == 'edit' %} action="{{ url_for('admin.paper_question_edit', question_type='essay', question_id=essay.id, paper_id=paper.id) }}" {% endif %}
        method="post" id="form">
    <div class="form-group" id="classify">
        <label>知识点&nbsp&nbsp</label>
        <select class="selectpicker" name="classify" multiple data-live-search="true">
            {% for classify in classifies %}
                <option value="{{ classify.id }}">{{ classify.name }}</option>
            {% endfor %}
        </select>
    </div>

    {% if mode == 'paper' %}
        <div class="form-group">
            <label>分值&nbsp&nbsp</label>
            <input class="form-control" value="{{ point if op == 'edit' }}" id="point" name="point" style="width:50px;height:30px;display:inline;margin-top:10px;">
        </div>
    {% endif %}

    <div class="form-group">
        <label>题干</label>
        <textarea name="content" id="content-editor"
                  data-img-upload-url="{{ url_for("markdown_files.images") }}"
        >{% if op == 'edit' %}{{ essay.content }}{% endif %}</textarea>
    </div>

    <div class="form-group">
        <label>答案</label>
        <textarea name="solution" id="solution-editor"
                  data-img-upload-url="{{ url_for("markdown_files.images") }}"
        >{% if op == 'edit' %}{{ essay.solution }}{% endif %}</textarea>
    </div>

    <div class="form-group">
        <label>答案解析</label>
        <textarea name="analysis" id="analysis-editor"
                  data-img-upload-url="{{ url_for("markdown_files.images") }}"
        >{% if op == 'edit' %}{{ essay.analysis }}{% endif %}</textarea>
        {% include 'widget/load_img_progress.html' %}
    </div>


    <input type="hidden" name="op" value="{{ op }}">
    <input type="hidden" name="type" value="5">
    {% if op == 'edit' %}
        <input type="hidden" name="id" value="{{ essay.id }}">
    {% endif %}
    {% if mode == 'paper' %}
        <input type="hidden" name="pid" value="{{ curr_paper.id }}">
    {% endif %}

    <div class="form-submit text-right">
        <input id="save" type="submit" class="btn btn-primary"value="保存提交">
    </div>
</form>

<script language=javascript src='{{ url_for("static", filename="js/custom_simplemde.js") }}'></script>
<script src="{{ url_for('static', filename='js/admin/problem/essay_detail.js') }}"></script>