<form action="{{ url_for('admin.process_question') if mode == 'paper' else url_for('admin.process_practice') }}"
      method="post" id="form">
    <div class="form-group" id="classify">
        <label>知识点&nbsp&nbsp</label>
        {% for classify in classifies %}
            <input type="checkbox" name="classify" id="classify{{ classify.id }}"
                   value="{{ classify.id }}">{{ classify.name }}
        {% endfor %}
    </div>

    {% if mode == 'paper' %}
        <div class="form-group">
            <label>分值&nbsp&nbsp</label>
            <input class="form-control" value="{{ point if op == 'edit' }}" id="point" name="point" style="width:50px;height:30px;display:inline;margin-top:10px;">
        </div>
    {% endif %}

    <input type="hidden" name="content">
    <input type="hidden" name="solution">
    <input type="hidden" name="analysis">
    <input type="hidden" name="type">
    <input type="hidden" name="op" value="{{ op }}">
    {% if op == 'edit' %}
        <input type="hidden" name="id" value="{{ choice.id }}">
    {% endif %}
    {% if mode == 'paper' %}
        <input type="hidden" name="pid" value="{{ curr_paper.id }}">
    {% endif %}
    <div class="form-group">
        <label>题干</label>
        <textarea name="content" id="target-editor">{% if op == 'edit' %}{{ choice | get_question_content }}{% endif %}</textarea>
    </div>

    <div style="margin-bottom: 15px">
        <span style="margin-bottom: 0;font-weight: bold">选项(选中的为本题<span style="color: #1fc231">正确答案</span>)</span>
        <input type="checkbox" name="if-undef"><span>是否为不定项选择</span>
    </div>
</form>

<div id="options">
    {% for i in range(choice.content | get_json_value('len') if op == 'edit' else 4) %}
        <div class="input-group" style="margin-top: 5px">
            <span class="input-group-addon" style="width: 8%">
                <input value="{{ i }}" name="option_index" type="checkbox">&nbsp;&nbsp;{{ i | get_char }}
            </span>
            <input class="form-control" name="options" placeholder="请输入选项内容" type="text"
                {% if op == 'edit' %}value="{{ choice.content | get_json_value(i | string) }}" {% endif %}>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" title="删除">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </span>
        </div>
    {% endfor %}
</div>

<button id="add-options" class="btn btn-primary btn-block" style="margin-top: 15px">
    添加选项
</button>
<div class="form-group" style="margin-top:20px">
    <label>答案解析</label>
    <textarea name="analysis" id="analysis-editor">{% if op == 'edit' %}{{ choice.analysis }}{% endif %}</textarea>
</div>
<button id="save-problem" class="btn btn-primary btn-block" style="margin-top: 15px">保存提交</button>

<script src="{{ url_for('static', filename='js/admin/problem/choice_detail.js') }}"></script>