<div class="panel-heading">
    <span class="pull-right">
        <a id="create-choice" href="{{ url_for('admin.question_create', question_type=question_type, question_classify=question_classify) }}"
           class="btn btn-info btn-sm">
            <span class="fa fa-plus"></span>
            创建题目
        </a>
    </span>
    题目列表
</div>

<div class="panel-body">
    <table class="table fixed-table">
        <thead>
        <tr>
            <th width="10%" style="text-align: center">序号</th>
            <th width="40%">名称</th>
            <th width="20%">答案</th>
            <th>操作</th>
        </tr>
        </thead><!--表格头-->
        <tbody id="tb">
        {% for q in questions %}
            <tr data-id="{{ q.id }}">
                <td style="text-align: center">{{ loop.index }}</td>
                <td class="overflow-ellipsis" data-toggle="tooltip" title="{{ q | get_question_content }}">{{ q | get_question_content }}</td>
                <td class="overflow-ellipsis" data-toggle="tooltip" title="{{ q | get_question_solution }}">{{ q | get_question_solution }}</td>
                <td>
                    <a href="{{ url_for('admin.question_edit', question_type=question_type, question_id=q.id, question_classify=question_classify) }}">编辑</a>
                    <span class="divider"> | </span>
                    <a href="javascript:void(0)" name="del-btn">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody><!--表格主体-->
    </table>
</div>

{% include "admin/widget-del-warning.html" %}

<script>
    var address = "{{ url_for('admin.question', question_type=question_type) }}";
</script>

<script src="{{ url_for('static', filename='js/admin/problem/questions_show.js') }}"></script>