{% extends 'course/widget_course_base.html' %}

{% block header_ext %}
    <script src="{{ url_for('static', filename='js/jquery.raty.js') }}"></script>
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ace.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}


{% block course_page %}
    <div class="col-lg-9 col-md-8  course-detail-main">
        <section class="es-section">
            <div class="nav-btn-tab">
                <ul class="nav nav-tabs" role="tablist" id="course-content">
                    <li role="presentation"><a href="#about" role="tab" data-toggle="tab">课程概览</a></li>
                    <li role="presentation"><a href="#lists" role="tab" data-toggle="tab">课时列表</a></li>
                    <li role="presentation"><a href="#test" role="tab" data-toggle="tab">课堂试卷</a></li>
                    <li role="presentation"><a href="#homework" role="tab" data-toggle="tab">课程作业</a></li>
                    <li role="presentation"><a href="#comment" role="tab" data-toggle="tab">课堂评价</a></li>
                </ul>
            </div>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="course-about" role="tabpanel" class="tab-pane markdown-body" data-to-render="{{ course.about }}"></div>

                <div id="course-lists" role="tabpanel" class="tab-pane markdown-body">
                </div>

                <div id="course-test" role="tabpanel" class="tab-pane markdown-body">
                    <div class="course-detail-content" data-widget-cid="widget-1">
                        <div class="es-piece">
                            <div class="piece-body">
                                <ul class="period-list" id="course-item-list">
                                    {% for p in papers %}
                                        <li class="period" data-paper_id="{{ p.id }}">
                                            <a href="{{ url_for('course.paper_detail', pid=p.id) }}"
                                               title="{{ p.title }}">
                                                <i class="es-icon es-icon-undone"></i>
                                                <span class="title"> {{ p.title }}</span>

                                                <span class="course-type">
                                                    <i class="es-icon es-icon-check"></i>
                                                </span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="course-homework" role="tabpanel" class="tab-pane markdown-body">
                </div>

                <div id="course-comment" role="tabpanel" class="tab-pane">
                    <div id="comment-show-block" class="form-group clearfix">
                        <div class="pull-left" style="margin-left: 10px">
                            评分： <span id="show-raty"></span>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-primary" id="comment-btn">评论</button>
                        </div>
                        <div class="pull-right" id="help-box" style="color: #919191;font-size: 15px;">
                            登录并加入课程后方可进行评价
                        </div>
                    </div>
                    <div id="comment-edit-block" style="display: none;margin-left: 20px;margin-right: 20px">
                        <div class="form-group controls">
                            你的评分： <span id="raty"></span>
                        </div>
                        <div class="form-group">
                            <textarea id="comment-editor" class="form-control" rows="8" name="content"></textarea>
                        </div>
                        <div class="form-group clearfix">
                            <div class="pull-right">
                                <button id="comment-save-btn" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </div>
                    <div id="comment-list" class="markdown-body"></div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block footer_ext %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/markdown_latex_support.js') }}"></script>
    <script>
        $(document).ready(function () {
            var about = $("#course-about");
            about.html(latex_support(about.data('to-render')));
            about.attr('data-to-render', null);
        });
    </script>
    <script>
        $(document).ready(function () {
            /* 根据tab 参数来指定默认显示的tab选项卡 */
            var tab = "{{ tab }}";
            if (tab == "lists") {
                $("#course-content").removeClass('active');
                $("#course-content li:nth-child(2)").addClass('active');
                $("#course-about").removeClass('active');
                $('#course-test').removeClass('active');
                $('#course-homework').removeClass('active');
                $('#course-comment').removeClass('active');
                $("#course-lists").addClass('active');
            }
            else if (tab == "about") {
                $("#course-content").removeClass('active');
                $("#course-content li:nth-child(1)").addClass('active');
                $("#course-lists").removeClass('active');
                $('#course-test').removeClass('active');
                $('#course-homework').removeClass('active');
                $('#course-comment').removeClass('active');
                $("#course-about").addClass('active');
            }
            else if (tab == "test") {
                $("#course-content").removeClass('active');
                $("#course-content li:nth-child(3)").addClass('active');
                $("#course-lists").removeClass('active');
                $("#course-about").removeClass('active');
                $('#course-homework').removeClass('active');
                $('#course-comment').removeClass('active');
                $('#course-test').addClass('active');
            }
            else if (tab == "homework") {
                $("#course-content").removeClass('active');
                $("#course-content li:nth-child(4)").addClass('active');
                $("#course-lists").removeClass('active');
                $("#course-about").removeClass('active');
                $("#course-test").removeClass('active');
                $('#course-comment').removeClass('active');
                $('#course-homework').addClass('active');
            }
            else if (tab == "comment") {
                $("#course-content").removeClass('active');
                $("#course-content li:nth-child(5)").addClass('active');
                $("#course-lists").removeClass('active');
                $("#course-about").removeClass('active');
                $("#course-test").removeClass('active');
                $('#course-homework').removeClass('active');
                $('#course-comment').addClass('active');
            }

            var op = "", btn_text = "";
            var status = {{ status }};
            if (status == 1) {
                $("#course-lists").empty().html("<div id='loading'><img src='{{ url_for('static', filename='images/loading.gif') }}' alt='Loading' /></div>");
                /* 加载课程列表内容 */
                $.ajax({
                    url: "{{ url_for('course.detail_lessons', cid=course.id) }}",
                    dataType: "json",
                    contentType: 'application/json;charset=UTF-8',
                    success: function (html) {
                        $("#course-lists").empty().html(html.data);
                    },
                    error: function () {
                        $("#course-lists").empty().html("<h2 style='text-align: center'> 课程内容为空或者出现其他错误 </h2>");
                    }
                });

                /* 加载作业列表内容 */
                $.ajax({
                    url: "{{ url_for('course.homework_list', cid=course.id) }}",
                    dataType: "json",
                    contentType: 'application/json;charset=UTF-8',
                    success: function (html) {
                        $("#course-homework").empty().html(html.data);
                    },
                    error: function () {
                        $("#course-homework").empty().html("<h2 style='text-align: center'> 作业内容为空或者出现其他错误 </h2>");
                    }
                });

                $("#comment-list").empty().html("<div id='loading'><img src='{{ url_for('static', filename='images/loading.gif') }}' alt='Loading' /></div>");
                /* 加载课程评论内容 */
                $.ajax({
                    url: "{{ url_for('course.process_comment') }}",
                    type: "post",
                    data: {
                        op: "data",
                        cid: "{{ course.id }}"
                    },
                    success: function (data) {
                        if (data["html"] == "") {
                            $("#comment-list").empty().html("<div style='text-align: center'> 目前尚未有评论 </div>");
                        }
                        else {
                            $("#comment-list").empty().html(data["html"]);
                        }
                        if (data["auth"]) {
                            $("#comment-btn").show();
                            $("#help-box").hide();
                        }
                        else {
                            $("#comment-btn").hide();
                            $("#help-box").show();
                        }
                        if (data["commented"]) {
                            op = "edit";
                            btn_text = "重新评论";
                            $("#comment-btn").text(btn_text);
                            $("#comment-editor").val(data["content"]);
                            $("#raty").raty("score", data["rank"]);
                        }
                        else {
                            op = "create";
                            btn_text = "评论";
                            $("#comment-btn").text(btn_text);
                        }
                    },
                    error: function () {
                        $("#comment-list").empty().html("<h2 style='text-align: center'> 课程评论为空或者出现其他错误 </h2>");
                    }
                });

                $("#course-content li a").click(function () {
                    $("#course-content li").removeClass('active');
                    $(this).parent().addClass('active');
                    if ($(this).attr('href') == '#about') {
                        $("#course-lists").removeClass('active');
                        $('#course-test').removeClass('active');
                        $('#course-homework').removeClass('active');
                        $('#course-comment').removeClass('active');
                        $("#course-about").addClass('active');
                    }
                    else if ($(this).attr('href') == '#lists') {
                        $("#course-about").removeClass('active');
                        $('#course-test').removeClass('active');
                        $('#course-homework').removeClass('active');
                        $('#course-comment').removeClass('active');
                        $("#course-lists").addClass('active');
                    }
                    else if ($(this).attr('href') == '#test') {
                        $("#course-lists").removeClass('active');
                        $("#course-about").removeClass('active');
                        $('#course-homework').removeClass('active');
                        $('#course-comment').removeClass('active');
                        $('#course-test').addClass('active');
                    }
                    else if ($(this).attr('href') == '#homework') {
                        $("#course-lists").removeClass('active');
                        $("#course-about").removeClass('active');
                        $('#course-test').removeClass('active');
                        $('#course-comment').removeClass('active');
                        $('#course-homework').addClass('active');
                        /* 加载作业列表内容 */
                        $.ajax({
                            url: "{{ url_for('course.homework_list', cid=course.id) }}",
                            dataType: "json",
                            contentType: 'application/json;charset=UTF-8',
                            success: function (html) {
                                $("#course-homework").empty().html(html.data);
                            },
                            error: function () {
                                $("#course-homework").empty().html("<h2 style='text-align: center'> 作业内容为空或者出现其他错误 </h2>");
                            }
                        });
                    }
                    else if ($(this).attr('href') == '#comment') {
                        $("#course-lists").removeClass('active');
                        $("#course-about").removeClass('active');
                        $('#course-test').removeClass('active');
                        $('#course-homework').removeClass('active');
                        $('#course-comment').addClass('active');
                    }
                });

                $("#raty").raty({
                    starOff: "{{ url_for('static', filename='images/star-off.png') }}",
                    starOn: "{{ url_for('static', filename='images/star-on.png') }}",
                    starHalf: "{{ url_for('static', filename='images/star-half.png') }}"
                });

                $("#show-raty").raty({
                    starOff: "{{ url_for('static', filename='images/star-off.png') }}",
                    starOn: "{{ url_for('static', filename='images/star-on.png') }}",
                    starHalf: "{{ url_for('static', filename='images/star-half.png') }}",
                    readOnly: true,
                    score: {{ course.rank }}
                });

                $("#comment-save-btn").click(function () {
                    $.ajax({
                        url: "{{ url_for('course.process_comment') }}",
                        type: "post",
                        data: {
                            op: op,
                            rank: $("#raty").raty("score") ? $("#raty").raty("score") : 0,
                            content: $("#comment-editor").val(),
                            courseId: "{{ course.id }}"
                        },
                        success: function (data) {
                            if (data["status"] == "fail") {
                                alert(data["info"]);
                                location.reload();
                                return;
                            }
                            $("#comment-list").empty().html(data["html"]);
                            $("#comment-edit-block").hide();
                            $("#show-raty").raty("set", {"score": data["rank"]});
                            op = "edit";
                            $("#comment-btn").removeClass("btn-info").addClass("btn-primary").text("重新评论");
                        }
                    });
                });

                $("#comment-btn").click(function () {
                    if ($(this).hasClass("btn-primary")) {
                        $("#comment-edit-block").show();
                        $(this).removeClass("btn-primary").addClass("btn-info").text("取消评论");
                    }
                    else {
                        $("#comment-edit-block").hide();
                        $(this).removeClass("btn-info").addClass("btn-primary").text(btn_text);
                    }
                });

                $("#course-in").click(function () {
                    if ($('#course-in').hasClass('btn-primary')) {
                        $("#help-box").hide();
                        $("#comment-btn").show();
                    }
                    else {
                        $("#help-box").show();
                        $("#comment-edit-block").hide();
                        $("#comment-btn").hide();
                    }
                });
            }
            else {
                $(".nav.nav-tabs").find("a").each(function () {
                    if ($(this).attr("href") != "#about") {
                        $(this).css("color", "#A0A0A0");
                    }
                });
            }
        });
    </script>
{% endblock %}
{# course #}