{% extends 'base.html' %}
{% block content %}
    <div id="content-container" class="container">
        <ol class="breadcrumb breadcrumb-o" style="margin-top:-18px">
            <li><a href="/">{{ _('Index') }}</a></li>
            <li class="active"><a href="{{ url_for('course.index') }}">{{ _('All The Courses') }}</a></li>
        </ol>

        <div class="course-list">
            <div class="row">
                {% include 'course/widget_course_list.html' %}
            </div>
        </div>
    </div>
{% endblock %}