{% extends 'base.html' %}

{% block header_ext %}
    <link href="{{ url_for('static', filename='css/paper.css') }}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
    <link href="{{ url_for('static', filename='css/choice.css') }}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
    <link href="{{ url_for('static', filename='css/simplemde.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 20px">
        <div class="es-section">
            <div class="clearfix" style="border-bottom: 1px solid #DDD;margin-bottom: 20px">
                <h1 id="paper-title">{{ paper.title }}</h1>
            </div>
            <div style="color: #444;font-size: 15px">
                <p id="paper-intro">{{ paper.about }}</p>
            </div>
            <div style="color: #666;font-size: 13px;margin-bottom: 20px">
                共 {{ paper.questions.count() }} 题，总分 {{ paper.questions | get_total_point }} 分。
            </div>

            <div id="result" class="media" style="display: none">
                <div class="media-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th></th>
                                <th>单选题
                                    <small class="text-muted">({{ paper.questions | get_question_number(0) }})</small>
                                </th>
                                <th>多选题
                                    <small class="text-muted">({{ paper.questions | get_question_number(1) }})</small>
                                </th>
                                <th>不定项选择
                                    <small class="text-muted">({{ paper.questions | get_question_number(2) }})</small>
                                </th>
                                <th>填空题
                                    <small class="text-muted">({{ paper.questions | get_question_number(3) }})</small>
                                </th>
                                <th>判断题
                                    <small class="text-muted">({{ paper.questions | get_question_number(4) }})</small>
                                </th>
                                <th>问答题
                                    <small class="text-muted">({{ paper.questions | get_question_number(5) }})</small>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>答对</th>
                                <td><span class="text-success"><small></small></span></td>
                                <td><span class="text-success"><small></small></span></td>
                                <td><span class="text-success"><small></small></span></td>
                                <td><span class="text-success"><small></small></span></td>
                                <td><span class="text-success"><small></small></span></td>
                                <td rowspan="3" style="vertical-align: middle;text-align: center"><span class="text-success"
                                                                                    style="font-size:40px">?</span></td>
                            </tr>
                            <tr>
                                <th>答错</th>
                                <td><span class="text-danger"><small></small></span></td>
                                <td><span class="text-danger"><small></small></span></td>
                                <td><span class="text-danger"><small></small></span></td>
                                <td><span class="text-danger"><small></small></span></td>
                                <td><span class="text-danger"><small></small></span></td>
                            <tr>
                                <th>得分</th>
                                <td><span class="text-score"><small></small></span></td>
                                <td><span class="text-score"><small></small></span></td>
                                <td><span class="text-score"><small></small></span></td>
                                <td><span class="text-score"><small></small></span></td>
                                <td><span class="text-score"><small></small></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="paper-nav">
                <ul class="nav nav-pills">
                    <li data-id="nav">
                        <a href="#head-single">单选题</a>
                    </li>
                    <li data-id="nav">
                        <a href="#head-multiple">多选题</a>
                    </li>
                    <li data-id="nav">
                        <a href="#head-uncertain">不定项选择</a>
                    </li>
                    <li data-id="nav">
                        <a href="#head-fill">填空题</a>
                    </li>
                    <li data-id="nav">
                        <a href="#head-judge">判断题</a>
                    </li>
                    <li data-id="nav">
                        <a href="#head-essay">问答题</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div id="head-single"></div>
                <div class="panel panel-default" id="question-single-choice">
                    <div class="panel-heading">
                        <strong>单选题</strong>
                        <small class="text-muted">共 {{ paper.questions | get_question_number(0) }}
                            题，总计 {{ paper.questions | get_total_point(0) }} 分
                        </small>
                    </div>
                    <div class="panel-body">
                        {% for pq in paper.questions %}
                            {% if pq.questions.type == 0 %}
                                <div name="question" style="margin-bottom: 20px;font-size: 14px"
                                     data-id="{{ pq.question_id }}" data-point="{{ pq.point }}" data-type="{{ pq.questions.type }}">
                                    <div class="panel-heading media" style="border-bottom: solid 1px #ddd">
                                        <img class="pull-left" data-id="choice_correct" src="/static/images/problem/choice/choice_correct.png" style="display: none">
                                        <img class="pull-left" data-id="choice_wrong" src="/static/images/problem/choice/choice_wrong.png" style="display: none">
                                        <div style="float: left;width: 4%;margin-right: 10px;text-align: center;">
                                            <div style="font-size: 12px;color: #aaa;border: solid 1px #ccc;padding: 0px 1px;border-radius: 5px;background: #f6f6f6;display: inline-block">
                                                {{ pq.point }}分
                                            </div>
                                        </div>
                                        <div class="pull-right" style="margin-bottom: 5px;width: 94%">
                                            <span data-id="single-num-id" style="font-weight: bold"></span>
                                            <span>、 </span>
                                            <span>{{ pq.questions | get_question_content }}</span>
                                        </div>
                                    </div>
                                    <div class="panel-body media-body">
                                        <ul data-id="choice-options">
                                            {% for i in range( pq.questions.content | get_json_value('len') ) %}
                                                <li class="media choice-options" data-check="0">
                                                    <i class="glyphicon glyphicon-ok pull-left"
                                                       style="margin-top: 3px;display: none"></i>
                                                    <span data-id="option"
                                                          style="font-weight: bold">{{ i | get_char }}</span>
                                                    <span>、 </span>
                                                    <span>{{ pq.questions.content | get_json_value(i | string) }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="panel-footer" style="display: none">
                                        <span>正确答案 <strong data-id="correct-sol"></strong></span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                </div>
                <div id="head-multiple"></div>
                <div class="panel panel-default" id="question-multiple-choice">
                    <div class="panel-heading">
                        <strong>多选题</strong>
                        <small class="text-muted">共 {{ paper.questions | get_question_number(1) }}
                            题，总计 {{ paper.questions | get_total_point(1) }} 分
                        </small>
                    </div>
                    <div class="panel-body">
                        {% for pq in paper.questions %}
                            {% if pq.questions.type == 1 %}
                                <div name="question" style="margin-bottom: 20px;font-size: 14px"
                                     data-id="{{ pq.question_id }}" data-point="{{ pq.point }}" data-type="{{ pq.questions.type }}">
                                    <div class="panel-heading media" style="border-bottom: solid 1px #ddd">
                                        <img class="pull-left" data-id="choice_correct" src="/static/images/problem/choice/choice_correct.png" style="display: none">
                                        <img class="pull-left" data-id="choice_wrong" src="/static/images/problem/choice/choice_wrong.png" style="display: none">
                                        <div style="float: left;width: 4%;margin-right: 10px;text-align: center;">
                                            <div style="font-size: 12px;color: #aaa;border: solid 1px #ccc;padding: 0px 1px;border-radius: 5px;background: #f6f6f6;display: inline-block">
                                                {{ pq.point }}分
                                            </div>
                                        </div>
                                        <div class="pull-right" style="margin-bottom: 5px;width: 94%">
                                            <span data-id="multiple-num-id" style="font-weight: bold"></span>
                                            <span>、 </span>
                                            <span>{{ pq.questions | get_question_content }}</span>
                                        </div>
                                    </div>
                                    <div class="panel-body media-body">
                                        <ul data-id="choice-options">
                                            {% for i in range( pq.questions.content | get_json_value('len') ) %}
                                                <li class="media choice-options" data-check="0">
                                                    <i class="glyphicon glyphicon-ok pull-left"
                                                       style="margin-top: 3px;display: none"></i>
                                                    <span data-id="option"
                                                          style="font-weight: bold">{{ i | get_char }}</span>
                                                    <span>、 </span>
                                                    <span>{{ pq.questions.content | get_json_value(i | string) }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="panel-footer" style="display: none">
                                        <span>正确答案 <strong data-id="correct-sol"></strong></span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div id="head-uncertain"></div>
                <div class="panel panel-default" id="question-uncertain-choice">
                    <div class="panel-heading">
                        <strong>不定项选择</strong>
                        <small class="text-muted">共 {{ paper.questions | get_question_number(2) }}
                            题，总计 {{ paper.questions | get_total_point(2) }} 分
                        </small>
                    </div>
                    <div class="panel-body">
                        {% for pq in paper.questions %}
                            {% if pq.questions.type == 2 %}
                                <div name="question" style="margin-bottom: 20px;font-size: 14px"
                                     data-id="{{ pq.question_id }}" data-point="{{ pq.point }}" data-type="{{ pq.questions.type }}">
                                    <div class="panel-heading media" style="border-bottom: solid 1px #ddd">
                                        <img class="pull-left" data-id="choice_correct" src="/static/images/problem/choice/choice_correct.png" style="display: none">
                                        <img class="pull-left" data-id="choice_wrong" src="/static/images/problem/choice/choice_wrong.png" style="display: none">
                                        <div style="float: left;width: 4%;margin-right: 10px;text-align: center;">
                                            <div style="font-size: 12px;color: #aaa;border: solid 1px #ccc;padding: 0px 1px;border-radius: 5px;background: #f6f6f6;display: inline-block">
                                                {{ pq.point }}分
                                            </div>
                                        </div>
                                        <div class="pull-right" style="margin-bottom: 5px;width: 94%">
                                            <span data-id="uncertain-num-id" style="font-weight: bold"></span>
                                            <span>、 </span>
                                            <span>{{ pq.questions | get_question_content }}</span>
                                        </div>
                                    </div>
                                    <div class="panel-body media-body">
                                        <ul data-id="choice-options">
                                            {% for i in range( pq.questions.content | get_json_value('len') ) %}
                                                <li class="media choice-options" data-check="0">
                                                    <i class="glyphicon glyphicon-ok pull-left"
                                                       style="margin-top: 3px;display: none"></i>
                                                    <span data-id='option'
                                                          style="font-weight: bold">{{ i | get_char }}</span>
                                                    <span>、 </span>
                                                    <span>{{ pq.questions.content | get_json_value(i | string) }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="panel-footer" style="display: none">
                                        <span>正确答案 <strong data-id="correct-sol"></strong></span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div id="head-fill"></div>
                <div class="panel panel-default" id="question-fill">
                    <div class="panel-heading">
                        <strong>填空题</strong>
                        <small class="text-muted">共 {{ paper.questions | get_question_number(3) }}
                            题，总计 {{ paper.questions | get_total_point(3) }} 分
                        </small>
                    </div>
                    <div class="panel-body">
                        {% for pq in paper.questions %}
                            {% if pq.questions.type == 3 %}
                                <div name='question' style="margin-bottom: 20px;font-size: 14px"
                                     data-id="{{ pq.question_id }}" data-point="{{ pq.point }}" data-type="{{ pq.questions.type }}">
                                    <div class="panel-heading media">
                                        <img class="pull-left" data-id="choice_correct" src="/static/images/problem/choice/choice_correct.png" style="display: none">
                                        <img class="pull-left" data-id="choice_wrong" src="/static/images/problem/choice/choice_wrong.png" style="display: none">
                                        <div style="float: left;width: 4%;margin-right: 10px;text-align: center;">
                                            <div style="font-size: 12px;color: #aaa;border: solid 1px #ccc;padding: 0px 1px;border-radius: 5px;background: #f6f6f6;display: inline-block">
                                                {{ pq.point }}分
                                            </div>
                                        </div>
                                        <div class="pull-right" style="margin-bottom: 5px;width: 94%">
                                            <span data-id="fill-num-id" style="font-weight: bold"></span>
                                            <span>、 </span>
                                            <span data-id="fill-id">
                                                {{ pq.questions.content | split_fill | safe }}
                                                <span data-id="fill-solution-len-id"
                                                      style="display: none">{{ pq.questions.solution | get_fill_solution_len }}</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="panel-footer" style="display: none">
                                        <span>正确答案 <strong data-id="correct-sol"></strong></span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div id="head-judge"></div>
                <div class="panel panel-default" id="question-judge">
                    <div class="panel-heading">
                        <strong>判断题</strong>
                        <small class="text-muted">共 {{ paper.questions | get_question_number(4) }}
                            题，总计 {{ paper.questions | get_total_point(4) }} 分
                        </small>
                    </div>
                    <div class="panel-body">
                        {% for pq in paper.questions %}
                            {% if pq.questions.type == 4 %}
                                <div name='question' style="margin-bottom: 20px;font-size: 14px"
                                     data-id="{{ pq.question_id }}" data-point="{{ pq.point }}" data-type="{{ pq.questions.type }}">
                                    <div class="panel-heading media" style="border-bottom: solid 1px #ddd">
                                        <img class="pull-left" data-id="choice_correct" src="/static/images/problem/choice/choice_correct.png" style="display: none">
                                        <img class="pull-left" data-id="choice_wrong" src="/static/images/problem/choice/choice_wrong.png" style="display: none">
                                        <div style="float: left;width: 4%;margin-right: 10px;text-align: center;">
                                            <div style="font-size: 12px;color: #aaa;border: solid 1px #ccc;padding: 0px 1px;border-radius: 5px;background: #f6f6f6;display: inline-block">
                                                {{ pq.point }}分
                                            </div>
                                        </div>
                                        <div class="pull-right" style="margin-bottom: 5px;width: 94%">
                                            <span data-id="judge-num-id" style="font-weight: bold"></span>
                                            <span>、 </span>
                                            <span>{{ pq.questions.content }}</span>
                                        </div>
                                    </div>
                                    <div class="panel-body media-body">
                                        <ul data-id="judge-options">
                                            <li class="media choice-options" data-check="0">
                                                <i class="glyphicon glyphicon-ok pull-left"
                                                   style="margin-top: 3px;display: none"></i>
                                                <span data-id='option' style="font-weight: bold">T</span>
                                                <span>、 </span>
                                                <span>正确</span>
                                            </li>
                                            <li class="media choice-options" data-check="0">
                                                <i class="glyphicon glyphicon-ok pull-left"
                                                   style="margin-top: 3px;display: none"></i>
                                                <span data-id='option' style="font-weight: bold">F</span>
                                                <span>、 </span>
                                                <span>错误</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="panel-footer" style="display: none">
                                        <span>正确答案 <strong data-id="correct-sol"></strong></span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div id="head-essay"></div>
                <div class="panel panel-default" id="question-essay">
                    <div class="panel-heading">
                        <strong>问答题</strong>
                        <small class="text-muted">共 {{ paper.questions | get_question_number(5) }}
                            题，总计 {{ paper.questions | get_total_point(5) }} 分
                        </small>
                    </div>
                    <div class="panel-body">
                        {% for pq in paper.questions %}
                            {% if pq.questions.type == 5 %}
                                <div name="question" style="margin-bottom: 20px;font-size: 14px"
                                     data-id="{{ pq.question_id }}" data-point="{{ pq.point }}" data-type="{{ pq.questions.type }}">
                                    <div class="panel-heading media" style="border-bottom: solid 1px #ddd">
                                        <img class="pull-left" data-id="choice_correct" src="/static/images/problem/choice/choice_correct.png" style="display: none">
                                        <img class="pull-left" data-id="choice_wrong" src="/static/images/problem/choice/choice_wrong.png" style="display: none">
                                        <div style="float: left;width: 4%;margin-right: 10px;text-align: center;">
                                            <div style="font-size: 12px;color: #aaa;border: solid 1px #ccc;padding: 0px 1px;border-radius: 5px;background: #f6f6f6;display: inline-block">
                                                {{ pq.point }}分
                                            </div>
                                        </div>
                                        <div class="pull-right" style="margin-bottom: 5px;width: 94%">
                                            <span data-id="essay-num-id" style="font-weight: bold"></span>
                                            <span>、 </span>
                                            <span>{{ pq.questions.content }}</span>
                                        </div>
                                    </div>
                                    <div class="panel-body media-body">
                                        <textarea name="content" id="target-editor"></textarea>
                                    </div>
                                    <div class="panel-footer" style="display: none">
                                        <span>正确答案 <strong data-id="correct-sol"></strong></span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div id="footer-paper" style="height: 500px"></div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default" id="paper-card">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        {% for i in range(paper.questions | get_question_number ) %}
                            <a style="margin: 5px" class="btn btn-default btn-index"
                               data-id="{{ loop.index }}">{{ loop.index }}</a>
                        {% endfor %}
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-success btn-block" id="submit-solution">交卷</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#paper-card').find('a').click(function () {
            $("html,body").animate({scrollTop:$('#q'+$(this).data('id')).offset().top - 70}, 300);
        });

        var question_id = 1;
        $("span[data-id=single-num-id]").each(function () {
            $(this).text(question_id);
            $(this).parent().parent().parent().attr('id', 'q' + question_id.toString());
            question_id++;
        });
        $("span[data-id=multiple-num-id]").each(function () {
            $(this).text(question_id);
            $(this).parent().parent().parent().attr('id', 'q' + question_id.toString());
            question_id++;
        });
        $("span[data-id=uncertain-num-id]").each(function () {
            $(this).text(question_id);
            $(this).parent().parent().parent().attr('id', 'q' + question_id.toString());
            question_id++;
        });
        $("span[data-id=fill-num-id]").each(function () {
            $(this).text(question_id);
            $(this).parent().parent().parent().attr('id', 'q' + question_id.toString());
            question_id++;
        });
        $("span[data-id=judge-num-id]").each(function () {
            $(this).text(question_id);
            $(this).parent().parent().parent().attr('id', 'q' + question_id.toString());
            question_id++;
        });
        $("span[data-id=essay-num-id]").each(function () {
            $(this).text(question_id);
            $(this).parent().parent().parent().attr('id', 'q' + question_id.toString());
            question_id++;
        });

        $("span[data-id=fill-id]").each(function () {
            var solution_len = $(this).find("span[data-id=fill-solution-len-id]").text().split(';');
            var i = 0;
            $(".fill-input").each(function () {
                $(this).css('width', ((solution_len[i].length) * 100 + 40).toString() + 'px');
                i++;
            });
        });

        var essay = new SimpleMDE({
            element: document.getElementById("target-editor"),
            autosave: true,
            showIcons: ["code", "table"],
            tabSize: 4,
            spellChecker: false,
            status: ["lines", "words", "cursor",
                {onUpdate: function () {
                var temp = $('textarea[name=content]').parent().parent().find('span[data-id=essay-num-id]').text();
                if (essay.value() != ""){
                    $('#paper-card').find('a[data-id=' + temp + ']').addClass('active');
                }
                else{
                    $('#paper-card').find('a[data-id=' + temp + ']').removeClass('active');
                }
            }}]
        });

        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() > 250) {
                    $('#paper-nav').addClass('paper-nav');
                    $('#paper-nav').addClass('affix');
                    $('#paper-card').addClass('paper-card');
                }
                else {
                    $('#paper-nav').removeClass('paper-nav');
                    $('#paper-nav').removeClass('affix');
                    $('#paper-card').removeClass('paper-card');
                }
            });

            var nav_chosen = null;
            $('.nav-pills').find('li[data-id=nav]').click(function () {
                if (nav_chosen != null) {
                    nav_chosen.removeClass('active');
                }
                nav_chosen = $(this);
                nav_chosen.addClass('active');
            });

            $(window).scroll(function () {
                var a = [$('#head-single'), $('#head-multiple'), $('#head-uncertain'), $('#head-fill'), $('#head-judge')
                        , $('#head-essay'), $('#footer-paper')];
                var current;
                for(var i=0;i<6;i++){
                    if($(window).scrollTop()+100>=a[i].offset().top && $(window).scrollTop()<a[i+1].offset().top-100){
                        current = i;
                        break;
                    }
                }
                if (nav_chosen != null){
                    nav_chosen.removeClass('active');
                }
                nav_chosen = $('.nav-pills').find('li[data-id=nav]').eq(i);
                nav_chosen.addClass('active');
            });


            $('#question-single-choice').find('ul[data-id=choice-options]').find('li').click(function () {
                var flag = false;
                if($(this).data('check')=='1'){
                    flag = true;
                }
                $(this).parent().children().each(function () {
                    $(this).data('check', '0');
                    $(this).find('i').hide();
                });

                if(flag){
                    $(this).data('check', '0');
                    $(this).find('i').hide();
                }
                else{
                    $(this).data('check', '1');
                    $(this).find('i').show();
                }

                flag = false;
                $(this).parent().children().each(function () {
                    if($(this).data('check') == '1' ){
                        flag = true;
                    }
                });

                var temp = $(this).parent().parent().parent().find('span[data-id=single-num-id]').text();
                if(flag){
                    $('#paper-card').find('a[data-id=' + temp + ']').addClass('active');
                }
                else{
                    $('#paper-card').find('a[data-id=' + temp + ']').removeClass('active');
                }
            });

            $('#question-multiple-choice, #question-uncertain-choice').find('ul[data-id=choice-options]').find('li').click(function () {
                if ($(this).data('check') == '0') {
                    $(this).data('check', '1');
                    $(this).find('i').show();
                }
                else {
                    $(this).data('check', '0');
                    $(this).find('i').hide();
                }

                var flag = false;
                $(this).parent().children().each(function () {
                    if($(this).data('check') == '1' ){
                        flag = true;
                    }
                });

                var temp = $(this).parent().parent().parent().find('span[data-id=multiple-num-id], span[data-id=uncertain-num-id]').text();
                if(flag){
                    $('#paper-card').find('a[data-id=' + temp + ']').addClass('active');
                }
                else{
                    $('#paper-card').find('a[data-id=' + temp + ']').removeClass('active');
                }

            });

            $('ul[data-id=judge-options]').find('li').click(function () {
                var flag = false;
                if($(this).data('check')=='1'){
                    flag = true;
                }

                $(this).parent().children().each(function () {
                    $(this).data('check', '0');
                    $(this).find('i').hide();
                });

                if(flag){
                    $(this).data('check', '0');
                    $(this).find('i').hide();
                }
                else{
                    $(this).data('check', '1');
                    $(this).find('i').show();
                }

                flag = false;
                $(this).parent().children().each(function () {
                    if($(this).data('check') == '1' ){
                        flag = true;
                    }
                });

                var temp = $(this).parent().parent().parent().find('span[data-id=judge-num-id]').text();
                if(flag){
                    $('#paper-card').find('a[data-id=' + temp + ']').addClass('active');
                }
                else{
                    $('#paper-card').find('a[data-id=' + temp + ']').removeClass('active');
                }
            });

            $('.fill-input').keyup(function () {
                var flag = false;
                $(this).parent().find('.fill-input').each(function () {
                    if($(this).val() != ""){
                        flag = true;
                        return false;
                    }
                });

                var temp = $(this).parent().parent().find('span[data-id=fill-num-id]').text();
                if(flag){
                    $('#paper-card').find('a[data-id=' + temp + ']').addClass('active');
                }
                else{
                    $('#paper-card').find('a[data-id=' + temp + ']').removeClass('active');
                }
            });



            $('#submit-solution').click(function () {
                var your_answer = {};
                $('#question-single-choice,#question-multiple-choice,#question-uncertain-choice').find('div[name=question]').each(function () {
                    var question_id = $(this).data('id');
                    var temp = [];
                    $(this).find('ul[data-id=choice-options]').find('li').each(function () {
                        if ($(this).data('check') == '1') {
                            temp.push($(this).find('span[data-id=option]').text());
                        }
                    });
                    if(temp.length!=0) your_answer[question_id.toString()] = temp.join(';');
                    else your_answer[question_id.toString()] = "";
                });

                $('#question-fill').find('div[name=question]').each(function () {
                    var question_id = $(this).data('id');
                    var temp = [];
                    $('.fill-input').each(function () {
                        if($(this).val()!="") temp.push($(this).val());
                    });

                    if(temp.length!=0) your_answer[question_id.toString()] = temp.join(';');
                    else your_answer[question_id.toString()] = "";
                });

                $('#question-judge').find('div[name=question]').each(function () {
                    var question_id = $(this).data('id');
                    var temp = "";
                    $(this).find('ul[data-id=judge-options]').find('li').each(function () {
                        if ($(this).data('check') == '1') {
                            temp = $(this).find('span[data-id=option]').text();
                        }
                    });
                    if (temp == 'T') your_answer[question_id.toString()] = '1';
                    else if(temp == 'F') your_answer[question_id.toString()] = '0';
                    else your_answer[question_id.toString()] = '-1';
                });

                $('#question-essay').find('div[name=question]').each(function () {
                    var question_id = $(this).data('id');
                    your_answer[question_id.toString()] = essay.value();
                });

                $.ajax({
                    url: "{{ url_for('course.paper_result', pid=paper.id) }}",
                    type: "post",
                    dataType: "json",
                    data: your_answer,
                    success: function (data) {
                        if (data['status'] == 'success') {
                            var count=0;
                            $('#result').find('.text-success').find('small').each(function () {
                                $(this).text(data['correct_num'][count.toString()]);
                                count++;
                            });

                            var wrong_num = [];
                            for (var i=0;i<6;i++){
                                wrong_num.push(-data['correct_num'][i.toString()]);
                            }
                            {% for i in range(6) %}
                                wrong_num[{{ i }}] += {{ paper.questions | get_question_number(i) }};
                            {% endfor %}

                            count = 0;
                            $('#result').find('.text-danger').find('small').each(function () {
                                $(this).text(wrong_num[count]);
                                count++;
                            });

                            var points = [0, 0, 0, 0, 0, 0];
                            for(var t in data['result']){
                                if (data['result'][t]=="T") {
                                    var point = $('div[name=question][data-id=' + t.toString() + ']').eq(0).data('point');
                                    point = Number(point);
                                    points[Number($('div[name=question][data-id=' + t.toString() + ']').eq(0).data('type'))] += point;
                                    $('div[name=question][data-id=' + t.toString() + ']').find('img[data-id=choice_correct]').show();
                                }
                                else{
                                    $('div[name=question][data-id=' + t.toString() + ']').find('img[data-id=choice_wrong]').show();
                                }
                            }

                            count = 0;
                            $('#result').find('.text-score').find('small').each(function () {
                                $(this).text(points[count].toString());
                                count++;
                            });

                            $('#result').show();

                            for(var k in data['solution']){
                                var sol = $('div[data-id=' + k + ']').find('strong[data-id=correct-sol]').eq(0);
                                sol.css('color','#70d445');
                                sol.text(data['solution'][k]);
                                sol.parent().parent().show();
                            }
                            $('#submit-solution').hide();
                            $("html,body").animate({scrollTop:0}, 300);

                        }
                    }
                })

            });

        });
    </script>

{% endblock %}