{% extends 'base.html' %}

{% block header_ext %}
    <link href="{{ url_for('static', filename='css/paper.css') }}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
    <link href="{{ url_for('static', filename='css/choice.css') }}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
    <link href="{{ url_for('static', filename='css/simplemde.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 20px">
        <div class="es-section">
            <div class="clearfix" style="border-bottom: 1px solid #DDD;margin-bottom: 20px">
                <h1 id="paper-title">{{ paper.title }}</h1>
            </div>
            <div style="color: #444;font-size: 15px">
                <p id="paper-intro">{{ paper.about }}</p>
            </div>
            <div style="color: #666;font-size: 13px;margin-bottom: 20px">
                共 {{ paper.questions.count() }} 题，总分 {{ paper.questions | get_total_point }} 分。
            </div>
            <div id="result" class="media" style="display: none">
                {% include 'course/widget_paper_result.html' %}
            </div>

            <div id="paper-nav">
                <ul class="nav nav-pills">
                    {% for i in range(6) %}
                        <li data-id="nav">
                            <a class="btn" data-goto="{{ head_id[i] }}">{{ name[i] }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                {% for i in range(6) %}
                    <div id="{{ head_id[i] }}"></div>
                    <div class="panel panel-default" id="{{ div_id[i] }}">
                        <div class="panel-heading">
                            {% with type=i, name=name[i] %}
                                {% include 'course/widget_paper_question_type.html' %}
                            {% endwith %}
                        </div>
                        <div class="panel-body">
                            {% for pq in paper.questions %}
                                {% if pq.questions.type == i %}
                                    <div data-name="question" style="margin-bottom: 20px;font-size: 14px"
                                         data-id="{{ pq.question_id }}" data-point="{{ pq.point }}" data-type="{{ pq.questions.type }}">
                                        {% with point=pq.point, question=pq.questions %}
                                            <div class="panel-heading media" style="border-bottom: solid 1px #ddd">
                                                {% include 'course/widget_paper_question_title.html' %}
                                            </div>
                                            <div class="panel-body media-body">
                                                {% include 'course/widget_paper_question_detail.html' %}
                                            </div>
                                            <div class="panel-footer" style="display: none">
                                                {% include 'course/widget_paper_question_solution.html' %}
                                            </div>
                                        {% endwith %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <div id="footer-paper" style="height: 500px"></div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default" id="paper-card">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        {% for i in range(paper.questions | get_question_number ) %}
                            <a style="margin: 5px" class="btn btn-default btn-index"
                               data-id="{{ loop.index }}">{{ loop.index }}</a>
                        {% endfor %}
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-success btn-block" id="submit-solution">交卷</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_ext %}
    <script>
        //错误题目数量为：总题目数量-答对题目数量
        var wrong_num = [];
        {% for i in range(6) %}
            wrong_num[{{ i }}] += {{ paper.questions | get_question_number(i) }};
        {% endfor %}
    </script>
    <script src="{{ url_for('static', filename='js/course/paper_detail.js') }}"></script>

{% endblock %}