{% extends "course/widget_material_base.html" %}
{% block header_ext %}
    <script src="{{ url_for('static', filename='js/clappr.min.js') }}"></script>
{% endblock %}

{% block content %}
    <!-- 视频 -->
    <div class="row">
        <div class="col-md-12 video-container">
            <div id="player"></div>
        </div>
    </div>
{% endblock %}

{% block foot_ext %}
    <script>
        var player = new Clappr.Player(
                {
                    source: "{{ url_for('static', filename='resource') }}/" + "{{cur_material.uri}}",
                    parentId: "#player",
                    width: 840,
                    height: 600,
                    mediacontrol: {
                        seekbar: "#46c37b",
                        buttons: "#ffffff"
                    }
                }
        );
    </script>

    <script>
        /* TODO 需要更改 */
        $(function () {
            var Accordion = function (el, multiple) {
                this.el = el || {};
                this.multiple = multiple || false;

                // Variables privadas
                var links = this.el.find('.link');
                // Evento
                links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
            }

            Accordion.prototype.dropdown = function (e) {
                var $el = e.data.el;
                $this = $(this),
                        $next = $this.next();

                $next.slideToggle();
                $this.parent().toggleClass('open');

                if (!e.data.multiple) {
                    $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
                }
                ;
            }

            var accordion = new Accordion($('#accordion'), false);
        });

        $(function () {
            $('#accordion a').bind('click', function () {
                $('#accordion a').removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>
{% endblock %}
{# cur_material #}