{% extends "course/widget_material_base.html" %}
{% block header_ext %}
{% endblock %}

{% block content %}
    <!-- pdf -->
    <div class="col-md-12 course-container">
        <iframe class="course-player" frameborder="0" style="overflow:hidden;height:90%;width:100%"
                src="{{ url_for('static', filename='js/pdfjs/web/viewer.html') }}?file={{ url_for('static', filename='resource/'+cur_material.uri) }}"></iframe>

    </div>

{% endblock %}

{% block foot_ext %}
    <script>
        $(function () {
            var Accordion = function (el, multiple) {
                this.el = el || {};
                this.multiple = multiple || false;

                // Variables privadas
                var links = this.el.find('.link');
                // Evento
                links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
            };

            Accordion.prototype.dropdown = function (e) {
                var $el = e.data.el;
                $this = $(this);
                $next = $this.next();

                $next.slideToggle();
                $this.parent().toggleClass('open');

                if (!e.data.multiple) {
                    $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
                }
            };

            var accordion = new Accordion($('#accordion'), false);
        });

        $(function () {
            $this = $('#accordion');
            $next = $this.next();
            $next.slideToggle();
            $this.parent().toggleClass('open');
            $('#accordion').find('.submenu').not($next).slideUp().parent().removeClass('open');

            $('#material{{ cur_material.id }}').parent().parent().children('div').click();
            $('#material{{ cur_material.id }}').children('a').addClass('active');

        });
    </script>
{% endblock %}
{# cur_material #}

