{% extends "course/widget_material_base.html" %}
{% block header_ext %}
    <script src="//cdn.bootcss.com/clappr/0.2.64/clappr.min.js"></script>
{% endblock %}

{% block content %}
    <div id="player-content" class="col-md-12 course-container"></div>
{% endblock %}

{% block footer_ext %}
    <script>
        var js_material_selector = '#material' + '{{ cur_material.id }}';
        var js_material_type = "{{ cur_material.m_type }}";
        var js_pdf_src = "{{ url_for('static', filename='js/pdfjs/web/viewer.html') }}?file={{ url_for('static', filename='resource') }}/" + "{{cur_material.uri}}";
        var js_pdf_data = "{{ url_for('static', filename='js/pdfjs/web/viewer.html') }}?file={{ url_for('static', filename='resource') }}/";

        var video_src = "{{ cur_material.uri }}";
        var js_material_src = "{{ url_for('static', filename='resource') }}/" + "{{cur_material.uri}}";
        /* 外链视频资源直接引用地址 */
        if(video_src.startsWith('http://') || video_src.startsWith('https://')){
            js_material_src = video_src;
        }
        var js_material_data = "{{ url_for('static', filename='resource') }}/";

        var js_ajax_url = "{{ url_for('course.get_material_src') }}";
    </script>
    <script src="{{ url_for('static', filename='js/course/player.js') }}"></script>
{% endblock %}
{# cur_material #}