{% for c in courses %}
    <div class="col-lg-4 col-md-4 col-xs-6">
        <div class="course-item">
            <div class="course-img">
                <a href="{{ url_for('course.view', cid=c.id) }}" target="_blank">
                    {% if c.public == False %}
                    <span class="tags"><span class="tag-private"></span></span>
                    {% endif %}
                    <img src="{{ url_for('static', filename=c.smallPicture)}}" alt={{ c.title }} class="img-responsive">
                </a>
            </div>
            <div class="course-info">
                <div class="title">
                    <a class="link-dark" href="{{ url_for('course.view', cid=c.id) }}" target="_blank"
                       title=c.title>
                        <strong>{{ c.title }}</strong>
                    </a>
                </div>
                <div style="margin: 10px;height: 80px;overflow: hidden">
                    {{ c.subtitle | truncate(100, True) }}
                </div>
                <div class="metas clearfix">
                    <span class="num"><i class="es-icon es-icon-people"></i>{{ c.studentNum }}</span>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{# courses #}