{% block header_ext %}
    <script src="{{ url_for('static', filename='js/show_invalid_info.js') }}"></script>
{% endblock %}

<div class="course-detail-content" data-widget-cid="widget-1">
    <div class="es-piece">
        <div class="piece-body">
            {% if current_user.id | is_join_course(homework.course_id) %}
                <div class="homework-body">
                    <a id="return-homework-list" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-chevron-left"></i>返回作业列表</a>
                    <!--a href="{{ url_for('course.view', cid=homework.course_id) }}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-chevron-left"></i>返回作业列表</a-->
                    <div class="homework-content">
                        <span style="font-size: 20px"><b>{{ homework.title }}</b></span>
                        <span class="pull-right" style="color: #919191;font-size: 14px">发布于： {{ homework.publish_time | unite_time_format }}</span>
                    </div>
                    <div class="homework-content"><b><i class="glyphicon glyphicon-time"></i> 截止日期：</b> {{ homework.deadline | unite_time_format }}</div>
                    <div class="homework-content">
                        <b>作业内容：</b>
                        <div id="homework-description" data-to-render="{{ homework.description }}"></div>
                    </div>
                    <div class="homework-content">
                        <div style="margin-bottom: 10px;"><b>作业附件（点击可下载）：</b></div>
                        <div id="homework-appendix-list">
                            {% if homework.appendix.count() > 0 %}
                                {% for a in homework.appendix %}
                                    <div id="appendix{{ a.id }}" class="alert alert-success alert-dismissable uploaded" role="alert"
                                     data-appendix-name="{{ a.name }}" data-appendix-id="{{ a.id }}">
                                        <i class="es-icon es-icon-description status-icon"></i>
                                        <a href="{{ url_for('static', filename='homework/appendix/' + a.uri) }}" download="{{ a.name }}">{{ a.name }}</a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="text-center">本次作业未提供附件</div>
                            {% endif %}
                        </div>
                    </div>
                    <div id="my-uploads" class="homework-content">
                        <div style="margin-bottom: 10px;"><b>我的提交：</b></div>
                        {% for a in my_upload %}
                            <div id="my-submit{{ a.id }}" class="alert alert-success alert-dismissable" role="alert"
                                 data-upload-name="{{ a.name }}" data-upload-id="{{ a.id }}">
                                <button type="button" class="close" aria-label="Close">
                                    <span class="delete-upload" aria-hidden="true" onclick="delete_upload(this);">&times;</span></button>
                                <i class="es-icon es-icon-description status-icon pull-left"></i>
                                <span class="col-md-8 col-sm-8">{{ a.name }}</span>
                                <span>提交于：{{ a.submit_time | unite_time_format }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="homework-content">
                        <b>作业提交：</b>
                        {% if curr_time < homework.deadline %}
                            <form id="homework-file-form">
                                <div class="form-group">
                                    <span id="select-homework-files" class="btn btn-info" style="margin-top: 10px;"><i class="fa fa-folder-open"></i>上传作业</span>
                                    <p class="help-block">你可以上传pdf,zip,rar格式的文件，一次最多选择10个文件，不超过50M</p>
                                </div>
                                <div id="file-selected-preview"></div>
                                <input type="hidden" name="op" value="upload">
                            </form>
                        {% else %}
                            <div>作业已过截止日期，无法提交！</div>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="homework-body text-center">请先加入课程才能查看作业！</div>
            {% endif %}
        </div>
    </div>
</div>

{% block footer_ext %}
    <script src="{{ url_for('static', filename='js/course/homework_upload.js') }}"></script>
    <script>
    var post_to = "{{ url_for('course.homework_upload', hid=homework.id) }}";
    var back_to_list = "{{ url_for('course.homework_list', cid=homework.course_id) }}";
    $(document).ready(function() {
        var description = $("#homework-description");
        description.html(latex_support(description.data('to-render')));
        description.attr('data-to-render', null);
    });
    </script>
{% endblock %}
{# lessons #}