<div class="course-detail-content" data-widget-cid="widget-1">
    <div class="es-piece">
        <div class="piece-body">
            <ul class="period-list" id="course-item-list">
                <li class="period lesson-item lesson-item-1960" data-id="1960" data-num="1">
                    <a href="/course/232/learn#lesson/1960" title="用户导入导出体验">
                        <i class="es-icon es-icon-undone status-icon"></i>
                        <span class="title">   课时1：用户导入导出体验</span>
                        <!-- 紧跟标题 -->

                        <!-- 右边图标 -->

                        <span class="course-type">
      <i class="es-icon es-icon-graphicclass" data-toggle="tooltip" data-placement="top" title=""
         data-original-title="图文课程"></i>
    </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>