<ul data-id="judge-options">
    <li class="media choice-options" data-check="0">
        <i class="glyphicon glyphicon-ok pull-left"
           style="margin-top: 3px;display: none"></i>
        <span data-id='option' style="font-weight: bold">T</span>
        <span>、 </span>
        <span>正确</span>
    </li>
    <li class="media choice-options" data-check="0">
        <i class="glyphicon glyphicon-ok pull-left"
           style="margin-top: 3px;display: none"></i>
        <span data-id='option' style="font-weight: bold">F</span>
        <span>、 </span>
        <span>错误</span>
    </li>
</ul>
