{% extends 'base.html' %}

{% block content %}
    <div class="container" id="content-container">
        <section class="course-detail-header after">
            <ol class="breadcrumb breadcrumb-o" style="margin-top:-18px">
                <li><a href="/">{{ _('Index') }}</a></li>
                <li><a href="{{ url_for('course.index') }}">{{ _('All The Courses') }}</a></li>
                <li class="active"><a href="{{ url_for('course.view', cid=course.id) }}">{{ course.title }}</a></li>
            </ol>

            <div class="es-section clearfix">
                <div class="course-header-top clearfix">
                    <div class="course-img">
                        <img class="img-responsive" src="{{ url_for('static', filename=course.smallPicture) }}"
                             alt="{{ course.title }}">
                    </div>

                    <div class="course-info">
                        <h2 class="title">
                            {{ course.title }}
                        </h2>
                        <div class="subtitle"> {{ course.subtitle }}</div>
                        {% if course.public == False %}
                        <div class="subtitle">开放时间:{{ course.beginTime }} 至 {{ course.endTime }}</div>
                        {% endif %}
                    </div>

                    <div class="course-operation clearfix">
                        <div class="student-num hidden-xs">
                            <i class="es-icon es-icon-people"></i>
                            <span id="student-num">{{ course.studentNum }} </span> 人
                        </div>

                        {% if current_user %}
                            {% if current_user.id | is_join_course(course.id) %}
                                <div class="join" id="join-course">
                                    <a class="btn btn-danger btn-lg"
                                       href="{{ url_for('course.exit_out', cid=course.id) }}" id="course-in">
                                        退出课堂</a>
                                </div>
                            {% else %}
                                <div class="join" id="join-course">
                                    <a class="btn btn-primary btn-lg"
                                       href="{{ url_for('course.join', cid=course.id) }}" id="course-in">
                                        加入课程</a>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="join">
                                <a class="btn btn-info btn-lg"> 请登录以加入课堂</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

        <div class="course-detail row">

            {% block course_page %}
            {% endblock %}

            <!-- 所有加入该课程的学员 -->
            <div id="all_students">
                {% include 'course/widget_course_students.html' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_ext %}
    <script>
        $(document).ready(function () {
            var status = {{ status }};
            if (status == 2) {
                $(".join").children("a").text("加入审批中").attr("href", "#");
            }

            $("#join-course a").click(function () {
                $.ajax({
                    url: this.href,
                    success: function (data) {
                        if (data.status == 'success') {
                            /* 目前状态是已经加入了课程, 所以需要变为退出课堂 */
                            if ($('#course-in').hasClass('btn-primary')) {
                                $("#course-in").text('退出课程');
                                $("#course-in").removeClass('btn-primary').addClass('btn-danger');
                                $("#course-in").attr("href", "{{ url_for('course.exit_out', cid=course.id) }}");
                                $("#all_students").html(data.users_list);
                                $("#student-num").empty().html(data.student_num);
                            }

                            /* 需要加入课程 */
                            else {
                                $("#course-in").text('加入课程');
                                $("#course-in").removeClass('btn-danger').addClass('btn-primary');
                                $("#course-in").attr("href", "{{ url_for('course.join', cid=course.id) }}");
                                $("#all_students").html(data.users_list);
                                $("#student-num").empty().html(data.student_num);
                            }
                        }
                        else if (data["status"] == "pending") {
                            $(".join").children("a").text("加入审批中").attr("href", "#");
                            alert("已经提交申请，请耐心等待老师同意");
                        }
                        else if (data["status"] == "duplicated") {
                            alert("请勿重复提交申请");
                        }
                        else if (data["status"] == "time error") {
                            alert("当前时间段不能申请该课程");
                        }
                    },
                    error: function () {
                        if ($('#course-in').hasClass('btn-primary')) {
                            alert('加入课程失败, 请重试');
                        }
                        else {
                            alert('退出课程失败, 请重试');
                        }
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}
{# course #}