<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>
        {% block title %}{% if title %}{{ title }}{% endif %}-{{ _('eHPC') }}{% endblock %}
    </title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/player.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>

    {% block header_ext %}
    {% endblock %}

</head>

<body>
<div class="material">
    <!-- 返回课程按钮 -->
    <a class="btn btn-primary" href="{{ url_for('course.view', cid=cur_course.id) }}">
        <span class="glyphicon glyphicon-chevron-left"></span>返回课程
    </a>
    <div class="space"></div>
    {#        <!-- 课程路径 -->#}
    {#        <ol class="breadcrumb">#}
    {#            <li>{{ cur_course.title }}</li>#}
    {#            <li>{{ cur_lesson.title }}</li>#}
    {#            <li>{{ cur_material.name }}</li>#}
    {#        </ol>#}
    <div class="row">
        <!-- 左侧播放区域 -->
        <div class="col-md-9">
            {% block content %}
            {% endblock %}
        </div>
        <!-- 右侧目录区域 -->
        <div class="col-md-3 bg-gray">
            <ul id="accordion" class="accordion">
                {% for lesson in cur_course.lessons %}
                    <li>
                        <div class="link"><i class="glyphicon glyphicon-tags">
                        </i>课时{{ loop.index }}: {{ lesson.title }}
                            {% if lesson.materials.all() %}
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            {% endif %}
                        </div>
                        {% if lesson.materials.all() %}
                            <ul class="submenu" style="display: block;">
                                {% for m in lesson.materials %}
                                    <li><a href="{{ url_for('course.material', mid=m.id) }}">{{ m.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% block foot_ext %}
{% endblock %}
</body>

{# cur_course #}