{% extends 'admin/base.html' %}

{% block content %}
    <div class="container" id="content-container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-col">
                    <div class="panel-heading">
                        任务列表
                        <span class="pull-right">
                            <button class="btn btn-primary btn-sm" id="knowledge-create-btn"
                                    data-toggle="modal" data-target="#knowledgeModal">
                                <span class="glyphicon glyphicon-plus"></span>新建实验室
                            </button>
                        </span>
                    </div>
                    <div id="content" class="panel-body">
                        <table id="knowledge" class="table table-striped" style="word-break:break-all;">
                            <thead><!--表格头-->
                            <tr>
                                <th>序号</th>
                                <th>标题</th>
                                <th>简介</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody><!--表格主体-->
                            {% for k in knows %}
                                <tr data-id="{{ k.id }}">
                                    <td width="10%">{{ loop.index }}</td>
                                    <td width="30%">{{ k.title }}</td>
                                    <td width="30%">{{ k.content | truncate(20)}}</td>
                                    <td width="30%">
                                        <a class="btn btn-link" href="javascript:void(0);" name="knowledge-edit-btn">
                                            <i class="es-icon es-icon-edit"></i>编辑信息</a>
                                        <a class="btn btn-link"
                                           href="{{ url_for('admin.lab_view', knowledge_id=k.id) }}">
                                            <i class="es-icon es-icon-edit"></i>编辑任务</a>
                                        <a class="btn btn-link" href="javascript:void(0);" name="knowledge-del-btn">
                                            <i class="es-icon es-icon-delete"></i>删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="knowledgeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">知识点信息</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-2 control-label">
                            <label class="pull-right" for="knowledge-title-field">标题</label>
                        </div>
                        <div class="col-md-9 controls">
                            <input id="knowledge-title-field" class="form-control" name="title" type="text">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 50px;">
                        <div class="col-md-2 control-label">
                            <label class="pull-right" for="knowledge-content-field">简介</label>
                        </div>
                        <div class="col-md-9 controls">
                                <textarea class="form-control" id="knowledge-content-field" name="content"
                                          style="height: 200px"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="knowledge-save-btn" type="button" class="btn btn-primary" data-dismiss="modal">保存</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_ext %}
    <script>
        $(document).ready(function () {
            var id = -1, op="";
            $("#knowledge-create-btn").click(function () {
                $("#knowledge-title-field").val("");
                $("#knowledge-content-field").val("");
                id = -1;
                op = "create";
            });

            $("#knowledge-save-btn").click(function () {
                $.ajax({
                    type: "post",
                    url: location.href,
                    data: {
                        op: op,
                        knowledge_id: id,
                        title: $("#knowledge-title-field").val(),
                        content: $("#knowledge-content-field").val()
                    },
                    success: function (data) {
                        if (data["status"] == "success") {
                            location.reload();
                        }
                    }
                });
            });

            $("#knowledge").find("a[name=knowledge-del-btn]").click(function () {
                var obj = $(this);
                $.ajax({
                    type: "post",
                    url: location.href,
                    data: {
                        op: "del",
                        knowledge_id: obj.parent().parent().data("id")
                    },
                    success: function (data) {
                        if (data["status"] == "success") {
                            obj.parent().parent().remove();
                        }
                    }
                })
            });

            $("#knowledge").find("a[name=knowledge-edit-btn]").click(function () {
                var row = $(this).parent().parent();
                $("#knowledge-title-field").val(row.find("td").eq(1).text());
                $("#knowledge-content-field").val(row.find("td").eq(2).text());
                id = row.data("id");
                op = "edit";
                $("#knowledgeModal").modal();
            });
        });
    </script>
{% endblock %}