{% extends 'admin/base.html' %}

{% block header_ext %}
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container" id="content-container">
        <div class="row">
            <div class="col-md-3">
                <div style="margin-bottom: 10px;font-size: 15px">知识点列表</div>
                <div class="list-group">
                    {% for k in knows %}
                    <a class="list-group-item{% if k.id==knowledge.id %} active{% endif %}"
                    href="{{ url_for('admin.lab_view', knowledge_id=k.id) }}">{{ k.title }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-9">
                <div class="panel panel-default panel-col">
                    <div class="panel-heading">
                        任务列表
                        <span class="pull-right">
                            <button id="edit-seq" class="btn btn-info btn-sm">调整顺序</button>
                            <a class="btn btn-primary btn-sm" id="challenge-create-btn"
                                    href="{{ url_for('admin.lab_create', knowledge_id=knowledge.id) }}">
                                <span class="glyphicon glyphicon-plus"></span>创建任务
                            </a>
                        </span>
                    </div>
                    <div id="content" class="panel-body">
                        <div id="hint" style="display: none;">请直接拖动任务列表</div>
                        {% include 'admin/lab/widget_challenge_table.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_ext %}
    <script>
        $(document).ready(function () {
            $("#challenges").find("a[name=challenge-del-btn]").click(function () {
                var challenge_id = $(this).parent().parent().data("id");
                $.ajax({
                    type: "post",
                    url: "{{ url_for('admin.lab_view', knowledge_id=knowledge.id) }}",
                    data: {
                        op: "del",
                        challenge_id: challenge_id
                    },
                    success: function (data) {
                        if (data["status"] == "success") {
                            location.reload();
                        }
                        else {
                            alert("删除失败");
                        }
                    }
                });
            });

            $("#edit-seq").click(function () {
                if ($(this).text() == "调整顺序") {
                    $("#challenges").find("tbody").sortable();
                    $("#hint").show();
                    $(this).text("保存");
                }
                else {
                    var seq = {}, idx = 1;
                    $("#challenges").find("tbody").find("tr").each(function () {
                        seq[$(this).data("id")] = idx++;
                    });
                    $.ajax({
                        type: "post",
                        url: location.href,
                        data: {
                            op: "seq",
                            seq: JSON.stringify(seq)
                        },
                        success: function (data) {
                            if (data["status"] == "success") {
                                location.reload();
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}