{% extends 'admin/base.html' %}

{% block header_ext %}
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/simplemde.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container" id="content-container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-col">
                    <div class="panel-heading">任务详情</div>
                    <div id="content" class="panel-body">

                        <div id="info-filed">

                            <div class="form-group row">
                                <label class="col-md-2" style="text-align: right;">标题</label>
                                <div class="col-md-8">
                                    <input id="challenge-title" name="title" required class="form-control"
                                           type="text" value="{{ '' if op == 'create' else challenge.title }}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2" style="text-align: right;">内容</label>
                                <div class="col-md-8 controls">
                                    <textarea id="challenge-content" name="content" data-provide="markdown"
                                              rows="10" data-img-upload-url="{{ url_for("markdown_files.images") }}"
                                    >{{ '' if op == 'create' else challenge.content }}</textarea>
                                </div>
                            </div>

                            <div class="form-group row" id="selected-material">
                                <label class="col-md-2" style="text-align: right;">材料</label>
                                <div class="col-md-8">
                                    <span>{{ '未选择' if op == 'create' else challenge.material.name }}</span>
                                    <button class="btn btn-info" data-toggle="modal" data-target="#materialModal">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                            </div>

                            <div class="form-group row" id="selected-question">
                                <label class="col-md-2" style="text-align: right;">任务</label>
                                <div class="col-md-10">
                                    <span>
                                    {% if op == 'edit' and challenge.question_type != 6 %}
                                        {{ challenge.question | get_question_content }}
                                    {% elif op == 'edit' and challenge.question_type == 6 %}
                                        {{ challenge.program.title }}
                                    {% else %}
                                        未选择
                                    {% endif %}
                                    </span>
                                    <button class="btn btn-info" data-toggle="modal" data-target="#questionModal">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <button id="challenge-save-btn" class="btn btn-primary" style="margin-left: 92%">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="materialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 50%">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">材料列表</h4>
                </div>
                <div class="modal-body">
                    <div style="margin-bottom: 20px;">
                        请点击需要选择的材料
                    </div>
                    {% include 'admin/lab/widget_matrtial_table.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 50%">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">材料列表</h4>
                </div>
                <div class="modal-body">
                    <div style="margin-bottom: 20px;">
                        请点击需要选择的习题
                    </div>
                    {% include 'admin/lab/widget_question_table.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block footer_ext %}
    <script language=javascript src='{{ url_for("static", filename="js/markdown_upload_img.js") }}'></script>
    <script>
        $(document).ready(function () {
            $("#materials").dataTable();
            $("#questions").dataTable();
            var edt = drop_img_simplemde(new SimpleMDE({
                element: $("#challenge-content")[0],
                autosave: true,
                showIcons: ["code", "table"],
                tabSize: 4,
                spellChecker: false
            }));

            $("#list").find("a").click(function () {
                $("#list").find("a").removeClass("active");
                $(this).addClass("active");
                if ($(this).attr("href") == "#info-filed") {
                    $("#info-filed").show();
                    $("#material-filed").hide();
                    $("#question-filed").hide();
                }
                else if ($(this).attr("href") == "#material-filed") {
                    $("#info-filed").hide();
                    $("#material-filed").show();
                    $("#question-filed").hide();
                }
                else if ($(this).attr("href") == "#question-filed") {
                    $("#info-filed").hide();
                    $("#material-filed").hide();
                    $("#question-filed").show();
                }
            });

            var material_id = {{ -1 if op == 'create' else challenge.material.id }};
            var question_id = {% if op == 'edit' and challenge.question_type != 6 %}{{ challenge.question.id }}
                              {% elif op == 'edit' and challenge.question_type == 6 %}{{ challenge.program.id }}
                              {% else %}-1
                              {% endif %};
            var question_type = {{ -1 if op == 'create' else challenge.question_type }};
            $("#materials").find("tbody").on("click", "tr", function () {
                $("#materials").find("tbody").find("tr").removeClass("selected");
                $(this).addClass("selected");
                material_id = $(this).data("id");
                $("#selected-material").children("div").children("span").text($(this).children().eq(1).text());
            });
            $("#questions").find("tbody").on("click", "tr", function () {
                $("#questions").find("tbody").find("tr").removeClass("selected");
                $(this).addClass("selected");
                question_id = $(this).data("id");
                question_type = $(this).data("type");
                $("#selected-question").children("div").children("span").text($(this).children().eq(1).text());
            });

            $("#challenge-save-btn").click(function () {
                if (question_id == -1) {
                    alert("请选择一个习题");
                    return;
                }
                if ($("#challenge-title").val() == "") {
                    alert("请填写标题");
                    return;
                }
                $.ajax({
                    type: "post",
                    url: location.href,
                    data: {
                        title: $("#challenge-title").val(),
                        content: edt.value(),
                        material_id: material_id,
                        question_type: question_type,
                        question_id: question_id
                    },
                    success: function (data) {
                        if (data["status"] == "success") {
                            location.href = "{{ url_for('admin.lab_view', knowledge_id=knowledge.id) }}";
                        }
                        else {
                            alert("保存失败");
                        }
                    }
                })
            });

        });
    </script>
{% endblock %}