<table id="challenges" class="table" style="word-break:break-all;">
    <thead><!--表格头-->
    <tr>
        <th>序号</th>
        <th>标题</th>
        <th>材料</th>
        <th>习题</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody><!--表格主体-->
    {% for c in knowledge.challenges.order_by('knowledgeNum') %}
        <tr data-id="{{ c.id }}">
            <td width="10%">{{ c.knowledgeNum }}</td>
            <td width="15%">{{ c.title }}</td>
            <td width="30%">{{ c.material.name | truncate(20)}}</td>
            {% if c.question_type == 6 %}
            <td width="25%">{{ c.program.title | truncate(15)}}</td>
            {% else %}
            <td width="25%">{{ c.question | get_question_content | truncate(15)}}</td>
            {% endif %}
            <td width="20%">
                <a class="btn btn-link"
                   href="{{ url_for('admin.lab_edit', knowledge_id=knowledge.id, challenge_id=c.id) }}">
                    <i class="es-icon es-icon-edit"></i>编辑</a>
                <a class="btn btn-link" href="javascript:void(0);" name="challenge-del-btn">
                    <i class="es-icon es-icon-delete"></i>删除</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

