{% extends 'admin/base.html' %}

{% block content %}

    <div class="container" id="content-container">

        <div class="row">
            <div class="col-md-3">
                <div class="list-group-panel">
                    <div class="list-group">
                        <a class="list-group-item" href="{{ url_for('admin.course') }}">课程管理</a>
                    </div>
                    <div class="list-group">
                        <a class="list-group-item" href="{{ url_for('admin.course_edit', course_id=course.id) }}">课程信息</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_picture', course_id=course.id) }}">课程图片</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_lesson', course_id=course.id) }}">课时管理</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_permission', course_id=course.id) }}">权限管理</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_member', course_id=course.id) }}">成员管理</a>
                        <a class="list-group-item active" href="{{ url_for('admin.course_homework', course_id=course.id) }}">课程作业</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_paper', course_id=course.id) }}">试卷管理</a>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="panel panel-default panel-col">
                    <div class="panel-heading">
                        <div class="pull-right">
                            <a href="{{ url_for('admin.course_homework_create', course_id=course.id) }}" class="btn btn-info btn-sm" id="homework-create-btn"
                                    data-toggle="modal">
                                <i class="fa fa-plus"></i> 作业
                            </a>
                        </div>
                        <button class="btn btn-info btn-sm pull-right" id="download-score-btn" style="margin-right:10px">
                            <i class="fa fa-floppy-o"></i>
                            导出所有成绩
                        </button>
                        作业管理
                    </div>

                    <div class="panel-body">
                        <ul class="lesson-list sortable-list" id="homework-item-list">
                            {% if homeworks.count() > 0 %}
                                {% for h in homeworks %}
                                <li class="item-lesson clearfix" data-homework_id="{{ h.id }}" style="word-break: break-all;">
                                    <div class="item-content col-md-6">
                                        <i class="es-icon es-icon-undone"></i>
                                         {{ h.title }}
                                    </div>
                                    <div class="col-md-6">
                                        <a href="{{ url_for('admin.course_homework_edit', course_id=course.id, homework_id=h.id) }}" class="btn btn-link pull-right" data-toggle="modal" name="edit-btn">
                                            <i class="es-icon es-icon-edit"></i>编辑</a>
                                        <a class="btn btn-link pull-right" href="javascript:void(0)" name="del-btn">
                                            <i class="es-icon es-icon-delete"></i>删除</a>
                                        <a class="btn btn-link pull-right" href="{{ url_for('admin.course_homework_upload_list', course_id=course.id, homework_id=h.id) }}">
                                            <i class="glyphicon glyphicon-eye-open"></i>上交情况</a>
                                        <a class="btn btn-link pull-right" href="{{ url_for('admin.course_homework_correct', course_id=course.id, homework_id=h.id) }}">
                                            <i class="fa fa-check-square-o"></i> 批改作业</a>
                                    </div>
                                </li>
                                {% endfor %}
                            {% else %}
                                <div class="text-center">本课程暂时未发布作业</div>
                            {% endif %}
                        </ul>
                        <input type="hidden" name="score-path" value="{{ url_for('static',filename='homework/upload/course_%d/score.xlsx' % course.id) }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "admin/widget-del-warning.html" %}

{% endblock %}
{% block footer_ext %}
    <script type="text/javascript" language="JavaScript">
        var obj = null;
        $("#homework-item-list").find("a[name=del-btn]").click(function () {
            obj = this;
            $("#del-warning").modal("show");
        });

        $("#del-confirm").click(function () {
            $.ajax({
                type: "post",
                url: location.href,
                data: {
                    op: 'del',
                    homework_id: $(obj).parent().parent().data('homework_id')
                },
                async: false,
                success: function (data) {
                    if (data["status"] == "success") {
                        $(obj).parent().parent().remove();
                        $("#del-warning").modal("hide");
                    }
                    else {
                        alert_modal("删除失败");
                    }
                }
            });
        });

        $("#download-score-btn").click(function () {
            $.ajax({
                type: "post",
                url: location.href,
                data: {
                    op: "download-score",
                },
                success: function (data) {
                    if(data.status=="success"){
                        var score_path = $("input[name='score-path']").val();
                        var a = document.createElement('a');
                        a.href = score_path;
                        a.target = '_parent';
                        // Use a.download if available, it prevents plugins from opening.
                        if ('download' in a) {
                            var cur_time = new Date();
                            var cur_year = cur_time.getFullYear();
                            // 得到两位数的时间， 比如 20170302-11_01.zip
                            var cur_month = ("0" + (cur_time.getMonth() + 1)).slice(-2);
                            var cur_day = ("0" + cur_time.getDate()).slice(-2);
                            var cur_hour = ("0" + cur_time.getHours()).slice(-2);
                            var cur_min = ("0" + cur_time.getMinutes()).slice(-2);
                            a.download = '' + data['download_file_name'] + '_' + cur_year
                            + cur_month + cur_day + '-' + cur_hour + '-' + cur_min + '.xlsx';
                        }
                        // Add a to the doc for click to work.
                        (document.body || document.documentElement).appendChild(a);
                        if (a.click) {
                            a.click(); // The click method is supported by most browsers.
                        }
                        else {
                            $(a).click(); // Backup using jquery
                        }
                        // Delete the temporary link.
                        a.parentNode.removeChild(a);
                    }
                },
                error: function() {
                    alert_modal("文件下载失败");
                    setTimeout(function() {$("#modal-alert").modal("hide");}, 1500);
                }
            });
        });
    </script>
{% endblock %}