{% extends 'admin/base.html' %}

{% block content %}

    <div class="container" id="content-container">
        <div class="panel panel-default panel-col">
            <div class="panel-heading">
                    <span class="pull-right">
                        <a id="create-course" href="{{ url_for('admin.course_create') }}" class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-plus"></span>
                            创建课程
                        </a>
                    </span>
                在教课程
            </div>
            <div class="panel-body">
                <table class="table" id="course-table" style="word-break:break-all;">
                    <thead>
                    <tr>
                        <th width="30%">名称</th>
                        <th>课程数</th>
                        <th>学生数</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="tb">
                    {% for c in courses %}
                        <tr data-cid="{{ c.id }}">
                            <td>{{ c.title }}</td>
                            <td>{{ c.lessonNum }}</td>
                            <td>{{ c.studentNum }}</td>
                            <td>{{ c.createdTime }}</td>
                            <td>
                                <a href="{{ url_for('admin.course_edit', cid=c.id) }}">编辑</a>
                                <span class="divider"> | </span>
                                <a href="javascript:void(0)" name="del-btn">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_ext %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tb").find("a[name=del-btn]").each(function () {
                $(this).click(function () {
                    var obj = this;
                    $.ajax({
                        type: "post",
                        url: "{{ url_for('admin.process_course') }}",
                        data: {op: 'del', id: $(obj).parent().parent().data('cid')},
                        async: false,
                        success: function (data) {
                            $(obj).parent().parent().remove();
                            alert("删除成功");
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}