{% extends 'admin/base.html' %}

{% block header_ext %}
    <link href="{{ url_for('static', filename='css/qrcode.css') }}" rel="stylesheet">
    <script src="//cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>
    <link href="//cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet">
{% endblock %}


{% block content %}

    <div class="container" id="content-container">
        <div class="panel panel-default panel-col">
            <div class="panel-heading">
                    <span class="pull-right">
                        <a id="create-course" href="{{ url_for('admin.course_create') }}" class="btn btn-info btn-sm">
                            <span class="fa fa-plus"></span>
                            创建课程
                        </a>
                    </span>
                    <button id="edit-seq" class="btn btn-info btn-sm pull-right" style="margin-right: 20px;"><i class="fa fa-arrows-v" aria-hidden="true"></i> 调整顺序</button>
                在教课程
            </div>
            <div class="panel-body">
                <div id="hint" style="display: none;margin-bottom: 10px;"><i class="es-icon es-icon-info"></i> 请直接拖动课程来调整顺序</div>
                <table class="table fixed-table" id="course-table">
                    <thead>
                    <tr>
                        <th width="40%">名称</th>
                        <th width="10%">课程数</th>
                        <th width="10%">学生数</th>
                        <th width="20%">创建时间</th>
                        <th width="20%">操作</th>
                    </tr>
                    </thead>
                    <tbody id="tb">
                    {% if all_courses.count() > 0 %}
                        {% for c in all_courses %}
                        <tr data-id="{{ c.id }}" style="">
                            <td  title="{{ c.title }}">
                                <a href="{{ url_for('admin.course_edit', course_id=c.id) }}"><img src="/static/{{ c.smallPicture }}" width="160px" height="90px"></a>
                                <span class="overflow-ellipsis" data-toggle="tooltip">{{ c.title }}</span>
                            </td>
                            <td>{{ c.lessonNum }}</td>
                            <td>{{ c.studentNum }}</td>
                            <td>{{ c.createdTime }}</td>
                            <td>
                                <a href="{{ url_for('admin.course_edit', course_id=c.id) }}">管理</a>
                                <span class="divider"> | </span>
                                <a href="javascript:void(0)" name="del-btn">删除</a>
                                <span class="divider"> | </span>
                                <a href="javascript:void(0)" name="qr-code">二维码</a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="text-center"><td colspan="5">你还没有发布任何课程</td></tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="QRcode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog qrcode">
            <div class="modal-content" style="text-align: center">
                <div class="modal-body btn">
                    <img id="qrcode-img" src="">
                </div>
            </div>
        </div>
    </div>

    {% include "admin/widget-del-warning.html" %}

{% endblock %}

{% block footer_ext %}
    <script type="text/javascript">
        $(document).ready(function () {
            var id = -1, obj = null;
            $("#tb").find("a[name=del-btn]").each(function () {
                $(this).click(function () {
                    id = $(obj).parent().parent().data('id');
                    obj = this;
                    $("#del-warning").modal("show");
                });
            });
            $("#tb").find("a[name=qr-code]").each(function () {
                $(this).click(function () {
                    var obj = this;
                    $.ajax({
                        type: "post",
                        url: "{{ url_for('wechat.qr_code') }}",
                        data: { course_id: $(obj).parent().parent().data('id') },
                        async: false,
                        success: function (data) {
                            if(data['status'] == 'success'){
                                $("#qrcode-img").attr('src', data['img_path']);
                                $("#QRcode").modal('show');
                            }
                        }
                    });
                });
            });
            $("#del-confirm").click(function () {
                $.ajax({
                    type: "post",
                    url: location.href,
                    data: {
                        course_id: $(obj).parent().parent().data('id') ,
                        op: "del"
                    },
                    async: false,
                    success: function (data) {
                        $(obj).parent().parent().remove();
                        $("#del-warning").modal("hide");
                    }
                });
            });
            $("#edit-seq").click(function () {
                if ($(this).text() == " 调整顺序") {
                    $("#course-table").find("tbody").sortable();
                    $("#hint").show();
                    $(this).text("保存");
                }
                else {
                    var seq = {}, idx = 1;
                    $("#course-table").find("tbody").find("tr").each(function () {
                        seq[$(this).data("id")] = idx++;
                    });
                    $.ajax({
                        type: "post",
                        url: location.href,
                        data: {
                            op: "seq",
                            seq: JSON.stringify(seq)
                        },
                        success: function (data) {
                            if (data["status"] == "success") {
                                location.reload();
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}