{% extends 'admin/base.html' %}

{% block header_ext %}
<script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container" id="content-container">

        <div class="row">
            <div class="col-md-3">
                <div class="list-group-panel">
                    <div class="list-group">
                        <a class="list-group-item" href="{{ url_for('admin.course') }}">课程管理</a>
                    </div>
                    <div class="list-group">
                        <a class="list-group-item" href="{{ url_for('admin.course_edit', course_id=course.id) }}">课程信息</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_picture', course_id=course.id) }}">课程图片</a>
                        <a class="list-group-item active" href="{{ url_for('admin.course_lesson', course_id=course.id) }}">课时管理</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_permission', course_id=course.id) }}">权限管理</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_member', course_id=course.id) }}">成员管理</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_homework', course_id=course.id) }}">课程作业</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_paper', course_id=course.id) }}">试卷管理</a>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="panel panel-default panel-col">
                    <div class="panel-heading">
                        <button class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#myModal">
                            <i class="glyphicon glyphicon-link"></i>
                            添加外链接文件
                        </button>
                        <button id="local-upload-btn" class="btn btn-info btn-sm pull-right fileinput-button" style="margin-right: 10px;">
                            <i class="es-icon es-icon-fileupdate"></i>
                            本地上传
                        </button>
                        {{ lesson.title }}
                    </div>

                    <div class="panel-body" id="file-manage-panel">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th width="5%">
                                    <input id="all-select" type="checkbox"></th>
                                <th>文件名</th>
                                <th>类型</th>
                            </tr>
                            </thead>
                            <tbody id="material-table-body">

                            {% for m in materials %}
                                <tr data-material_id="{{ m.id }}">
                                    <td><input type="checkbox"></td>
                                    <td><a href="{{ url_for('course.material', mid=m.id) }}">{{ m.name }}</a></td>
                                    <td>{{ m.m_type }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                        <button class="btn btn-danger btn-sm pull-right" id="del-material-btn">
                            <i class="glyphicon glyphicon-trash"></i>
                            删除
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form id="dropz">
        <input type="hidden" name="op" value="local-upload" />
    </form>

    <div id="upload-status" class="upload-status">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="dialog-close-btn">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"><i class="glyphicon glyphicon-upload"></i>上传文件状态</h4>
                </div>
                <div class="modal-body">
                    <div class="table table-striped files" id="previews">
                        <div class="table table-striped files" id="previews">
                            <div id="template" class="file-row">
                                <div>
                                    <span class="name" data-dz-name></span>
                                    <span class="size" data-dz-size style="margin-left: 10px"></span>
                                    <strong class="error text-danger" data-dz-errormessage></strong>
                                </div>
                                <div>
                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                        <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 添加外链接文件-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"><i class="glyphicon glyphicon-link"></i> 添加外链接文件</h4>
                </div>
                <div class="modal-body">
                    <form id="course-material-form" enctype="application/x-www-form-urlencoded">

                        <div class="form-group clearfix">
                            <div class="controls">
                                <label for="course-link-field">文件链接：</label>
                                <input class="form-control" id="course-link-field" name="file-link" type="text" placeholder="请输入文件外链接" style="width: 70%;" required>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="controls">
                                <label for="course-name-field">自定义文件名：</label>
                                <input class="form-control" id="course-name-field" name="file-name" type="text" placeholder="请指定文件名" style="width: 70%;" required>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="controls">
                                <label for="file-type">请选择文件类型：</label>
                                <div>
                                    <input id="course-type-field2" name="file-type" type="radio" value="video"><label for="course-type-field2">Video</label>&nbsp;&nbsp;&nbsp;
                                    <input id="course-type-field3" name="file-type" type="radio" value="radio"><label for="course-type-field3">Radio</label>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="op" value="link-upload">
                        <input type="hidden" name="link-type" value="origin">

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="upload-material-btn" data-dismiss="modal">添加</button>
                </div>
            </div><!--/.modal-content-->
        </div><!--/.modal-->
    </div>


{% endblock %}
{% block footer_ext %}
    <script src="{{ url_for('static', filename='js/admin/course/material.js') }}"></script>
{% endblock %}