{% extends 'admin/base.html' %}

{% block header_ext %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container" id="content-container">

        <div class="row">
            <div class="col-md-3">
                <div class="list-group-panel">
                    <div class="list-group">
                        <a class="list-group-item" href="{{ url_for('admin.course') }}">课程管理</a>
                    </div>
                    <div class="list-group">
                        <a class="list-group-item" href="{{ url_for('admin.course_edit', cid=c.id) }}">课程信息</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_picture', cid=c.id) }}">课程图片</a>
                        <a class="list-group-item active" href="{{ url_for('admin.course_lesson', cid=c.id) }}">课时管理</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_paper', cid=c.id) }}">试卷管理</a>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="panel panel-default panel-col">
                    <div class="panel-heading">
                        <button class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#choiceModal">
                            <i class="es-icon es-icon-fileupdate"></i>
                            上传文件
                        </button>
                        {{ l.title }}
                    </div>

                    <div class="panel-body" id="file-manage-panel">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th width="5%">
                                    <input id="all-select" type="checkbox"></th>
                                <th>文件名</th>
                                <th>类型</th>
                            </tr>
                            </thead>
                            <tbody id="material-table-body">

                            {% for m in materials %}
                                <tr data-mid="{{ m.id }}">
                                    <td><input type="checkbox"></td>
                                    <td><a href="{{ url_for('course.material', mid=m.id) }}">{{ m.name }}</a></td>
                                    <td>{{ m.m_type }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                        <button class="btn btn-danger btn-sm pull-right" id="del-material-btn">
                            <i class="glyphicon glyphicon-trash"></i>
                            删除
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="choiceModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">请选择文件来源</h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-primary" id="link-bnt" data-toggle="modal" data-target="#linkModal" data-dismiss="modal">外链接资源</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" id="local-bnt" data-toggle="modal" data-target="#localModal" data-dismiss="modal">本地上传</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 本地上传文件-->
    <div class="modal fade" id="localModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">上传文件</h4>
                </div>
                <div class="modal-body">
                    <form id="course-material-form1" enctype="multipart/form-data">

                        <div class="form-group clearfix">
                            <div class="col-md-offset-2 col-md-8 controls">
                                <input id="course-picture-field" name="file" type="file">
                                <p class="help-block">你可以上传mp3, mkv, pdf, ppt格式的文件</p>
                            </div>
                        </div>
                        <div class="form-group clearfix col-md-offset-2">
                            上传进度：<progress></progress>&nbsp;
                            <span id="progress"></span>
                        </div>

                        <input type="hidden" name="op" value="upload">
                        <input type="hidden" name="link-type" value="local">
                        <input type="hidden" name="id" value="{{ c.id }}">
                        <input type="hidden" name="lid" value="{{ l.id }}">

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="upload-material-btn1">保存</button>
                </div>
            </div><!--/.modal-content-->
        </div><!--/.modal-->
    </div>

    <!-- 添加外链接文件-->
    <div class="modal fade" id="linkModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">添加外链接</h4>
                </div>
                <div class="modal-body">
                    <form id="course-material-form2" enctype="application/x-www-form-urlencoded">

                        <div class="form-group clearfix">
                            <div class="controls">
                                <label for="course-link-field">文件链接：</label><input id="course-link-field" name="file-link" type="text" placeholder="请输入文件外链接" style="width: 70%;" required>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="controls">
                                <label for="course-name-field">自定义文件名：</label><input id="course-name-field" name="file-name" type="text" placeholder="请指定文件名" style="width: 70%;" required>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="controls">
                                <label for="file-type">请选择文件类型：</label>
                                <input id="course-type-field1" name="file-type" type="radio" value="pdf"><label for="course-type-field1">PDF</label>&nbsp;&nbsp;&nbsp;
                                <input id="course-type-field2" name="file-type" type="radio" value="video"><label for="course-type-field2">Video</label>&nbsp;&nbsp;&nbsp;
                                <input id="course-type-field3" name="file-type" type="radio" value="radio"><label for="course-type-field3">Radio</label>
                            </div>
                        </div>

                        <input type="hidden" name="op" value="upload">
                        <input type="hidden" name="link-type" value="origin">
                        <input type="hidden" name="id" value="{{ c.id }}">
                        <input type="hidden" name="lid" value="{{ l.id }}">

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="upload-material-btn2">保存</button>
                </div>
            </div><!--/.modal-content-->
        </div><!--/.modal-->
    </div>

{% endblock %}
{% block footer_ext %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#all-select").click(function () {
                if (this.checked) {
                    $("#material-table-body").find("input").each(function () {
                        this.checked = true;
                    });
                }
                else {
                    $("#material-table-body").find("input").each(function () {
                        this.checked = false;
                    });
                }
            });

            $("#upload-material-btn1,#upload-material-btn2").click(function (e) {
                if (e.target.id == "upload-material-btn1") {
                    material_form = $('#course-material-form1')[0];
                }
                else material_form = $('#course-material-form2')[0];
                $.ajax({
                    url: "{{ url_for('admin.process_material') }}",
                    type: "post",
                    data: new FormData(material_form),
                    cache: false,
                    contentType: false,
                    processData: false,
                    xhr: function(){ //获取ajaxSettings中的xhr对象，为它的upload属性绑定progress事件的处理函数  
                        myXhr = $.ajaxSettings.xhr();  
                        if(myXhr.upload){ //检查upload属性是否存在  
                            //绑定progress事件的回调函数  
                            myXhr.upload.addEventListener('progress',progressHandlingFunction, false);   
                        }  
                        return myXhr; //xhr对象返回给jQuery使用  
                    },
                    success: function (data) {
                        if(data.status=="success"){
                            alert("上传成功");
                        }
                        else{
                            alert("上传失败 " + data['info']);
                        }
                        location.reload();
                    },
                    error: function (data) {
                        alert("上传失败");
                    }
                });
            });

            $("#del-material-btn").click(function () {
                var array = [];
                $("#material-table-body").find("input").each(function () {
                    if (this.checked) {
                        $(this).parent().parent().remove();
                        array.push($(this).parent().parent().data("mid"));
                    }
                });

                $.ajax({
                    type: "post",
                    url: "{{ url_for('admin.process_material') }}",
                    data: {
                        op: "del",
                        id: "{{ c.id }}",
                        lid: "{{ l.id }}",
                        seq: array
                    },
                    success: function (data) {
                        if(data.status=="success"){
                            alert("删除成功");
                        }
                        else{
                            alert("删除失败");
                        }
                    }
                });
            });
        });

        //上传进度回调函数：  
        function progressHandlingFunction(e) {  
            if (e.lengthComputable) {  
                $('progress').attr({value : e.loaded, max : e.total}); //更新数据到进度条  
                var percent = e.loaded/e.total*100;  
                $('#progress').html(percent.toFixed(2) + "%");  
            }  
        } 

    </script>
{% endblock %}

{#
l
materials
#}