{% extends 'admin/base.html' %}

{% block header_ext %}

{% endblock %}

{% block content %}

    <div class="container" id="content-container">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group-panel">
                    <div class="list-group">
                        <a class="list-group-item" href="{{ url_for('admin.course') }}">课程管理</a>
                    </div>
                    <div class="list-group">
                        <a class="list-group-item" href="{{ url_for('admin.course_edit', course_id=course.id) }}">课程信息</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_picture', course_id=course.id) }}">课程图片</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_lesson', course_id=course.id) }}">课时管理</a>
                        <a class="list-group-item " href="{{ url_for('admin.course_permission', course_id=course.id) }}">权限管理</a>
                        <a class="list-group-item active" href="{{ url_for('admin.course_member', course_id=course.id) }}">成员管理</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_homework', course_id=course.id) }}">课程作业</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_paper', course_id=course.id) }}">试卷管理</a>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="panel panel-default panel-col">
                    <div class="panel-heading" style="position: sticky; top: 0px;">
                        成员管理
                    </div>

                    <div class="panel-body">
                        <div class="panel-body">
                            <table class="table fixed-table">
                                <thead>
                                <tr>
                                    <th width="15%">姓名</th>
                                    <th width="15%">学号</th>
                                    <th width="10%">性别</th>
                                    <th width="15%">手机</th>
                                    <th width="10%">状态</th>
                                    <th width="15%">操作</th>
                                </tr>
                                </thead><!--表格头-->
                                <tbody>
                                {% for a in applies %}
                                    <tr data-id="{{ a.id }}">
                                        <td>{{ a.user.name }}</td>
                                        <td>{{ a.user.student_id }}</td>
                                        <td>{{ '女' if a.user.gender else '男' }}</td>
                                        <td>{{ a.user.phone }}</td>
                                        <td>{{ a.status | get_apply_status }}
                                        <td>
                                        {% if a.status == 0 %}
                                            <a href="{{ url_for('admin.course_approved', apply_id=a.id) }}">同意</a>
                                            <span class="divider"> | </span>
                                            <a href="{{ url_for('admin.course_disapproved', apply_id=a.id) }}">拒绝</a>
                                        {% elif a.status == 1 %}
                                            <a href="{{ url_for('admin.course_kick', apply_id=a.id) }}">踢出</a>
                                        {% else %}
                                            已处理
                                        {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody><!--表格主体-->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block footer_ext %}
{% endblock %}