{% extends 'admin/base.html' %}

{% block header_ext %}
{% endblock %}

{% block content %}

    <div class="container" id="content-container">

        <div class="row">
            <div class="col-md-3">
                <div class="list-group-panel">
                    <div class="list-group">
                        <a class="list-group-item" href="{{ url_for('admin.course') }}">课程管理</a>
                    </div>
                    <div class="list-group">
                        <a class="list-group-item" href="{{ url_for('admin.course_edit', course_id=course.id) }}">课程信息</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_picture', course_id=course.id) }}">课程图片</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_lesson', course_id=course.id) }}">课时管理</a>
                        <a class="list-group-item active" href="{{ url_for('admin.course_paper', course_id=course.id) }}">试卷管理</a>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="panel panel-default panel-col">
                    <div class="panel-heading" style="position: sticky; top: 0px;">
                        <div class="pull-right">
                            <button class="btn btn-primary btn-sm" id="paper-create-btn"
                                    data-toggle="modal" data-target="#myModal">
                                <i class="glyphicon glyphicon-plus">试卷</i>
                            </button>
                        </div>
                        试卷管理
                    </div>

                    <div class="panel-body">
                        <ul class="lesson-list sortable-list" id="paper-item-list">
                            {% for p in papers %}
                                <li class="item-lesson clearfix" data-paper_id="{{ p.id }}" style="word-break: break-all;">
                                    <div class="item-content col-md-6">
                                        <i class="es-icon es-icon-undone"></i>试卷
                                            <span class="number">{{ loop.index }}</span> ：{{ p.title }}
                                    </div>
                                    <div class="col-md-6">
                                        <a class="btn btn-link pull-right" data-toggle="modal" data-target="#myModal" name="edit-btn">
                                            <i class="es-icon es-icon-edit"></i>编辑</a>
                                        <a class="btn btn-link pull-right" href="javascript:void(0)" name="del-btn">
                                            <i class="es-icon es-icon-delete"></i>删除</a>
                                        <a class="btn btn-link pull-right" href="{{ url_for('admin.paper_edit', course_id=course.id, paper_id=p.id) }}" name="edt-btn">
                                            <i class="es-icon es-icon-addbox"></i>题目</a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">试卷信息</h4>
                </div>
                <div class="modal-body">
                    <form id="course-paper-form" class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="col-md-2 control-label">
                                <label for="paper-title-field">标题</label>
                            </div>
                            <div class="col-md-9 controls">
                                <input id="paper-title-field" class="form-control" name="title" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2 control-label">
                                <label for="paper-content-field">简介</label>
                            </div>
                            <div class="col-md-9 controls">
                                <textarea class="form-control" id="paper-content-field" name="content"
                                          style="height: 200px"></textarea>
                            </div>
                        </div>

                        <input id="paper-op-field" type="hidden" name="op">
                        <input id="paper-id-field" type="hidden" name="paper_id">
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="paper-save-btn" type="button" class="btn btn-primary">保存</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
{% endblock %}

{% block footer_ext %}
    <script type="text/javascript">
        var url = "{{ url_for('admin.course_paper', course_id=course.id) }}";
    </script>

    <script src="{{ url_for('static', filename='js/admin/course/paper.js') }}"></script>
{% endblock %}