{% extends 'admin/base.html' %}

{% block header_ext %}
    <script src="//cdn.bootcss.com/smalot-bootstrap-datetimepicker/2.4.3/js/bootstrap-datetimepicker.min.js"></script>
    <link href="//cdn.bootcss.com/smalot-bootstrap-datetimepicker/2.4.3/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/show_invalid_info.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="container" id="content-container">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group-panel">
                    <div class="list-group">
                        <a class="list-group-item" href="{{ url_for('admin.course') }}">课程管理</a>
                    </div>
                    <div class="list-group">
                        <a class="list-group-item" href="{{ url_for('admin.course_edit', course_id=course.id) }}">课程信息</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_picture', course_id=course.id) }}">课程图片</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_lesson', course_id=course.id) }}">课时管理</a>
                        <a class="list-group-item active" href="{{ url_for('admin.course_permission', course_id=course.id) }}">权限管理</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_member', course_id=course.id) }}">成员管理</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_homework', course_id=course.id) }}">课程作业</a>
                        <a class="list-group-item" href="{{ url_for('admin.course_paper', course_id=course.id) }}">试卷管理</a>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="panel panel-default panel-col">
                    <div class="panel-heading" style="position: sticky; top: 0px;">
                        权限管理
                    </div>

                    <div class="panel-body">
                        <form id="course-permission-form" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-2 control-label">是否公开</label>
                                <div class="col-md-8">
                                    <div class="radio-inline">
                                        <input id="is-public" type="radio" name="public" value="1" {% if course.public == True %}checked{% endif %} onclick="checkYes();">是
                                    </div>
                                    <div class="radio-inline">
                                        <input type="radio" name="public" value="0" {% if course.public == False %}checked{% endif %} onclick="checkNo();">否
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dtp_input1" class="col-md-2 control-label">开始时间</label>
                                <div class="col-md-8">
                                    <div id="dtp1" class="input-group date form_datetime col-md-8" data-link-field="dtp_input1" >
                                        <input class="form-control" size="16" value="{{ course.beginTime | unite_time_format }}" readonly="" type="text">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                    </div>
                                </div>
                                <input name="begin" id="dtp_input1" value="{{ course.beginTime }}" type="hidden"><br>
                            </div>

                            <div class="form-group">
                                <label for="dtp_input1" class="col-md-2 control-label">截止时间</label>
                                <div class="col-md-8">
                                    <div id="dtp2" class="input-group date form_datetime col-md-8" data-link-field="dtp_input2" >
                                        <input class="form-control" size="16" value="{{ course.endTime | unite_time_format }}" readonly="" type="text">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                    </div>
                                </div>
                                <input name="end" id="dtp_input2" value="{{ course.endTime }}" type="hidden"><br>
                            </div>
                        </form>
                        <div class="col-md-offset-2 col-md-8">
                            <button id="course-permission-save" class="btn btn-fat btn-primary">保存</button>
                            <span id="course-permission-info" class="hide" style="margin-left: 20px;color: red;">
                                <i class="es-icon es-icon-warning"></i>&nbsp;
                                <span></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block footer_ext %}
    <script type="text/javascript">
        function checkYes() {
            $("#dtp_input1").val(null);
            $("#dtp_input2").val(null);
            $(".form_datetime input").val(null);
        }
        function checkNo() {
            $("#dtp_input1").val("{{ course.beginTime }}");
            $("#dtp_input2").val("{{ course.beginTime }}");
            $("#dtp1 input").val("{{ course.beginTime | unite_time_format }}");
            $("#dtp2 input").val("{{ course.endTime | unite_time_format }}");
        }

        $(document).ready(function () {
            $('#dtp1').datetimepicker({
                format: "yyyy-mm-dd hh:ii",
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0
            });
            $('#dtp2').datetimepicker({
                format: "yyyy-mm-dd hh:ii",
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0
            });
            $("#course-permission-save").click(function() {
                if (!$("#is-public")[0].checked) {
                    if ($("#dtp_input1").val() == "" || $("#dtp_input1").val() == "None" || $("#dtp_input1").val() == null) {
                        show_invalid_info("#course-permission-info","#course-permission-info span","请设置开始时间");
                        return;
                    }
                    if ($("#dtp_input2").val() == "" || $("#dtp_input2").val() == "None" || $("#dtp_input1").val() == null) {
                        show_invalid_info("#course-permission-info","#course-permission-info span","请设置截止时间");
                        return;
                    }
                }

                $.ajax({
                    type: "post",
                    url: "{{ url_for('admin.course_permission', course_id = course.id) }}",
                    cache: false,
                    processData: false,
                    contentType: false,
                    data: new FormData($('#course-permission-form')[0]),
                    success: function (data) {
                        if (data["status"] == "success") {
                            location.reload();
                        }
                        else {
                            alert_modal("保存失败");
                        }
                    }
                });
            });
        });

    </script>
{% endblock %}