{% extends 'base.html' %}

{% block content %}

    <script type="text/javascript">

    </script>

    <div class="container" id="content-container">

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="list-group-panel">
                            <div class="list-group-heading">课程信息</div>
                            <div class="list-group">
                                <a class="list-group-item " href="{{ url_for('admin.create') }}">基本信息</a>
                                <a class="list-group-item active" href="{{ url_for('admin.picture') }}">课程图片</a>
                                <a class="list-group-item " href="{{ url_for('admin.lesson') }}">课时管理</a>
                            </div>
                        </div><!-- /list-group-block -->

                    </div>

                </div>
            </div>

            <div class="col-md-9">

                <div class="panel panel-default panel-col">
                    <div class="panel-heading">课程图片</div>

                    <div class="panel-body">
                        <form id="course-picture-form" method="post" action="{{ url_for('admin.upload') }}" enctype="multipart/form-data" novalidate="novalidate">

                            <div class="form-group clearfix">
                                <div class="col-md-offset-2 col-md-8">
                                    <img src="/static/images/course/noImg.jpg">
                                </div>
                            </div>

                            <div class="form-group clearfix">
                                <div class="col-md-offset-2 col-md-8">
                                    <input id="course-picture-field" name="picture" accept="image/gif,image/jpeg,image/png" data-explain="你可以上传jpg, gif, png格式的文件, 图片建议尺寸至少为480x270。<br>文件大小不能超过<strong>2M</strong>。" type="file">

                                    <p class="help-block">你可以上传jpg, gif, png格式的文件, 图片建议尺寸至少为480x270。<br>文件大小不能超过<strong>2M</strong>。</p>

                                </div>
                            </div>

                            <div class="form-group clearfix">
                                <div class="col-md-offset-2 col-md-8">
                                    <button class="btn btn-fat btn-primary" id="upload-picture-btn" type="submit">上传</button>
                                </div>
                            </div>


                        </form>

                    </div>
                </div>

            </div>


        </div>

    </div>
{% endblock %}