
    <form class="mbl" action="/group/search_group" method="get">
        <div class="search-with-btn">
            <input type="hidden" name="_csrf_token" value="061532c03e85456ed4a0dcc805896ed9444bce33">
            <input type="text" class="form-control" placeholder="小组搜索" name="keyWord" value="">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </form>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">我的小组</h3>
            <a href="/my/group/join?type=myGroup" class="more">
                <i class="es-icon es-icon-morehoriz"></i></a>
        </div>
        <div class="panel-body">
            <div class="media-group-list">
                <div class="media media-group">
                    <div class="media-left">
                        <a href="/group/3" title="在线教育频道">
                            <img src="/files/default/2015/06-09/110306a628f7385125.jpg?7.2.0" alt="在线教育频道"
                                 class="avatar-square-md">
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="title">
                            <a class="gray-darker" href="/group/3" title="在线教育频道">在线教育频道</a>
                        </div>
                        <div class="metas">
                            <span><i class="es-icon es-icon-people"></i>185</span>
                            <span><i class="es-icon es-icon-textsms"></i>14</span>
                        </div>
                    </div>
                </div>
                <div class="media media-group">
                    <div class="media-left">
                        <a href="/group/4" title="EduSoho后院">
                            <img src="/files/user/2015/03-17/172533d6fbf5121921.png?7.2.0" alt="EduSoho后院"
                                 class="avatar-square-md">
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="title">
                            <a class="gray-darker" href="/group/4" title="EduSoho后院">EduSoho后院</a>
                        </div>
                        <div class="metas">
                            <span><i class="es-icon es-icon-people"></i>120</span>
                            <span><i class="es-icon es-icon-textsms"></i>10</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>