<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            测试
        </h3>
    </div>
    <div class="panel-body clearfix" id="post-action">
        <div class="well well-sm text-sm color-gray clearfix" style="line-height:20px">
            <div class="es-share dropdown pull-right">
        </div>
        <div class="pull-right mrm" id="thread-list">
        </div>
        发表于29秒前
        <span class="mll"> 1次查看</span>
    </div>
    <div class="editor-text">
        <p>饿死</p>
    </div>

    <div class="mtl text-right">
        <a class="btn btn-default btn-sm mrm" href="/group/3/thread/142/update"> 编辑</a>
    </div>
</div>
</div>
