{% extends 'base.html' %}

{% block header_ext %}
    <link href="{{ url_for('static', filename='css/practice.css') }}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
    <link href="{{ url_for('static', filename='css/choice.css') }}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
    <link href="{{ url_for('static', filename='css/paper.css') }}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="content-container" class="container">

        <ol class="breadcrumb breadcrumb-o" style="margin-top:-18px">
            <li><a href="/">首页</a></li>
            <li><a href="/problems/">试题中心</a></li>
            <li><a href="/problems/choice/">选择列表</a></li>
            <li class="active"><a href="/problems/choice/{{ classify_id }}">{{ title }}</a></li>
        </ol>

        <div class="hidden-xs container">
            <div class="panel">
                <div class="panel-body">
                    <div class="progress">
                        <div class="progress-bar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                    <div>
                        已完成 <span class="has-done">0</span><span class="color-gray">/{{ choiceProblem | count }}</span>
                    </div>
                </div>
            </div>
        </div> <!--进度条-->

        <div class="container">
            <div class="special-project">

                <div class="special-project-sheet">
                    <div class="panel hidden-xs">
                        <div class="panel-body">
                            <div class="clock-box">
                                <div style="width:155px;left: 0;text-align: center">
                                    <span style="font-size: 17px">用时:</span>
                                    <span id="clock" class="time-clock">00:00:00</span>
                                </div>
                                <div class="pause-clock link-dark">
                                    <a class="btn" id="pause">暂停</a>
                                </div>
                            </div>
                        </div>
                    </div><!--计时器-->

                    <div class="btn-group btn-block clearfix hidden-xs panel">
                        <div style="padding: 10px">
                            <div style="margin-left:auto;margin-right:auto;width: 82px">
                                <a class="btn" id="show-solution" style="text-align: center">
                                    查看答案
                                </a>
                            </div>
                        </div>
                    </div><!--查看答案-->

                    <div class="btn-group btn-block clearfix panel hidden-xs">
                        <div style="text-align:center;padding: 10px">
                            <a class="btn disabled" id="lastProblem">上一题</a>
                            <a class="btn" id="nextProblem">下一题</a>
                        </div>
                    </div><!--题目切换-->
                    <a class="btn btn-primary btn-block mtm" id="submit">提交</a>
                </div><!--右侧栏-->

                <div class="special-project-body">
                    <div class="panel">
                        <div class="panel-body">
                            {% for choice in choiceProblem %}
                                <div class="panel" data-name="choice" data-id="{{loop.index}}" data-type="{{ choice.type }}" style="display: {% if loop.index != 1 %}none{% endif %}">
                                    <div class="panel-heading media" style="border-bottom: solid 1px #e1e1e1">
                                        <img class="choice-result-icon" data-id="choice_correct" src="/static/images/problem/choice/choice_correct.png" style="display: none">
                                        <img class="choice-result-icon" data-id="choice_wrong" src="/static/images/problem/choice/choice_wrong.png" style="display: none">
                                        <div class="pull-left">{{loop.index}}. </div>
                                        <div>
                                            <span class="color-primary">
                                                {% if choice.type == 0 %}
                                                    (单选题)
                                                {% elif choice.type == 1 %}
                                                    (多选题)
                                                {% elif choice.type == 2 %}
                                                    (不定向选择)
                                                {% endif %}
                                            </span>
                                            <span>{{ choice | get_question_content }}</span>
                                        </div>
                                    </div>

                                    <div class="media-body panel-body">
                                        <ul>
                                            {% for i in range(choice.content | get_json_value('len')) %}
                                                <li class="media choice-options" data-check="0">
                                                    <i class="glyphicon glyphicon-ok pull-left" style="margin-top: 3px;display: none"></i>
                                                    <span data-id="option" style="font-weight: bold">{{ i | get_char }}</span>
                                                    <span>、 </span>
                                                    <span>{{ choice.content | get_json_value(i | string) }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                    <div style="text-align: right">
                                        <a class="btn btn-primary" style="width: 100px" data-id="confirm">
                                            确认
                                        </a>
                                    </div>
                                    <div data-id="solution" style="display: none;font-size: 20px" data-solution="{{ choice.solution }}">参考答案： {{ choice.solution }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div><!--题目区-->

            </div>
        </div>

    </div>

    <script >
        //答题进度条
        function setBarWidth(doneNumber) {
            $(".progress-bar").css("width",(doneNumber/"{{ choiceProblem | count }}"*100).toString() + "%");//更改答题进度条
            $(".has-done").text(" " + doneNumber.toString());//更改答题数
        }

        //答题计时器
        function two_char(n) {//标准化时间格式
            return n >= 10 ? n : "0" + n;
        }

        var clock = 0,second = 0, ifClock=false, hasDone=0;
        function updateClock(sec) {//更新时间
            sec++;
            var date = new Date(0, 0);
            date.setSeconds(sec/10);
            var h = date.getHours(), m = date.getMinutes(), s = date.getSeconds();
            $("#clock").text(two_char(h) + ":" + two_char(m) + ":" + two_char(s));
            second = sec;
        }

        window.onload = function(){//页面加载完毕时启动计时
            clock = setInterval("updateClock(second)", 100);
            ifClock = true;
        };

        $(document).ready(function () {
            $('#pause').click(function () {
                clearInterval(clock);
                ifClock = false;
                $("#pauseModal").modal({backdrop: 'static', keyboard: false});
            });

            $('#continue').click(function () {
                if(ifClock==false)
                {
                    $("#pauseModal").modal("hide");
                    clock = setInterval("updateClock(second)", 100);
                    ifClock = true;
                }
            });

            $('div[data-name=choice][data-type="0"]').find('.choice-options').click(function () {
                $(this).parent().find('.choice-options').each(function () {
                    $(this).data('check','0');
                    $(this).find('i').hide();
                });
                $(this).data('check','1');
                $(this).find('i').show();
            });

            $('div[data-name=choice][data-type!="0"]').find('.choice-options').click(function () {
                if($(this).data('check') == '0'){
                    $(this).data('check','1');
                    $(this).find('i').show();
                }
                else{
                    $(this).data('check','0');
                    $(this).find('i').hide();
                }
            });

            var number=1;
            var corNum = {} ,ifHasDone = {};
            for (var i=0;i<"{{ choiceProblem | count }}";i++)
            {
                corNum[(i+1).toString()] = false;
                ifHasDone[(i+1).toString()] =false;
            }

            $('#nextProblem').click(function () {
                if(number=={{ choiceProblem | count }}) return;
                number++;
                $('#lastProblem').removeClass('disabled');
                $('div[data-id=' + (number-1).toString() + ']').hide();
                $('div[data-id=' + number.toString() + ']').show();
                if(number=={{ choiceProblem | count }}) $(this).addClass("disabled");
            });

            $('#lastProblem').click(function () {
                if(number==1) return;
                number--;
                $('#nextProblem').removeClass('disabled');
                $('div[data-id=' + (number+1).toString() + ']').hide();
                $('div[data-id=' + number.toString() + ']').show();
                if(number==1) $(this).addClass("disabled");
            });

            $('#show-solution').click(function () {
                $('div[data-id=' + number.toString() + ']').find('div[data-id=solution]').toggle();
            });

            $('a[data-id=confirm]').click(function () {
                var your_solution = [];
                $(this).parent().parent().find('.choice-options').each(function () {
                    if($(this).data('check')=='1'){
                        var temp = $(this).find('span[data-id=option]').eq(0).text();
                        your_solution.push(temp);
                    }
                });
                if(your_solution.length==0){
                    alert("请至少选择一项");
                    return false;
                }
                your_solution = your_solution.join(';');

                if(!ifHasDone[number.toString()]) {
                    hasDone++;//已完成题目数
                    ifHasDone[number.toString()]=true;
                }

                var correct_solution = $($(this).parent().parent().find('div[data-id=solution]')[0]).data('solution');

                if(your_solution==correct_solution){
                    corNum[number.toString()]=true;
                    $(this).parent().parent().find('img[data-id=choice_wrong]').hide();
                    $(this).parent().parent().find('img[data-id=choice_correct]').show();
                    setBarWidth(hasDone);
                }
                else{
                    corNum[number.toString()]=false;
                    setBarWidth(hasDone);
                    $(this).parent().parent().find('img[data-id=choice_wrong]').show();
                    $(this).parent().parent().find('img[data-id=choice_correct]').hide();
                }
            });

            $('#submit').click(function () {
                clearInterval(clock);
                ifClock = false;
                var date = new Date(0, 0)
                date.setSeconds(second/10);
                var h = date.getHours(), m = date.getMinutes(), s = date.getSeconds();
                $("#submitModal").modal({backdrop: 'static', keyboard: false});
                var correct_num =0;
                for(var i=0;i<"{{ choiceProblem | count }}";i++){
                    if(corNum[(i+1).toString()]==true) correct_num++;
                }
                $("#ansResult").text("共 {{ choiceProblem | count }} 题 " + "答对 "+ correct_num.toString()
                        + " 题" + " 用时 " + two_char(h) + ":" + two_char(m) + ":" + two_char(s));
            });

            $('#confirm-submit').click(function () {
                window.location.href="{{ url_for('problem.show_choice') }}";
            });

            $('#cancel-submit').click(function () {
                if(ifClock == false){
                    clock = setInterval("updateClock(second)", 100);
                    ifClock = true;
                }
                $("#submitModal").modal('hide');
            });
        });
    </script>

    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">答题结果</h4>
                </div>
                <div class="modal-body" id="ansResult"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="confirm-submit">确认提交</button>
                    <button type="button" class="btn btn-default" id="cancel-submit">继续答题</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="pauseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 300px;height: 200px">
            <div class="modal-content" style="width: 300px;height: 200px">
                <div class="modal-body btn" style="width: 300px;height: 200px;font-size: 30px;line-height: 140px" id="continue">
                    点击继续
                </div>
            </div>
        </div>
    </div>
{% endblock %}






