{% extends 'base.html' %}
{% block header_ext %}
    <link href="{{ url_for('static', filename='css/practice.css') }}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
    <link href="{{ url_for('static', filename='css/choice.css') }}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
    <div id="content-container" class="container">

        <ol class="breadcrumb breadcrumb-o" style="margin-top:-18px">
            <li><a href="/">首页</a></li>
            <li><a href="/problems/">试题中心</a></li>
            <li class="active"><a href="/problems/choice/">选择列表</a></li>
            <li class="active"><a href="/problems/choice/{{ classify_id }}">{{ title }}</a></li>
        </ol>

        <div class="hidden-xs container">
            <div class="panel">
                <div class="panel-body">
                    <div class="progress">
                        <div class="progress-bar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                    <div>
                        已完成 <span class="has-done">0</span><span class="color-gray">/{{ choiceProblem | count }}</span>
                    </div>
                </div>
            </div>
        </div> <!--进度条-->

        <div class="container">
            <div class="special-project">

                <div class="special-project-sheet">
                    <div class="panel hidden-xs">
                        <div class="panel-body">
                            <div class="clock-box">
                                <div style="width:155px;left: 0;text-align: center">
                                    <span style="font-size: 17px">用时:</span>
                                    <span id="clock" class="time-clock">00:00:00</span>
                                    <!--<input type="hidden" name="usedTime" value="97">-->
                                </div>
                                <div class="pause-clock link-dark">
                                    <a class="btn" onclick="clockPause()">暂停</a>
                                </div>
                            </div>
                        </div>
                    </div><!--计时器-->

                    <div class="btn-group btn-block clearfix hidden-xs panel">
                        <div style="padding: 10px">
                            <div style="margin-left:auto;margin-right:auto;width: 82px">
                                <a class="btn" onclick="showAnswer()" style="text-align: center">
                                    查看答案
                                </a>
                            </div>
                        </div>
                    </div><!--查看答案-->

                    <div class="btn-group btn-block clearfix panel hidden-xs">
                        <div style="text-align:center;padding: 10px">
                            <a class="btn disabled" id="lastProblem" onclick="lastOne()">上一题</a>
                            <a class="btn" id="nextProblem" onclick="nextOne()">下一题</a>
                        </div>
                    </div><!--题目切换-->
                    <a class="btn btn-primary btn-block mtm" onclick="submit()">提交</a>
                    <!--<div class="panel panel-min hidden-xs">
                        <div class="panel-heading">
                            <div class="panel-title">
                                答题卡
                                <span class="color-primary mls js-done-number">0</span>
                                <span class="color-gray">/<span class="font-sm js-total-number">{{ choiceProblem | count }}</span></span>
                            </div>
                        </div>

                        <div class="panel-body js-sheet-body">
                            <div class="special-project-sheet-content">
                                <div class="mbs gray-darker">题号</div>
                                <div class="special-project-sheet-top clearfix">

<span class="circle active circle-sheet js-circle-sheet circle-square circle-md
" id-number="110" seq-number="1" data-role="objective-question">1</span>
                                    <span class="circle  circle-sheet js-circle-sheet circle-square circle-md
" id-number="109" seq-number="2" data-role="objective-question">2</span>
                                    <span class="circle  circle-sheet js-circle-sheet circle-square circle-md
" id-number="183" seq-number="3" data-role="objective-question">3</span>
                                    <span class="circle  circle-sheet js-circle-sheet circle-square circle-md
" id-number="255" seq-number="4" data-role="objective-question">4</span>
                                    <span class="circle  circle-sheet js-circle-sheet circle-square circle-md
" id-number="181" seq-number="5" data-role="objective-question">5</span>
                                    <span class="circle  circle-sheet js-circle-sheet circle-square circle-md
" id-number="325" seq-number="6" data-role="objective-question">6</span>
                                    <span class="circle  circle-sheet js-circle-sheet circle-square circle-md
" id-number="37" seq-number="7" data-role="objective-question">7</span>
                                    <span class="circle  circle-sheet js-circle-sheet circle-square circle-md
" id-number="111" seq-number="8" data-role="objective-question">8</span>
                                    <span class="circle  circle-sheet js-circle-sheet circle-square circle-md
" id-number="253" seq-number="9" data-role="objective-question">9</span>
                                    <span class="circle  circle-sheet js-circle-sheet circle-square circle-md
" id-number="326" seq-number="10" data-role="objective-question">10</span>                                </div>
                            </div>

                            <div class="special-project-sheet-bottom clearfix">
                                正确
                                <span class="circle circle-square circle-xs circle-success"></span>
                                错误
                                <span class="circle circle-square circle-xs circle-danger"></span>
                                未做
                                <span class="circle circle-square circle-xs"></span>
                            </div>

                            <a class="btn btn-primary btn-block mtl" data-role="submitconfirm">提交</a>

                        </div>

                    </div><!--答题卡-->

                </div><!--右侧栏-->

                <div class="special-project-body">
                    <div class="panel">
                        <div class="panel-body">

                            {% for choice in choiceProblem %}
                                {% if loop.index == 1 %}
                                    <div id="problem{{loop.index}}">
                                        <div class="panel-heading media">
                                            <img class="choice-result-icon" id="choice_correct{{loop.index}}" src="/static/images/problem/choice/choice_correct.png" style="display: none">
                                            <img class="choice-result-icon" id="choice_wrong{{loop.index}}" src="/static/images/problem/choice/choice_wrong.png" style="display: none">
                                            <div class="pull-left">{{loop.index}}. </div>
                                            <div>
                                                <span class="color-primary">
                                                    {% if choice['c_type'] == 0 %}
                                                        (单选题)
                                                    {% else %}
                                                        (多选题)
                                                    {% endif %}
                                                </span>
                                                <span>{{ choice['title'] }}</span>
                                            </div>
                                        </div>
                                        <div class="media-body panel-body">
                                            <li class="media">
                                                <div class="pull-left">
                                                    {% if choice['c_type'] == 0 %}
                                                        <input type="radio" name="choice{{ loop.index }}" value="1">
                                                    {% else %}
                                                        <input type="checkbox" name="choice{{ loop.index }}" value="1">
                                                    {% endif %}
                                                    A. {{ choice['detail'] | split(';',0) }}
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="pull-left">
                                                    {% if choice['c_type'] == 0 %}
                                                        <input type="radio" name="choice{{ loop.index }}" value="2">
                                                    {% else %}
                                                        <input type="checkbox" name="choice{{ loop.index }}" value="2">
                                                    {% endif %}
                                                    B. {{ choice['detail'] | split(';',1) }}
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="pull-left">
                                                    {% if choice['c_type'] == 0 %}
                                                        <input type="radio" name="choice{{ loop.index }}" value="3">
                                                    {% else %}
                                                        <input type="checkbox" name="choice{{ loop.index }}" value="3">
                                                    {% endif %}
                                                    C. {{ choice['detail'] | split(';',2) }}
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="pull-left">
                                                    {% if choice['c_type'] == 0 %}
                                                        <input type="radio" name="choice{{ loop.index }}" value="4">
                                                    {% else %}
                                                        <input type="checkbox" name="choice{{ loop.index }}" value="4">
                                                    {% endif %}
                                                    D. {{ choice['detail'] | split(';',3) }}
                                                </div>
                                            </li>
                                        </div>
                                        <div style="text-align: right">
                                            <a class="btn btn-primary" style="width: 100px" onclick="checkIfCorrect()">
                                                确认
                                            </a>
                                        </div>
                                        <div id="answer{{loop.index}}" style="margin-top: 20px;display: none" data-value="{{ choice['answer'] }}">参考答案： {{ choice['answer'] }}</div>
                                    </div>
                                {% else %}
                                    <div id="problem{{loop.index}}" style="display: none">
                                        <div class="panel-heading media">
                                            <img class="choice-result-icon" id="choice_correct{{loop.index}}" src="/static/images/problem/choice/choice_correct.png" style="display: none">
                                            <img class="choice-result-icon" id="choice_wrong{{loop.index}}" src="/static/images/problem/choice/choice_wrong.png" style="display: none">
                                            <div class="pull-left">{{loop.index}}. </div>
                                            <div class="media-body">
                                                <span class="color-primary">
                                                    {% if choice['c_type'] == 0 %}
                                                        (单选题)
                                                    {% else %}
                                                        (多选题)
                                                    {% endif %}
                                                </span>
                                                <span>{{ choice['title'] }}</span>
                                            </div>
                                        </div>
                                        <div class="media-body panel-body">
                                            <li class="media">
                                                <div class="pull-left">
                                                    {% if choice['c_type'] == 0 %}
                                                        <input type="radio" name="choice{{ loop.index }}" value="1">
                                                    {% else %}
                                                        <input type="checkbox" name="choice{{ loop.index }}" value="1">
                                                    {% endif %}
                                                    A. {{ choice['detail'] | split(';',0) }}
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="pull-left">
                                                    {% if choice['c_type'] == 0 %}
                                                        <input type="radio" name="choice{{ loop.index }}" value="2">
                                                    {% else %}
                                                        <input type="checkbox" name="choice{{ loop.index }}" value="2">
                                                    {% endif %}
                                                    B. {{ choice['detail'] | split(';',1) }}
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="pull-left">
                                                    {% if choice['c_type'] == 0 %}
                                                        <input type="radio" name="choice{{ loop.index }}" value="3">
                                                    {% else %}
                                                        <input type="checkbox" name="choice{{ loop.index }}" value="3">
                                                    {% endif %}
                                                    C. {{ choice['detail'] | split(';',2) }}
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="pull-left">
                                                    {% if choice['c_type'] == 0 %}
                                                        <input type="radio" name="choice{{ loop.index }}" value="4">
                                                    {% else %}
                                                        <input type="checkbox" name="choice{{ loop.index }}" value="4">
                                                    {% endif %}
                                                    D. {{ choice['detail'] | split(';',3) }}
                                                </div>
                                            </li>
                                        </div>
                                        <div style="text-align: right">
                                            <a class="btn btn-primary" style="width: 100px" onclick="checkIfCorrect()">
                                                确认
                                            </a>
                                        </div>
                                        <div id="answer{{loop.index}}" style="margin-top: 20px;display: none" data-value="{{ choice['answer'] }}">参考答案： {{ choice['answer'] }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div><!--题目区-->

            </div>
        </div>

    </div>

    <script >
        //答题进度条
        function setBarWidth(doneNumber) {
            $(".progress-bar").css("width",(doneNumber/"{{ choiceProblem | count }}"*100).toString() + "%");//更改答题进度条
            $(".has-done").text(" " + doneNumber.toString());//更改答题数
        }

        //答题计时器
        function two_char(n) {//标准化时间格式
            return n >= 10 ? n : "0" + n;
        }

        var clock = 0,second = 0, ifClock=false, hasDone=0;
        function updateClock(sec) {//更新时间
            sec++;
            var date = new Date(0, 0)
            date.setSeconds(sec/10);
            var h = date.getHours(), m = date.getMinutes(), s = date.getSeconds();
            $("#clock").text(two_char(h) + ":" + two_char(m) + ":" + two_char(s));
            second = sec;
        }

        window.onload = function(){//页面加载完毕时启动计时
            clock = setInterval("updateClock(second)", 100);
            ifClock = true;
        }
        function clockPause() {//暂停计时
            clearInterval(clock);
            ifClock = false;
            $("#pauseModal").modal({backdrop: 'static', keyboard: false});
        }
        function clockContinue() {//继续计时
            if(ifClock==false)
            {
                $("#pauseModal").modal("hide");
                clock = setInterval("updateClock(second)", 100);
                ifClock = true;
            }
        }

        var number=1;
        var corNum = {} ,ifHasDone = {};
        for (var i=0;i<"{{ choiceProblem | count }}";i++)
        {
            corNum[(i+1).toString()] = false;
            ifHasDone[(i+1).toString()] =false;
        }
        function nextOne() {
            if(number=={{ choiceProblem | count }}) return;
            number++;
            $("#lastProblem").attr("class","btn");
            $("#problem"+(number-1).toString()).css("display","none");
            $("#problem"+number.toString()).css("display","block");
            if(number=={{ choiceProblem | count }}) $("#nextProblem").attr("class","btn disabled");
        }
        function lastOne() {
            if(number==1) return;
            number--;
            $("#nextProblem").attr("class","btn");
            $("#problem"+(number+1).toString()).css("display","none");
            $("#problem"+number.toString()).css("display","block");
            if(number==1) $("#lastProblem").attr("class","btn disabled");
        }
        function showAnswer() {
            var temp = $("#answer"+number.toString());
            temp.css("font-size","20px");
            if(temp.css("display")=="none"){
                temp.css("display","block");
            }
            else{
                temp.css("display","none");
            }
        }
        function checkIfCorrect() {
            var array = {"1":"A","2":"B","3":"C","4":"D"};
            var your = new Array();
            $("input[name=choice" + number.toString() + "]:checked").each(function(){
                your.push(array[$(this).val()]);
            });
            if(your.length==0){
                alert("请至少选择一项");
                return false;
            }
            var temp=your[0].toString();
            for(var i=1;i<your.length;i++){
                temp+=","+your[i];
            }
            var cor = true;
            if(temp!=$("#answer"+number.toString()).data('value').toString()) cor = false;

            if(!ifHasDone[number.toString()]) {
                hasDone++;//已完成题目数
                ifHasDone[number.toString()]=true;
            }

            if (cor){
                corNum[number.toString()]=true;
                $("#choice_wrong"+number.toString()).css("display","none");
                $("#choice_correct"+number.toString()).css("display","block");
                setBarWidth(hasDone);
                nextOne();
            }
            else
            {
                corNum[number.toString()]=false;
                setBarWidth(hasDone);
                $("#choice_correct"+number.toString()).css("display","none");
                $("#choice_wrong"+number.toString()).css("display","block");
            }
        }
        function submit() {
            clearInterval(clock);
            var date = new Date(0, 0)
            date.setSeconds(second/10);
            var h = date.getHours(), m = date.getMinutes(), s = date.getSeconds();

            $("#submitModal").modal({backdrop: 'static', keyboard: false});
            var count =0;
            for(var i=0;i<"{{ choiceProblem | count }}";i++){
                if(corNum[(i+1).toString()]==true) count++;
            }
            $("#ansResult").text("共{{ choiceProblem | count }}题 " + "答对"+count.toString()+"题" + " 用时 " + two_char(h) + ":" + two_char(m) + ":" + two_char(s));
        }
        function cancelSubmit() {
            $("#submitModal").modal('hide');
        }
    </script>

    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">答题结果</h4>
                </div>
                <div class="modal-body" id="ansResult"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="cancelSubmit()">关闭</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="pauseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 300px;height: 200px">
            <div class="modal-content" style="width: 300px;height: 200px">
                <div class="modal-body btn" style="width: 300px;height: 200px;font-size: 30px;line-height: 140px" onclick="clockContinue()">
                    点击继续
                </div>
            </div>
        </div>
    </div>


{% endblock %}






