{% extends 'base.html' %}

{% block content %}
    <div id="content-container" class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">{{ problem.id }}. {{ problem.title }}</h3></div>
                    <div class="panel-body">
                        <p>{{ problem.detail }}</p>
                    </div>
                </div>
            </div>
        </div>

        <form onsubmit="submit_code(); return false;">
            <div class="row form-group">
                <div class="col-md-4 col-md-offset-1">
                    <select class="form-control" id="language">
                        <option value="ace/mode/c_cpp">C</option>
                        <option value="ace/mode/c_cpp">C++</option>
                        <option value="ace/mode/python">Python</option>
                        <option value="ace/mode/fortran">Fortran</option>
                    </select>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-10 col-md-offset-1">
                    <div id="editor"></div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-11">
                    <div class="pull-right">
                        <button id="submit" class="btn btn-primary"
                                type="submit">{{ _('Submit Solution') }}
                        </button>
                    </div>
                </div>
            </div>

            <input class="hide" name="problem_id" value="{{ problem.id }}">
            <input id="source_code" name="source_code" value="" type="hidden">
        </form>

        {#  keep the result #}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <section class="es-section">
                    <div class="nav-btn-tab">
                        <ul class="nav nav-tabs" role="tablist" id="problem-content">
                            <li role="presentation" class="active"><a
                                    href="{{ url_for('problem.running_log', pid=problem.id) }}">{{ _('Compiler Result') }}</a>
                            </li>
                            <li role="presentation"><a
                                    href="{{ url_for('problem.running_error', pid=problem.id) }}">{{ _('Run Result') }}</a>
                            </li>
                        </ul>

                    </div>


                    <div class="course-detail-content" data-widget-cid="widget-1" id="problem-ajax-content">
                        <p> {{ _('Empty') }} </p>
                    </div>
                </section>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_ext %}
    <script src="{{ url_for('static', filename='js/ace.js') }}" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/tomorrow");
        editor.getSession().setMode("ace/mode/c_cpp");
    </script>

    <script>
        function submit_code() {

            document.getElementById('source_code').value = editor.getValue();

            var data = $("form").serialize();

            $.ajax({
                method: "post",
                cache: false,
                url: "{{ url_for('problem.submit', pid=problem.id) }}",
                data: data,
                success: function (data) {
                    var res = "<p>" + data.status + "</p>"
                    $("#problem-ajax-content").html(res);
                }
            });


        }

        $(document).ready(function () {
            $("#problem-content li a").click(function () {
                $("#problem-ajax-content").empty().append("<div id='loading'><img src='{{ url_for('static', filename='images/loading.gif') }}' alt='Loading' ></div>");
                $("#problem-content li").removeClass('active');
                $(this).parent().addClass('active');

                $.ajax({

                    url: this.href,
                    dataType: "json",
                    success: function (html) {
                        $("#problem-ajax-content").empty().append(html);
                    },
                    error: function () {
                        $("#problem-ajax-content").empty().append("<h2 style='text-align: center'> 无内容或出现错误 </h2>");
                    },
                });
                return false;
            });
        });
    </script>

{% endblock %}

{# problem #}
