{% extends 'base.html' %}
{% block header_ext %}
    <link href="{{ url_for('static', filename='css/practice.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}

    <section class="practice-list">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="practice-item">
                        <img src="{{ url_for('static', filename='images/problem/practice_bg_1.png') }}">
                        <div class="title" href="javascript:;">专项练习</div>
                        <div class="info">针对性选题，挑战薄弱点，突破自我。</div>
                        <div class="bottom">
                            <a class="btn btn-primary" href="{{ url_for('problem.show_question') }}">开始做题</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="practice-item">
                        <img src="{{ url_for('static', filename='images/problem/practice_bg_2.png') }}">
                        <div class="title" href="javascript:;">在线编程</div>
                        <div class="info">在线编辑代码，实时反馈运行结果。</div>
                        <div class="bottom">
                            <a class="btn btn-primary" href="{{ url_for('problem.show_program') }}">开始编程</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="practice-item">
                        <img src="{{ url_for('static', filename='images/problem/practice_bg_3.png') }}">
                        <div class="title">竞赛平台</div>
                        <div class="info"> 组织试题，同台竞技，测出真水平。</div>
                        <div class="bottom">
                            <a class="btn btn-primary" href="{{ url_for('problem.show_program') }}">开始竞赛</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
