{% extends 'base.html' %}
{% block content %}

    <div id="content-container" class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">{{ _('All Problems') }}</h3></div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-default table-bordered display" cellspacing="0" id="problem">
                                <thead>
                                <tr>
                                    <th>{{ _('ID') }}</th>
                                    <th>{{ _('Description') }}</th>
                                    <th>{{ _('CreadtedTime') }}</th>
                                    <th>{{ _('Difficulty') }}</th>
                                    <th>{{ _('AcceptNum') }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for p in problems %}
                                    <tr>
                                        <td><a href="{{ p.id }}">{{ p.id }}</a></td>
                                        <td><a href="{{ p.id }}">{{ p.title }}</a></td>
                                        <td>{{ p.createdTime | natural_time }}</td>
                                        <td>{{ p.difficulty }}</td>
                                        <td>{{ p.acceptedNum }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_ext %}
    <script>
        $(document).ready(
                function () {
                    $('#problem').DataTable({
                        language: {
                            url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Chinese.json"
                        },
                        "order": [[3, "desc"]],
                    });
                });
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.css') }} ">
{% endblock %}

{#problems#}