{% extends 'base.html' %}

{% block header_ext %}
    <link href="{{ url_for('static', filename='css/practice.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/problem.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/paper.css') }}" rel="stylesheet">
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="{{ url_for('static', filename='css/simplemde.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>

    <link href="//cdn.bootcss.com/bootstrap-select/1.12.1/css/bootstrap-select.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <script src="{{ url_for('static', filename='js/custom_simplemde.js') }}"></script>
{% endblock %}

{% block content %}
{#模态框：提交框#}
    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">答题结果</h4>
                </div>
                <div class="modal-body" id="ansResult"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="confirm-submit">确认提交</button>
                    <button type="button" class="btn btn-default" id="cancel-submit">继续答题</button>
                </div>
            </div>
        </div>
    </div>
{#模态框：暂停框#}
    <div class="modal fade" id="pauseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog pause-modal">
            <div class="modal-content">
                <div class="modal-body btn pause-text" id="continue">
                    点击继续
                </div>
            </div>
        </div>
    </div>

    <div id="content-container" class="container">
        <ol class="breadcrumb breadcrumb-o" style="margin-top:-18px">
            <li><a href="/">首页</a></li>
            <li><a href="/problems/">试题中心</a></li>
            <li><a href="/problems/question/">选择列表</a></li>
            <li class="active"><a href="{{ url_for('problem.question_view', question_type=type, cid=classify_id) }}">{{ title }}</a></li>
        </ol>

        <div class="hidden-xs container">
            <div class="panel">
                <div class="panel-body">
                    <div class="progress">
                        <div class="progress-bar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                    <div>
                        已完成 <span class="has-done">0</span><span class="color-gray">/{{ practices | count }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="min-height: 400px">
            <div class="special-project">

                {% with count = practices | count %}
                    {% include 'problem/widget_practice_card.html' %}
                {% endwith %}

                <div class="special-project-body">
                    <div class="panel">
                        <div class="panel-body">
                        {% if q_type== 'choice' %}
                            {% with choices=practices %}
                                {% include 'problem/widget_choice_detail.html' %}
                            {% endwith %}
                        {% elif q_type== 'fill' %}
                            {% with fills=practices %}
                                {% include 'problem/widget_fill_detail.html' %}
                            {% endwith %}
                        {% elif q_type== 'judge' %}
                            {% with judges=practices %}
                                {% include 'problem/widget_judge_detail.html' %}
                            {% endwith %}
                        {% elif q_type== 'essay' %}
                            {% with essays=practices %}
                                {% include 'problem/widget_essay_detail.html' %}
                            {% endwith %}
                        {% endif %}
                        </div>
                    </div>
                </div><!--题目区-->
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_ext %}
<script>
    $(function () {
        $("[data-id=question-title]").each(function () {
            $(this).html(latex_support($(this).data("to-render")));
            $(this).attr('data-to-render', null);
        });
    });
</script>
{% endblock %}

{# classify_id #}
{# title #}
{# practices #}
{# q_type #}