{% extends 'base.html' %}

{% block header_ext %}
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="content-container" class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">{{ problem.id }}. {{ problem.title }}</h3></div>
                    <div class="panel-body markdown-body">
                        <p>{{ problem.detail | markdown | safe }}</p>
                    </div>
                </div>
            </div>
        </div>

        <form onsubmit="submit_code(); return false;">
            <div class="row form-group">
                <div class="col-md-4 col-md-offset-1">
                    <select class="form-control" id="language">
                        <option value="ace/mode/c_cpp">C</option>
                        <option value="ace/mode/c_cpp">C++</option>
                        <option value="ace/mode/python">Python</option>
                        <option value="ace/mode/fortran">Fortran</option>
                    </select>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-10 col-md-offset-1">
                    <div id="editor"></div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-11">
                    <div class="pull-right">
                        <button id="submit" class="btn btn-primary"
                                type="submit">{{ _('Submit Solution') }}
                        </button>
                    </div>
                </div>
            </div>

            <input class="hide" name="problem_id" value="{{ problem.id }}">
            <input id="source_code" name="source_code" value="" type="hidden">
        </form>

        {#  keep the result #}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="es-section" id="result-show" style="display: none">
                    <!-- Nav tabs -->
                    <ul id="program-run-tab" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#compiler" role="tab" data-toggle="tab">编译结果</a>
                        </li>
                        <li role="presentation">
                            <a href="#run" role="tab" data-toggle="tab">运行结果</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="compiler" role="tabpanel" class="tab-pane active" style="white-space: pre"></div>
                        <div id="run" role="tabpanel" class="tab-pane" style="white-space: pre"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_ext %}
    <script src="{{ url_for('static', filename='js/ace.js') }}" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/tomorrow");
        editor.getSession().setMode("ace/mode/c_cpp");
    </script>

    <script>
        function submit_code() {
            document.getElementById('source_code').value = editor.getValue();
            var data = $("form").serialize();
            $('#result-show').css("display", 'block');
            var loading = "<img src='{{ url_for('static', filename='images/loading.gif') }}' alt='Loading'></div>"
            $("#compiler").empty().append(loading);
            $('#program-run-tab a:first').tab('show');
            $.ajax({
                method: "post",
                cache: false,
                url: "{{ url_for('problem.submit', pid=problem.id) }}",
                data: data,
                success: function (data) {
                    $("#compiler").empty().append(data.compile_out);
                    $("#run").empty().html(data.run_out);
                },
                error: function (data) {
                    $("#compiler").empty().append("<p class='text-center'> 暂时不能提交, 请稍后重试...</p>");
                    $("#run").html("<p class='text-center'> 暂时不能提交, 请稍后重试...</p>");
                }
            });
        }
    </script>

{% endblock %}

{# problem #}
