{% extends 'base.html' %}

{% block header_ext %}
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="content-container" class="container">

        <ol class="breadcrumb breadcrumb-o" style="margin-top:-18px">
            <li><a href="/">{{ _('Index') }}</a></li>
            <li><a href="{{ url_for('problem.index') }}">{{ _('Practice Center') }}</a></li>
            <li class="active"><a href="{{ url_for('problem.show_program') }}">{{ _('Program Lists') }}</a></li>
            <li class="active"><a
                    href="{{ url_for('problem.program_view',pid=problem.id) }}">{{ problem.title }}</a>
            </li>
        </ol>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <h1 class="col-md-8 panel-title"
                            style="font-size: 1.5em;">{{ problem.id }}. {{ problem.title }} </h1>
                        <div class="pull-right panel-title">
                            <a class="btn btn-success" href="{{ url_for('problem.show_my_submits', pid=problem.id) }}">我的提交</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body markdown-body" id="program-content">{{ problem.detail }}</div>
            </div>
        </div>

        <form onsubmit="submit_code(); return false;">
            <div class="row form-group">
                <div class="col-md-4">
                    <select class="form-control" id="language">
                        <option value="ace/mode/c_cpp">C</option>
                        <option value="ace/mode/c_cpp">C++</option>
                        <option value="ace/mode/python">Python</option>
                        <option value="ace/mode/fortran">Fortran</option>
                    </select>
                </div>
            </div>

            <div class="row form-group">
                <div id="editor"></div>
            </div>


            <div class="row form-group">
                <div class="pull-right">
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modal">参数设置</button>
                    <button id="submit" class="btn btn-primary"
                            type="submit">{{ _('Submit Solution') }}
                    </button>
                </div>
            </div>

            <input class="hide" name="language">
            <input class="hide" name="problem_id" value="{{ problem.id }}">
            <input id="source_code" name="source_code" value="" type="hidden">

			<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modallabel" aria-hidden="true">
			    <div class="modal-dialog" role="document">
			        <div class="modal-content">
			            <div class="modal-content">

			                <div class="modal-header">
			                    <h4 class="modal-title" id="modallabel">参数设置</h4>
			                </div>

			                <div class="modal-body">
			                    <div class="row">
			                        <label class="col-md-3" for="compiler_setting">编译器</label>
			                        <select class="col-md-4" name="compiler_setting" id="compiler_setiting">
			                            <option value="mpicc">mpicc</option>
			                        </select>
			                    </div>

			                    <div class="row">
			                        <label class="col-md-3" for="task_number">任务数</label>
			                        <select class="col-md-4" name="task_number" id="task_number">
			                            <option value="4">4</option>
			                            <option value="8">8</option>
			                        </select>
			                    </div>

			                    <div class="row">
			                        <label class="col-md-3" for="cpu_number_per_task">CPU/任务</label>
			                        <select class="col-md-4" name="cpu_number_per_task" id="cpu_number_per_task">
			                            <option value="1">1</option>
			                        </select>
			                    </div>

			                    <div class="row">
			                        <label class="col-md-3" for="node_number">结点数</label>
			                        <select class="col-md-4" name="node_number" id="node_number">
			                            <option value="1">1</option>
			                        </select>
			                    </div>
			                </div>

			                <div class="modal-footer">
			                    <button type="button" class="btn btn-primary" data-dismiss="modal">保存</button>
			                </div>

			            </div>
			        </div>
			    </div>
			</div>

        </form>

        {#  keep the result #}
        <div class="row">
            <div class="es-section" id="result-show" style="display: none">
                <!-- Nav tabs -->
                <ul id="program-run-tab" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#compiler" role="tab" data-toggle="tab">编译结果</a>
                    </li>
                    <li role="presentation">
                        <a href="#run" role="tab" data-toggle="tab">运行结果</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="compiler" role="tabpanel" class="tab-pane active" style="white-space: pre"></div>
                    <div id="run" role="tabpanel" class="tab-pane" style="white-space: pre"></div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}

{% block footer_ext %}
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/markdown_latex_support.js') }}"></script>
    <script>
        $(document).ready(function () {
            var content = $("#program-content");
            content.html(latex_support(content.text()));
        });
    </script>

    <script src="{{ url_for('static', filename='js/ace.js') }}" charset="utf-8"></script>

    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/tomorrow");
        editor.getSession().setMode("ace/mode/c_cpp");
    </script>

    <script>
        function submit_code() {
            document.getElementById('source_code').value = editor.getValue();
            $("input[name=language]").val($("#language").find("option:selected").text());
            $("input[name=compiler_setting]").val($("#compiler_setting").find("option:selected").text());
            $("input[name=task_number]").val($("#task_number").find("option:selected").text());
            $("input[name=cpu_number_per_task]").val($("#cpu_number_per_task").find("option:selected").text());
            $("input[name=node_number]").val($("#node_number").find("option:selected").text());
            var data = $("form").serialize();
            $('#result-show').css("display", 'block');
            var loading = "<img src='{{ url_for('static', filename='images/loading.gif') }}' alt='Loading'></div>";

            $("#compiler").empty().append(loading);
            $('#program-run-tab a:first').tab('show');
            $.ajax({
                method: "post",
                cache: false,
                url: "{{ url_for('problem.submit', pid=problem.id) }}",
				data : data,
                success: function (data) {
                    if(data.status==='success') {
                        $("#compiler").empty().append(data.compile_out);
                        $("#run").empty().html(data.run_out);
                    }
                    else{
                        $("#compiler").empty().append(data.msg);
                        $("#run").empty().html("<p class='text-center'>  暂时无法运行...</p>");
                    }
                },
                error: function (data) {
                    $("#compiler").empty().append("<p class='text-center'> 暂时不能提交, 请稍后重试...</p>");
                    $("#run").html("<p class='text-center'> 暂时不能提交, 请稍后重试...</p>");
                }
            });
        }
    </script>

{% endblock %}

{# problem #}
