{% extends 'base.html' %}

{% block header_ext %}
    <link href="{{ url_for('static', filename='css/practice.css') }}" rel="stylesheet">
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

    <div id="content-container" class="container">
        <ol class="breadcrumb breadcrumb-o" style="margin-top:-18px">
            <li><a href="/">{{ _('Index') }}</a></li>
            <li><a href="{{ url_for('problem.index') }}">{{ _('Practice Center') }}</a></li>
            <li class="active"><a href="{{ url_for('problem.show_question') }}">{{ _('Choice Lists') }}</a></li>
        </ol>
        <div class="table-responsive">
            <table class="table table-subject-title">
                <thead>
                <tr>
                    <th class="col-xs-4 text-left item-first"><span class="mll pll">知识点</span></th>
                    <th class="col-xs-4 ">题目数量</th>
                    <th class="col-xs-4 ">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for r in rows %}
                    <tr>
                        <td colspan="8" style="padding:0">
                            <ul class="subject-title-list clearfix">
                                <li class="clearfix  open ">
                                    <div class="item col-xs-4 item-first">
                                        <i class="operate"><em class="circle circle-lg"></em></i>
                                        <span>{{ r[0] }}</span>
                                    </div>
                                    <div class="item col-xs-4">
                                        {{ r[1] }} 道
                                    </div>
                                    <div class="item col-xs-4">
                                        <a data-id="start" class="btn"
                                           data-choice="{{ url_for('problem.question_view', question_type='choice', cid=r[6]) }}"
                                           data-fill="{{ url_for('problem.question_view', question_type='fill', cid=r[6]) }}"
                                           data-judge="{{ url_for('problem.question_view', question_type='judge', cid=r[6]) }}"
                                           data-essay="{{ url_for('problem.question_view', question_type='essay', cid=r[6]) }}"
                                           data-choice-count="{{ r[2] }}" data-fill-count="{{ r[3] }}"
                                           data-judge-count="{{ r[4] }}"
                                           data-essay-count="{{ r[5] }}">开始做题</a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="q-type-choose" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">题型选择</h4>
                </div>
                <div class="modal-body text-center">
                    <a id="choice" class="btn btn-primary">选择题<strong></strong></a>
                    <a id="fill" class="btn btn-primary">填空题<strong></strong></a>
                    <a id="judge" class="btn btn-primary">判断题<strong></strong></a>
                    <a id="essay" class="btn btn-primary">问答题<strong></strong></a>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('a[data-id=start]').click(function () {
                var name = ['choice', 'fill', 'judge', 'essay'];
                for (var i = 0; i < name.length; i++) {
                    var q_type_name = $('#' + name[i]);
                    if (Number($(this).data(name[i] + '-count')) == 0) {
                        q_type_name.hide();
                        q_type_name.attr('href', null);
                        q_type_name.find('strong').eq(0).text('');
                    }
                    else {
                        q_type_name.attr('href', $(this).data(name[i]));
                        q_type_name.find('strong').eq(0).text("(" + $(this).data(name[i] + '-count') + ")");
                        q_type_name.show();
                    }
                }
                $('#q-type-choose').modal('show');
            });
        });
    </script>
{% endblock %}

{#rows#}