{% extends 'base.html' %}

{% block header_ext %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.1/semantic.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.semanticui.min.js"></script>
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.1/semantic.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.semanticui.min.css">
{% endblock %}

{% block content %}

    <div id="content-container" class="container">
        <ol class="breadcrumb breadcrumb-o" style="margin-top:-18px">
            <li><a href="/">{{ _('Index') }}</a></li>
            <li><a href="{{ url_for('problem.index') }}">{{ _('Practice Center') }}</a></li>
            <li class="active"><a href="{{ url_for('problem.show_program') }}">{{ _('Program Lists') }}</a></li>
        </ol>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="ui celled table" cellspacing="0" id="problem">
                        <thead>
                        <tr>
                            <th>{{ _('ID') }}</th>
                            <th>{{ _('Description') }}</th>
                            <th>{{ _('Difficulty') }}</th>
                            <th>{{ _('AcceptNum') }}</th>
                            <th>我的提交次数</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in problems %}
                            <tr>
                                <td><a href="{{ p.id }}">{{ p.id }}</a></td>
                                <td><a href="{{ p.id }}">{{ p.title }}</a></td>
                                <td>{{ p.difficulty }}</td>
                                <td>{{ p.acceptedNum }}</td>
                                {% if p.id in count %}
                                    <td><a href="{{ url_for('problem.show_my_submits',pid=p.id,uid=current_user.id) }}">{{ count[p.id] }}</a></td>
                                {% else %}
                                    <td>0</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_ext %}
    <script>
        $(document).ready(
                function () {
                    $('#problem').DataTable({
                        language: {
                            url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Chinese.json"
                        },
                    });
                });
    </script>

{% endblock %}

{#problems#}
{#count数组:记录当前用户每道题的提交次数，作为参数从show_program传递过来#}