<div class="special-project-sheet">
    <div class="panel hidden-xs">
        <div class="panel-body">
            <div class="clock-box">
                <div class="time-clk-area">
                    <span style="font-size: 17px">用时:</span>
                    <span id="clock" class="time-clock">00:00:00</span>
                </div>
                <div class="pause-clock">
                    <a class="btn" id="pause">暂停</a>
                </div>
            </div>

            <div class="btn-block hidden-xs show-solution">
                <a class="btn" id="show-solution" style="text-align: center">
                    查看答案
                </a>
            </div><!--查看答案-->

            <div class="btn-group btn-block hidden-xs" style="border-bottom: solid 1px #E0E0E0">
                <div class="change-practice">
                    <a class="btn disabled" id="lastProblem">上一题</a>
                    <a class="btn {% if count==1 %}disabled{% endif %}" id="nextProblem">下一题</a>
                </div>
            </div><!--题目切换-->

            <div class="choose-practice">
                <select class="selectpicker">
                    {% for i in range(count) %}
                        {% if loop.index % 8 == 0 %}
                            <option>{{ loop.index - 7 }}-{{ loop.index }}</option>
                        {% elif loop.index == count %}
                            <option>{{ loop.index - loop.index % 8 + 1 }}-{{ loop.index }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div id="question-index">
                    {% for i in range(count) %}
                        <a class="btn btn-default practice-index"
                           data-id="{{ loop.index }}">{{ loop.index }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="btn-block hidden-xs">
                <div class="submit-btn">
                    <a class="btn btn-primary btn-block" id="submit">提交</a>
                </div>
            </div>

        </div>
    </div>
</div>