{% for judge in essays %}
    <div class="panel" data-name="essay" data-id="{{loop.index}}" data-type="{{ judge.type }}" style="display: {% if loop.index != 1 %}none{% endif %}">
        {% with question=judge %}
            <div class="panel-heading media" style="border-bottom: solid 1px #ddd">
                {% with index=loop.index %}
                    {% include 'problem/widget_practice_title.html' %}
                {% endwith %}
            </div>
            <div class="panel-body media-body">
                {% include 'course/widget_paper_question_detail.html' %}
            </div>
        {% endwith %}

        <div style="text-align: right">
            <a class="btn btn-primary" style="width: 100px" data-id="confirm">
                确认
            </a>
        </div>
        <div class="practice-solution" data-id="solution">参考答案： {{ judge.solution }}</div>
    </div>
{% endfor %}


<script>
    var practice_count = {{ essays | count }};
    var address = "{{ url_for('problem.show_question') }}";
</script>

<script src="{{ url_for('static', filename='js/problem/utility_func.js') }}" ></script>
<script src="{{ url_for('static', filename='js/problem/practice_card.js') }}" ></script>
<script src="{{ url_for('static', filename='js/problem/essay_detail.js') }}"></script>