{% for choice in choices %}
    <div class="panel" data-name="choice" data-id="{{loop.index}}" data-type="{{ choice.type }}" style="display: {% if loop.index != 1 %}none{% endif %}">
        <div class="panel-heading media" style="border-bottom: solid 1px #e1e1e1">
            <img class="choice-result-icon" data-id="choice_correct" src="/static/images/problem/choice/choice_correct.png" style="display: none">
            <img class="choice-result-icon" data-id="choice_wrong" src="/static/images/problem/choice/choice_wrong.png" style="display: none">
            <div class="pull-left">{{loop.index}}. </div>
            <div>
            <span class="color-primary">
                {% if choice.type == 0 %}
                    (单选题)
                {% elif choice.type == 1 %}
                    (多选题)
                {% elif choice.type == 2 %}
                    (不定向选择)
                {% endif %}
            </span>
                <span>{{ choice | get_question_content }}</span>
            </div>
        </div>


        {% with question=choice %}
            <div class="panel-body media-body">
                {% include 'course/widget_paper_question_detail.html' %}
            </div>
        {% endwith %}

        <div style="text-align: right">
            <a class="btn btn-primary" style="width: 100px" data-id="confirm">
                确认
            </a>
        </div>
        <div data-id="solution" style="display: none;font-size: 20px" data-solution="{{ choice.solution }}">参考答案： {{ choice.solution }}</div>
    </div>
{% endfor %}

<script>
    var practice_count = {{ practices | count }};
    var address = "{{ url_for('problem.show_question') }}";
</script>

<script src="{{ url_for('static', filename='js/problem/utility_func.js') }}" ></script>
<script src="{{ url_for('static', filename='js/problem/practice_card.js') }}" ></script>
<script src="{{ url_for('static', filename='js/problem/choice_detail.js') }}"></script>