<img class="choice-result-icon" data-id="choice_correct" src="/static/images/choice_correct.png" style="display: none">
<img class="choice-result-icon" data-id="choice_wrong" src="/static/images/choice_wrong.png" style="display: none">
<div style="margin-bottom: 5px;width: 94%">
    <div class="pull-left" data-id="num-id" style="font-weight: bold;width: 6%">{{ index }}<span>、 </span></div>
    {% if question.type == 0 or question.type == 1 or question.type == 2%}
        <div class="pull-right markdown-body" style="width: 93%">
            <span class="color-primary">
                {% if question.type == 0 %}
                    (单选题)
                {% elif question.type == 1 %}
                    (多选题)
                {% elif question.type == 2 %}
                    (不定向选择)
                {% endif %}
            </span>
            <span data-id="question-title" data-to-render="{{ question | get_question_content }}"></span>
        </div>
    {% elif question.type == 3%}
        <div data-id="question-title" class="pull-right markdown-body" style="width: 93%" data-id="fill-id" data-len="{{ question.solution | get_fill_solution_len }}" data-to-render="{{ question.content | split_fill }}"></div>
    {% elif question.type == 4 or question.type == 5%}
        <div data-id="question-title" class="pull-right markdown-body" style="width: 93%" data-to-render="{{ question.content }}"></div>
    {% endif %}
</div>