{% extends 'base.html' %}

{% block content %}
    <div id="content-container" class="container">
        <div class="article-list-body row">
            <div class="col-md-10 col-offset-1">
                <section class="es-section">
                    <div class="article-list">
                        <article class="article-item">
                            <div class="article-metas clearfix">
                                <div class="pull-left">
                                    <div class="date">
                                        <div class="day">20</div>
                                        <div class="month">10月</div>
                                    </div>
                                </div>
                                <div class="metas-body">
                                    <p>
                                        <a class="link-light" href="/article/category/news">行业动态</a>
                                    </p>
                                    <h2 class="title">
                                        <a class="link-dark" href="/article/238">【观察】在线教育，真的可以为教育发展带来新契机吗？</a>
                                    </h2>
                                </div>
                            </div>
                            <div class="content">
                                当前，“互联网+”是个热词。“互联网+”正影响并改变着各行各业，越来越多的传统产业在与互联网技术的融合中发生了新变化、形成了新格局、出现了新业态。同样，“互联网+”也为教育发展带来了重大的新契机。
                                作为“互联网+教育...
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="container">
        {% if article_list %}
            <h2>最新资讯</h2>
            {% for article in article_list %}


                <article class="article-item">
                    <div class="article-metas clearfix">
                        <div class="pull-left">
                            <div class="date">
                                <div class="day">{{ article.visitNum }}</div>
                                <div class="month">hits</div>
                            </div>
                        </div>
                        <div class="metas-body">
                            <h2 class="title">
                                <a class="link-dark" href="/article/{{ article.id }}">{{ article.title[:40] }}</a>
                            </h2>
                        </div>
                    </div>
                    <div class="content">
                        {{ article.content[:200] }}
                    </div>
                </article>

            {% endfor %}

        {% else %}
            <h2>暂无资讯信息</h2>
        {% endif %}

    </div>
{% endblock %}

